
/* ESTILO MONITOR REPARO */
/* latin-ext */

/* fonte MONITOR REPARO */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://www.versatec.com.br/estalo/homologacao-versatil/fonts/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://www.versatec.com.br/estalo/homologacao-versatil/fonts/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://www.versatec.com.br/estalo/homologacao-versatil/fonts/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://www.versatec.com.br/estalo/homologacao-versatil/fonts/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* fim fonte MONITOR REPARO */
/* reparo2.css  MONITOR REPARO */
@import url('normalize.css');
/*@import url('demo.css');*/

#chart-container {
	width: 1000px; 
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding: 20px 30px;
}

body {
	font-family: 'Lato', Arial, sans-serif;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	text-align: center;
	background-color: #000000;
}

#header .left {
	float: left;
	width: 100px;
	margin-top: -20px;
}

#header .right {
	float: right;
	width: 100px;
	margin-top: -20px;
}

#header .center {
	color: #ccc;
	/* font-weight: 300; */
	font-weight: bold;
	/*text-shadow: 0 1px 1px rgba(255,255,255,0.8);*/
	font-size: 28px;
}

#progresso {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
}

.tela {
	position: absolute;
	top: 35px;
	width: 100%;
	/* visibility: hidden; */
}

#tela0 {
	left: 0;
}

#tela1 {
	left: -3000px;
}

#tela2 {
	left: -3000px;
}

#tela3 {
	left: -3000px;
}

#tela4 {
	left: -3000px;
}

#mapa {
	position: absolute;
	left: 20px;
	top: 150px;
	width: 50%;
}

.progressBar rect.background {
	fill: yellow;
}

.progressBar rect.foreground {
	fill: orange;
}

.tela h1 {
	display: none;
}
/*
.tela h1 {
	text-align: center;
	color: #444;
	margin: 0 0 10px;
	/ * font-weight: 300; * /
	font-weight: bold;
	padding-top: 40px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 28px;
}
*/

.canto-sup-dir {
	position: absolute;
	top: 750px;
	right: 30px;
	height: 50px;
}

text.legend {
	font-size: 14px;
}

.ultimas10hUFComparativo {
	position: absolute;
	top: 40px;
	left: 0;
	width: 25%;
	height: 700px;
}

.ultimas10hUF {
	position: absolute;
	top: 40px;
	left: 25%;
	width: 25%;
	height: 700px;
}

.ultima1hUF {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 50%;
	height: 700px;
}

#tudoDDDAnterior {
	position: absolute;
	top: 40px;
	left: 0;
	width: 50%;
	height: 700px;
}

#tudoDDD {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 50%;
	height: 700px;
}

.ultimas10hUFComparativo h2,
.ultimas10hUF h2,
.ultima1hUF h2 {
	text-align: center;
	color: #444;
	margin: 0 0 10px;
	/*font-weight: 300; */
	font-weight: bold;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

#barras-regiao {
	position: absolute;
	left: 20px;
	top: 40px;
	width: 50%;
	height: 100px;
}

#barras-ddd {
	position: absolute;
	top: 40px;
	left: 720px;
	width: 50%;
	height: 600px;
}

#barras-regiao2 {
	position: absolute;
	left: 20px;
	top: 40px;
	width: 50%;
	height: 100px;
	display: none;
}

#barras-ddd2 {
	position: absolute;
	top: 40px;
	left: 720px;
	width: 50%;
	height: 600px;
	display: none;
}

.barChart rect {
	fill: steelblue;
}

.barChart text {
	fill: white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 10px;
	text-anchor: end;
}

.groupedBarChart .legend {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	text-anchor: start;
}

.groupedBarChart text {
	fill: white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-anchor: end;
}

.groupedBarChart .external {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-anchor: start;
}

.groupedBarChart .label {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	text-anchor: end;
}

.groupedBarChart .groupedBar.over .label {
	font-weight: bold;
}

.groupedBarChart .groupedBar.over .bar {
	/* fill: brown; */
}

.groupedBarChart .groupedBar:hover .label {
	font-weight: bold;
}

.groupedBarChart .groupedBar:hover .bar {
	/* fill: brown; */
}

.groupedBarChart .axis path,
.groupedBarChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/*
#tudo .axis path,
#tudo .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#tudo .area {
	fill: steelblue;
	fill-opacity: 0.7;
}
*/

.areaChart svg {
	font-family: 'Lato', Arial, serif;
	font-size: 10px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.areaChart text.title {
	font-size: 20px;
	font-weight: bold;
}

.areaChart text.instructions {
	font-size: 16px;
}

.areaChart g path.chart.line {
	fill: none;
	stroke-width: 2px;
}

.areaChart g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

.areaChart g.context g.axis path {
	stroke-opacity: 0;
}

.areaChart g.context g.axis line {
	stroke-opacity: .1;
}

.areaChart g path.chart {
	fill: rgba(201,127,127,0.5);
}

.areaChart g path.chart.qtdReparosFixo {
	/*fill: #aa0000;*/
	/*fill-opacity: 0.5;*/
}

.areaChart g path.chart.qtdReparosVelox {
	/*fill: #0000cc;*/
	/*fill-opacity: 0.5;*/
}

.areaChart g path.chart.qtdReparosTV {
	/*fill: yellow;*/
	/*fill-opacity: 0.5;*/
}

.areaChart .axis path,
.areaChart .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.areaChart .brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.areaChart g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}

.singleAreaChart .axis path,
.singleAreaChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.singleAreaChart {
	fill: steelblue;
}

/*  normalize.css  MONITOR REPARO */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
/* fim normalize.css  MONITOR REPARO */

/* fim reparo2.css  MONITOR REPARO */
/* FIM ESTILO MONITOR REPARO */