@import url('normalize.css');
/*@import url('demo.css');*/

#chart-container {
	width: 1000px; 
	margin: 0 auto 50px auto;
	background: rgba(255,255,255,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	padding: 20px 30px;
}

body {
	font-family: 'Lato', Arial, sans-serif;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	text-align: center;
	background-color: #333;
}

#header .left {
	float: left;
	width: 100px;
	margin-top: -20px;
}

#header .right {
	float: right;
	width: 100px;
	margin-top: -20px;
}

#header .center {
	color: #ccc;
	/* font-weight: 300; */
	font-weight: bold;
	/*text-shadow: 0 1px 1px rgba(255,255,255,0.8);*/
	font-size: 28px;
}

#progresso {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
}

.tela {
	position: absolute;
	top: 70px;
	width: 100%;
	/* visibility: hidden; */
}

#tela0 {
	left: 0;
}

#tela1 {
	left: -3000px;
}

#tela2 {
	left: -3000px;
}

#tela3 {
	left: -3000px;
}

#tela4 {
	left: -3000px;
}

#mapa {
	position: absolute;
	left: 20px;
	top: 150px;
	width: 50%;
}

.progressBar rect.background {
	fill: yellow;
}

.progressBar rect.foreground {
	fill: orange;
}

.tela h1 {
	display: none;
}
/*
.tela h1 {
	text-align: center;
	color: #444;
	margin: 0 0 10px;
	/ * font-weight: 300; * /
	font-weight: bold;
	padding-top: 40px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 28px;
}
*/

.canto-sup-dir {
	position: absolute;
	top: 750px;
	right: 30px;
	height: 50px;
}

text.legend {
	font-size: 20px;
}

.ultimas10hUFComparativo {
	position: absolute;
	top: 40px;
	left: 0;
	width: 25%;
	height: 700px;
}

.ultimas10hUF {
	position: absolute;
	top: 40px;
	left: 25%;
	width: 25%;
	height: 700px;
}

.ultima1hUF {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 50%;
	height: 700px;
}

#tudoDDDAnterior {
	position: absolute;
	top: 40px;
	left: 0;
	width: 50%;
	height: 700px;
}

#tudoDDD {
	position: absolute;
	top: 40px;
	left: 50%;
	width: 50%;
	height: 700px;
}

.ultimas10hUFComparativo h2,
.ultimas10hUF h2,
.ultima1hUF h2 {
	text-align: center;
	color: #444;
	margin: 0 0 10px;
	/*font-weight: 300; */
	font-weight: bold;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 24px;
}

#barras-regiao {
	position: absolute;
	left: 20px;
	top: 40px;
	width: 50%;
	height: 100px;
}

#barras-ddd {
	position: absolute;
	top: 40px;
	left: 720px;
	width: 50%;
	height: 600px;
}

#barras-regiao2 {
	position: absolute;
	left: 20px;
	top: 40px;
	width: 50%;
	height: 100px;
	display: none;
}

#barras-ddd2 {
	position: absolute;
	top: 40px;
	left: 720px;
	width: 50%;
	height: 600px;
	display: none;
}

.barChart rect {
	fill: steelblue;
}

.barChart text {
	fill: white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 10px;
	text-anchor: end;
}

.groupedBarChart .legend {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	text-anchor: start;
}

.groupedBarChart text {
	fill: white;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-anchor: end;
}

.groupedBarChart .external {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	text-anchor: start;
}

.groupedBarChart .label {
	fill: black;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	text-anchor: end;
}

.groupedBarChart .groupedBar.over .label {
	font-weight: bold;
}

.groupedBarChart .groupedBar.over .bar {
	/* fill: brown; */
}

.groupedBarChart .groupedBar:hover .label {
	font-weight: bold;
}

.groupedBarChart .groupedBar:hover .bar {
	/* fill: brown; */
}

.groupedBarChart .axis path,
.groupedBarChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/*
#tudo .axis path,
#tudo .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#tudo .area {
	fill: steelblue;
	fill-opacity: 0.7;
}
*/

.areaChart svg {
	font-family: 'Lato', Arial, serif;
	font-size: 10px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.areaChart text.title {
	font-size: 20px;
	font-weight: bold;
}

.areaChart text.instructions {
	font-size: 16px;
}

.areaChart g path.chart.line {
	fill: none;
	stroke-width: 2px;
}

.areaChart g.context g.brush rect.background {
	fill: rgba(0,0,0,.1);
}

.areaChart g.context g.axis path {
	stroke-opacity: 0;
}

.areaChart g.context g.axis line {
	stroke-opacity: .1;
}

.areaChart g path.chart {
	fill: rgba(201,127,127,0.5);
}

.areaChart g path.chart.qtdReparosFixo {
	/*fill: #aa0000;*/
	/*fill-opacity: 0.5;*/
}

.areaChart g path.chart.qtdReparosVelox {
	/*fill: #0000cc;*/
	/*fill-opacity: 0.5;*/
}

.areaChart g path.chart.qtdReparosTV {
	/*fill: yellow;*/
	/*fill-opacity: 0.5;*/
}

.areaChart .axis path,
.areaChart .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

.areaChart .brush .extent {
	stroke: #f09f8c;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.areaChart g.context rect.background{
	fill: rgb(200,200,255);
	visibility: visible !important;
}

.singleAreaChart .axis path,
.singleAreaChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.singleAreaChart {
	fill: steelblue;
}