<title>Ajuda</title>
<!-- Bootstrap -->
<!-- <link href="{{baseUrl}}css/estilo1.css" rel="stylesheet" media="screen">
<link href="{{baseUrl}}css/bootstrap-responsive.css" rel="stylesheet"> -->
<style>
  li {
    cursor: pointer;
  }
</style>
</head>

<body>
  <br>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class="table table-striped">
          <tr>
            <th>Manuais</th>
          </tr>
          <tr>
            <td>
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="obj in objLinks" id="manual{{$index}}">
                  <a ng-click="trocaAtivo($index)">{{obj.nome}}
                    <span class="pull-right" ng-bind-html-unsafe="setaDireita"></span>
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <br>
        <table class="table table-striped">
          <tr>
            <th>Contato</th>
          </tr>
          <tr>
            <td>
              <a href="mailto:suporte@versatec.com.br" target="_top">suporte@versatec.com.br</td>
          </tr>
        </table>
      </div>
      <div class="span9">
        <!--Body content-->
        <iframe id="iframeDireita" src="" width="100%" height="620"></iframe>
      </div>
    </div>
  </div>
</body>
</html>