<style type="text/css">
	/*.rowDetalhes{
		white-space: normal !important;
		height: auto;
		min-height: 40px;
		max-height: 80px;
		word-wrap:break-word;
		vertical-align: center;
	}
	.modal-body{
		max-height: 600px;

	}*/
	
	body{
		overflow: hidden !important;
	}
	

</style>
<!-- Estalo analise -->
<div id="pag-ICs" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
		<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
	  <div class="container" style="width:auto;">
		<!--a class="brand" href="#">Estalo</a-->
		<ul class="nav">		  
          <li lista-relatorios></li> 
          <form class="navbar-form" id="btnAjuda" style="position: fixed; right: 65px;">
							<!-- ng-click="listaChamadas()" -->
							<button class="btn" ng-click="abreAjuda(1)" title="Abre uma página com manuais de ajuda." style="padding: 5px 8px 5px 7px;"><font size="small"><i class="icon-question-sign"></i></font>
							</button>
						</form>
					</li>
		</ul>
	  </div>
	</div>
  </div>

	
	 
  <div class="container-fluid">	
  
		  <div class="container step1">
					<div class="row bs-wizard" style="border-bottom:0;">
						
						<div class="span4 bs-wizard-step" ng-class="step1"><!-- complete / active / disabled -->
						
						  <div class="text-center bs-wizard-stepnum">Importar</div>
						  
						  <div class="progress" ng-show="(!aplicacoes||aplicacoes==null||aplicacoes=='')&&ICData.length==0"><div class="bar"  ></div></div>
						  <div class="progress" ng-show="(aplicacoes&&aplicacoes!='')&&ICData.length==0"><div class="bar"  style="width:50%"></div></div>
						  <div class="progress" ng-show="ICData.length!=0"><div class="bar" style="width:100%"></div></div>
						  <span class="bs-wizard-dot"></span>
						 
						</div>
						
						<div class="span4 bs-wizard-step disabled" ng-class="step2"><!-- complete -->
						  <div class="text-center bs-wizard-stepnum">Validar</div>
						  <div class="progress" ng-show="step2!='completed'"><div class="bar"></div></div>
						  <div class="progress" ng-show="ICData.length!=0&&step2=='completed'"><div class="bar"  style="width:100%"></div></div>
						  <span class="bs-wizard-dot"></span>
						  
						</div>
						
						<div class="span4 bs-wizard-step disabled" ng-class="step3"><!-- complete -->
						  <div class="text-center bs-wizard-stepnum">Completo</div>
						  <div class="progress" ng-show="step3!='completed'"><div class="bar"></div></div>
						  <div class="progress" ng-show="ICData.length!=0&&step3=='completed'"><div class="bar"  style="width:100%"></div></div>
						  <span class="bs-wizard-dot"></span>
						  <span class="bs-wizard-dot"></span>
						</div>
					</div>
					
			<div class="ICAlert">
			  <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
			  <strong>Atenção!</strong> utilize o <a href='http://www.versatec.com.br/downloads/bases/TemplateIC.xlsx'>template <i class="fa fa-download"></i></a> da Versátil para utilizar a tela cadastro de ICs. 
				<!-- <a href='http://www.versatec.com.br/downloads/bases/TemplateIC.xlsx'><i class="icon-download-alt"></i></a> -->
			</div>
			
			
			</div>
			
		<div class="row step1" ng-show="ICData.length==0">
				<div class="span6"></div>
					<div class="span4">
						<ul class="nav">
						

							<li style="padding-left: 5px;display: inline-block; float: right; margin-top:3px;">
								<label for="ICInput" class="btn labelBtn" title="">
									Selecionar arquivo
								</label>
								
																
								<input accept=".xls,.xlsx" type="file" class="form-control hide" name="ICInput" id="ICInput" ng-disabled="!aplicacoes||aplicacoes==null||aplicacoes==''" />
							</li>
                
                	<li style="padding-left: 5px; display: inline-block; 5px; float: right;">
								<form class="navbar-form">
									<div>
										<select ng-model="aplicacoes" class="filtro-aplicacao selectpicker span1_3" multiple="" title="Aplicações">
										</select>
									</div>
								</form>
							</li>
              
							<li style="padding-left: 5px;margin-top: 5px;" ng-show="ICData.length != 0">
							</li>
						</ul>
					</div>
				<div class="span2"></div>
		</div>
		
		  
		  <div class="row step2 clearfix" ng-show="ICData.length!=0&&step2!='completed'">
        <div ui-grid="gridIC" ui-grid-auto-resize class="grid clearfix"></div>
		  </div>
  </div>
  	  <div class = "notification"">
		<!--<div class="alert alert-info" ng-show="ICData.length==0">
			<button type="button" class="close">&times;</button>
			<span ng-bind-html='info_status'></span>
		</div>-->
		<ul class="pager clearfix" ng-show="ICData.length!=0&&step2!='completed'">
		  <li class="previous">
				<button class="btn btn-danger cancelBtn" data-loading-text="..." ng-model="prevButton" ng-click="emptyData()" title="Cancelar cadastro de IC's">
					&larr; Cancelar
				</button>
		  </li>
		  <li class="next">
				<button class="btn btn-info confirmBtn" data-loading-text="..." title="Realizar cadastro de IC's" ng-model="nextButton" ng-click="registraICs()">Confirmar &rarr;
				</button>
		  </li>
		</ul>
		
		<ul class="pager clearfix" ng-show="step2=='completed'">
		  <!--<li class="previous">
				<button class="btn btn-danger cancelBtn" data-loading-text="..." ng-model="prevButton" ng-click="emptyData()" title="Cancelar cadastro de IC's">
					&larr; Cancelar
				</button>
		  </li>-->
		  <li class="">
				<button class="btn btn-primary confirmBtn" data-loading-text="..." title="Realizar cadastro de IC's" ng-model="clearButton" ng-click="emptyData()">Cadastrar nova planilha
				</button>
		  </li>
		</ul>
		
	  </div>
	
	  <div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc"><!--{{status_progress_bar}}--></div>
	  </div>	  
  </div>
  
  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>
