<!-- Estalo analise -->
<div id="pag-cadastro-usuarios" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="logoCliente">
      <div class="versao">{{versao}}</div>
    </div>
    <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <ul class="nav">
          <li lista-relatorios></li>         
          <li>
            <form class="navbar-form">
              <button class="btn btn-novo-usuario" title="Criar novo usuário" ng-click="abreModalNovoUsuario();">Novo Usuário</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
						<form class="navbar-form">
							<button href="#modal-requests" data-toggle="modal" class="btn btn-request"
								data-loading-text="..." title="Solicitação de Usuários">
								<i class="icon-user" aria-hidden="true"></i>
								<span class="badge" ng-bind="solicitacoes.length"
									ng-show="solicitacoes.length>0"></span>
							</button>
						</form>
					</li>
          <form class="navbar-form" id="btnAjuda" style="position: fixed; right: 65px;">
            <button class="btn" ng-click="abreAjuda(1)" title="Abre uma página com manuais de ajuda." style="padding: 5px 8px 5px 7px;">
              <font size="small">
                <i class="icon-question-sign"></i>
              </font>
            </button>
          </form>
          </li>
          <!-- <li>
            <button class="btn" type="button" ng-click="abreModalGrupos();">Editar Grupos</button>
          </li> -->
        </ul>
      </div>
    </div>
  </div>



  <div class="container-fluid">
    <div class="row-fluid">
      <!-- <div class="notification" style="z-index:2;">
        <div class="alert alert-info">
          <button type="button" class="close">&times;</button>
          <span ng-bind-html='info_status'></span>
        </div>
      </div> -->

      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc">
          <!--{{status_progress_bar}}-->
        </div>
      </div>

      <div ag-grid="gridUsuarios" class="ag-theme-fresh" style="height:590px; margin-top:80px;"></div>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 75px;">
    <div id="modal-edicao" class="modal modal-view hide fade">
      <!-- Modal de edição de usuário e permissões -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edição de Usuário
          <small ng-bind="usuarioSelecionado.login"></small> -
          <small ng-bind="usuarioSelecionado.nome"></small>
        </h3>
      </div>

      <ul id="editTabs" class="nav nav-tabs">
        <li class="active">
          <a href="#userTab" data-toggle="tab" target="_self" ng-click="mostrarInputCopia = false">Usuário</a>
        </li>
        <li>
          <a href="#permTab" data-toggle="tab" target="_self" ng-click="mostrarInputCopia = true">Permissões</a>
        </li>
        <div style="float:right; margin-top:5px;" ng-if="mostrarInputCopia">
          <form class="form-horizontal" style="margin-bottom:0;">
            <div class="control-group" style="margin-bottom:0;">
              <!-- <label class="control-label" for="loginCopia"><small>Insira login para cópia de permissões:</small></label> -->
              <div class="controls">
                <input type="text" id="loginCopia" placeholder="Login para copiar permissões" ng-model="loginCopiaPermissoes">
                <button ng-click="copiarPermissoes(loginCopiaPermissoes)">Copiar</button>
              </div>
            </div>
          </form>
        </div>
      </ul>

      <div id="divTab" class="tab-content">
        <div id="userTab" class="modal-body tab-pane">
          <div class="clearfix">
            <br/></br>
          </div>
          <form name="UserController" class="form-horizontal navbar-form">
            <div class="span1">
            </div>
            <div class="span6">
              <label class="form-label" for="Login">Login</label>
              <div class="form-controls">
                <input name="Login" class="input-xlarge registerLogin" ng-model="usuarioSelecionado.login" placeholder="OI-XXY" pattern="[A-Za-z0-9._]+"
                  maxlength="30" type="text" required/>
              </div>

              <label class="form-label" for="Nome">Nome</label>
              <div class="form-controls">
                <input name="Nome" class="input-xlarge" ng-model="usuarioSelecionado.nome" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]"
                  type="text" required>
              </div>

              <label class="form-label" for="Email">E-mail</label>
              <div class="form-controls">
                <input name="Email" class="input-xlarge registerEmail" ng-model="usuarioSelecionado.email" placeholder="exemplo@oi.net.br"
                  maxlength="80" type="email">
              </div>
            </div>

            <div class="span4">

              <label class="form-label" for="Dominio">Domínio</label>
              <div class="form-controls">
                <input name="Dominio" class="input-medium registerDominio" ng-model="usuarioSelecionado.dominio" placeholder="Oi" maxlength="20"
                  pattern="[a-zA-Z0-9\-\s]+" type="text" required>
              </div>

              <label class="form-label" for="Telefone">Telefone</label>
              <div class="form-controls">
                <input name="Telefone" class="input-medium registerTelefone" ng-model="usuarioSelecionado.telefone" placeholder="Telefone com DDD e sem dígitos"
                  data-mask="(00) 00000-0000" maxlength="15" type="tel">
              </div>

              <label class="form-label" for="Empresa">Empresa</label>
              <div class="form-controls">
                <input name="Empresa" class="input-medium registerEmpresa" ng-model="usuarioSelecionado.empresa" placeholder="Oi" maxlength="20"
                  pattern="[a-zA-Z0-9\s]+" list="Empresas" type="text" required>
                <datalist id="Empresas">
                  <option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
                </datalist>
              </div>

            </div>
          </form>
          <div class="clearfix">
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
          </div>
        </div>

        <div id="permTab" class="modal-body tab-pane in active" style="padding-top:0;">
          <div ag-grid="gridPermissoes" class="ag-theme-fresh" style="height:435px;"></div>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
        <a class="btn close" data-dismiss="modal">Fechar</a>
        <button class="btn-salvar btn btn-success loadingButton hide" type="button">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
        </button>
        <button class="btn-salvar btn btn-success" type="button" ng-click="atualizarUsuario()">Salvar Usuário</button>
        <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
      </div>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 75px;">
    <div id="modal-novo-usuario" class="modal modal-view hide fade">
      <!-- Modal de criação de novo usuário -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Novo Usuário
          <small ng-bind="novoUsuario.login"></small> -
          <small ng-bind="novoUsuario.nome"></small>
        </h3>
      </div>

      <ul id="newEditTabs" class="nav nav-tabs">
        <li class="active">
          <a href="#newUserTab" data-toggle="tab" target="_self" ng-click="mostrarInputCopia = false">Usuário</a>
        </li>
        <li>
          <a href="#newPermTab" data-toggle="tab" target="_self" ng-click="mostrarInputCopia = true">Permissões</a>
        </li>
        <div style="float:right; margin-top:5px;" ng-if="mostrarInputCopia">
          <form class="form-horizontal" style="margin-bottom:0;">
            <div class="control-group" style="margin-bottom:0;">
              <div class="controls">
                <input type="text" id="newLoginCopia" placeholder="Login para copiar permissões" ng-model="loginCopiaPermissoesNovo">
                <button ng-click="copiarPermissoesNovoUsuario(loginCopiaPermissoesNovo)">Copiar</button>
              </div>
            </div>
          </form>
        </div>
      </ul>

      <div id="newDivTab" class="tab-content">
        <div id="newUserTab" class="modal-body tab-pane">
          <div class="clearfix">
            <br/></br>
          </div>
          <form name="UserController" class="form-horizontal navbar-form">
            <div class="span1">
            </div>
            <div class="span6">
              <label class="form-label" for="Login">Login</label>
              <div class="form-controls">
                <input name="Login" class="input-xlarge registerLogin" ng-model="novoUsuario.login" placeholder="OI-XXY" pattern="[A-Za-z0-9._]+"
                  maxlength="30" type="text" required/>
              </div>

              <label class="form-label" for="Nome">Nome</label>
              <div class="form-controls">
                <input name="Nome" class="input-xlarge" ng-model="novoUsuario.nome" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]"
                  type="text" required>
              </div>

              <label class="form-label" for="Email">E-mail</label>
              <div class="form-controls">
                <input name="Email" class="input-xlarge registerEmail" ng-model="novoUsuario.email" placeholder="exemplo@oi.net.br" maxlength="80"
                  type="email">
              </div>
            </div>

            <div class="span4">
              <label class="form-label" for="Dominio">Domínio</label>
              <div class="form-controls">
                <input name="Dominio" class="input-medium registerDominio" ng-model="novoUsuario.dominio" placeholder="Oi" maxlength="20"
                  pattern="[a-zA-Z0-9\-\s]+" type="text" required>
              </div>

              <label class="form-label" for="Telefone">Telefone</label>
              <div class="form-controls">
                <input name="Telefone" class="input-medium registerTelefone" ng-model="novoUsuario.telefone" placeholder="(21) 99999-9999"
                  pattern="[\(]\d{2}[\)]\s?\d{4,5}[\-]\d{4}" maxlength="15" type="tel">
              </div>

              <label class="form-label" for="Empresa">Empresa</label>
              <div class="form-controls">
                <input name="Empresa" class="input-medium registerEmpresa" ng-model="novoUsuario.empresa" placeholder="Oi" maxlength="20"
                  pattern="[a-zA-Z0-9\s]+" list="Empresas" type="text" required>
                <datalist id="newEmpresas">
                  <option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
                </datalist>
              </div>
            </div>
          </form>
          <div class="clearfix">
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
          </div>
        </div>

        <div id="newPermTab" class="modal-body tab-pane in active" style="padding-top:0;">
          <div ag-grid="gridPermissoesNovoUsuario" class="ag-theme-fresh" style="height:435px;"></div>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
        <a class="btn close" data-dismiss="modal">Fechar</a>
        <button class="btn-salvar btn btn-success loadingButton hide" type="button">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
        </button>
        <button class="btn-salvar btn btn-success" type="button" ng-click="salvaNovoUsuario()">Salvar Usuário</button>
      </div>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 75px;">
    <div id="modal-requests" class="modal hide fade modal-requests">
      <!-- Modal de solicitação de cadastro de usuário -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Solicitações de cadastro de usuário (<span ng-bind="solicitacoes.length"></span>)</h3>
      </div>
    
      <div class="alert alertBlock hide fade in registerAlert clearFix">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <!-- <h5>Aviso!</h5> -->
        <span class="registerAlertText" ngModel="registerAlert"></span>
      </div>
    
      <div class="modal-body userForm">
    
        <!--<div class="span8">-->
        <div id="gridRequests" ng-grid="gridRequests"></div>
        <!--</div>-->
      </div>
      <div class="modal-footer">
        <a class="btn close" data-dismiss="modal">Cancelar</a>
        <!--href="#"-->
        <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
      </div>
    </div>
    <!-- Fim do modal de solicitação de cadastro de usuário -->    
  </div>

  <div id="modal-userRequest" class="modal modal-view hide fade"><!-- Modal de autorização para solicitação de cadastro de usuário -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Solicitação de cadastro de usuário <small ng-bind="reqLogin"></small> - <small ng-bind="reqNome"></small></h3>
		  </div>
		  
		<!--<ul id="editTabs" class="nav nav-tabs">
			<li><a href="#permReqTab" data-toggle="tab" target="_self">Permissões</a></li>
      <li class="active"><a href="#requestTab" data-toggle="tab" target="_self">Usuário</a></li>
			 <li><a href="#groupTab" data-toggle="tab" target="_self">Grupos</a></li>
		</ul> -->
    	<!--<div id="divTab" class="modal-body tab-content">
      
		  <div id="requestTab" class="modal-body tab-pane  in active">
        <form name="UserController" class="form-horizontal navbar-form">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqLogin">Login</label>
              <div class="controls">
                <input name="reqLogin" id="reqLogin" class="input-medium" ng-model="reqLogin" placeholder="OI-XXY" type="text" disabled>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqDominio">Domínio</label>
              <div class="controls">
                <input name="reqDominio" id="reqDominio" class="input-medium" ng-model="reqDominio" placeholder="Oi" type="text" disabled>
              </div>
            </div>
          </div>
          
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqNome">Nome</label>
              <div class="controls">
                <input id="reqNome" name="reqNome" class="input-xxlarge" ng-model="reqNome" placeholder="Nome" type="text" disabled>
              </div>
            </div>
          </div>


          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqEmpresa">Empresa</label>
              <div class="controls">
                <input name="reqEmpresa" id="reqEmpresa" class="input-medium" ng-model="reqEmpresa" placeholder="Oi" type="text" disabled>
              </div>
            </div>
          </div>

          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqEmail">Email</label>
              <div class="controls">
                <input id="reqEmail" name="reqEmail" class="input-medium" ng-model="reqEmail" placeholder="Email" type="email" disabled>
              </div>
            </div>
          </div>
          </form>
			</div>
      
		  <div id="permReqTab" class="modal-body tab-pane">

					<div id="gridReqPerms" ng-grid="gridReqPerms"></div>
          
		  </div>

		</div>-->
			  
        <div class="modal-body">
					<div id="gridReqPerms" ng-grid="gridReqPerms" ng-show="dataGridPerms.length>0"></div>          
		  </div>
        <div class="modal-footer">
				&nbsp;<a class="btn close" data-dismiss="modal">Fechar</a>
				<!--<button class="btn-salvar btn btn-success loadingButton hide" type="button">
					<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
				</button>-->

				<button class="btn-salvar btn btn-success" type="button" ng-model="saveRequest" ng-click="allowRequest()" name="saveRequest">Autorizar</button>
				<button class="btn-salvar btn btn-danger" type="button" ng-model="denyRequest" ng-click="denyRequest()" name="denyRequest">Recusar</button>
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>


		</div>
     <!-- Fim do modal de autorização para solicitação de cadastro de usuário -->

  <!-- Modal de edição grupos -->
  <!-- <div class="row-fluid" style="margin-top: 75px;">
    <div id="modal-grupo" class="modal modal-view hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edição de Grupos</h3>
      </div>

      <ul id="abas" class="nav nav-tabs">
        <li class="active">
          <a href="#abaGrupos" data-toggle="tab" target="_self">Editar Grupo</a>
        </li>
        <li>
          <a href="#abaPermissoes" data-toggle="tab" target="_self" ng-click="mostrarInputCopia = true">Permissões</a>
        </li>
      </ul>

      <div id="divAbas" class="tab-content">
        <div id="abaGrupos" class="modal-body tab-pane">
          
        </div>

        <div id="abaPermissoes" class="modal-body tab-pane in active" style="padding-top:0;">
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
        <a class="btn close" data-dismiss="modal">Fechar</a>
        <button class="btn-salvar btn btn-success loadingButton hide" type="button">
          <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
        </button>
        <button class="btn-salvar btn btn-success" type="button" ng-click="salvarGrupo()">Salvar Grupo</button>
      </div>
    </div>
  </div> -->
</div>