<style type="text/css">
	/*.rowDetalhes{
		white-space: normal !important;
		height: auto;
		min-height: 40px;
		max-height: 80px;
		word-wrap:break-word;
		vertical-align: center;
	}
	.modal-body{
		max-height: 600px;

	}*/
	
	body{
		overflow: hidden !important;
	}
	

</style>
<!-- Estalo analise -->
<div id="pag-permissoes" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
		<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
	  <div class="container" style="width:auto;">
		<!--a class="brand" href="#">Estalo</a-->
		<ul class="nav">
		  <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 
				  
				  <li style="padding-left: 5px;">
					<form class="navbar-form">
					<div class="input-append">
						<input type="text" class="filtro-users form-control span2" id="prependedInput" placeholder="Pesquisar..." ng-model="filtros.filterText" />
            <!--
            Input utilizado para filtrar grid de usuários 
            -->
						<span class="add-on"><i class="icon-search"></i></span>
					</form>
					</div>
				  </li>
				  
				  <li style="padding-left: 5px;">
					<form class="navbar-form">
						<button href="#modal-register" data-toggle="modal" class="btn btn-register" data-loading-text="..." title="Novo usuário"><i class="fa fa-user-plus" aria-hidden="true"></i>
						</button>
					</form>
				  </li>
          
				  <li style="padding-left: 5px;">
					<form class="navbar-form">
						<button href="#modal-mirror" data-toggle="modal" class="btn btn-mirror" data-loading-text="..." title="Espelhar usuário"><i class="fa fa-vcard-o" aria-hidden="true"></i>
						</button>
					</form>
				  </li>

				  <li style="padding-left: 5px;">
					<form class="navbar-form">
						<button href="#modal-requests" data-toggle="modal" class="btn btn-request" data-loading-text="..." title="Solicitação de Usuários">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="badge" ng-bind="solicitacoes.length" ng-show="solicitacoes.length>0"></span>
						</button>
					</form>
				  </li>
          
				  <li style="padding-left: 5px;"> 
				  <!-- </li> -->
				  
		   </ul>
	  </div>
	</div>
  </div>

	
	 
  <div class="container-fluid">	<!-- Classe contendo grid de usuários e div de alertas inferior -->
   <div ng-grid="gridDados" class="grid" ng-show="userData.length != 0"></div>
	  <div class = "notification">
		<div class="alert alert-info">
			<button type="button" class="close">&times;</button>
			<span ng-bind-html='info_status'></span>
		</div>
	  </div>

	  <div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc"><!--{{status_progress_bar}}--></div>
	  </div>	  
  </div>
  
  <div class="row-fluid CtrlUser" style="margin-top: 75px;">

		<div id="modal-view" class="modal modal-view hide fade"><!-- Modal de edição de usuário e permissões -->

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Edição de Usuário <small ng-bind="editLogin"></small> - <small ng-bind="editNome"></small></h3>
		  </div>
		  
		<ul id="editTabs" class="nav nav-tabs">
    <li><a href="#userTab" data-toggle="tab" target="_self">Usuário</a></li>
			<!-- onclick="$('body').resize(); -->
			<li class="active"><a href="#permTab" data-toggle="tab" target="_self">Permissões</a></li>
			<!-- <li><a href="#groupTab" data-toggle="tab" target="_self">Grupos</a></li> -->
		</ul>
		<div id="divTab" class="tab-content">
    
		  <div id="userTab" class="modal-body tab-pane">
            <div class="clearfix">
            <br/></br>
            </div>
      <form name="UserController" class="form-horizontal navbar-form">
           <div class="span1">
           </div>
					<div class="span6">
						<label class="form-label" for="Login">Login</label>
						<div class="form-controls">
							<input name="Login" class="input-xlarge registerLogin" ng-model="editLogin" placeholder="OI-XXY" pattern="[A-Za-z0-9._]+" maxlength="30" type="text" required><!--pattern="[a-zA-Z0-9]+"-->
						</div>

						<label class="form-label" for="Nome">Nome</label>
						<div class="form-controls">
							<input name="Nome" class="input-xlarge" ng-model="editNome" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]" type="text" required>
						</div>

						<label class="form-label" for="Email">E-mail</label>
						<div class="form-controls">
							<input name="Email" class="input-xlarge registerEmail" ng-model="editEmail" placeholder="exemplo@oi.net.br" maxlength="80" type="email">
						</div>
					</div>

					<div class="span4">

						<label class="form-label" for="Dominio">Domínio</label>
						<div class="form-controls">
							<input name="Dominio" class="input-medium registerDominio" ng-model="editDominio" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\-\s]+" type="text" required>
						</div>

						<label class="form-label" for="Telefone">Telefone</label>
						<div class="form-controls">
							<input name="Telefone" class="input-medium registerTelefone" ng-model="editTelefone" placeholder="(21) 99999-9999" pattern="[\(]\d{2}[\)]\s?\d{4,5}[\-]\d{4}" maxlength="15" type="tel" >
							<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
						</div>

						<label class="form-label" for="Empresa">Empresa</label>
						<div class="form-controls">
							<input name="Empresa" class="input-medium registerEmpresa" ng-model="editEmpresa" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\s]+" list="Empresas" type="text" required>
							<datalist id="Empresas">
								<option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
							</datalist>
						</div>

					</div>
			</form>
      <div class="clearfix">
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
            <br/></br>
            </div>
			
        
			</div>
		  <!--<div id="groupTab" class="modal-body tab-pane">

					<div id="gridGroups" ng-grid="gridGroups" ng-show="rotas.length != 0"></div>

					<div class="clearfix">
					</div>
		  </div>-->

		  <div id="permTab" class="modal-body tab-pane in active">

					<div id="gridPerms" ng-grid="gridPerms"></div>
          
		  </div>

		</div>
			  <div class="modal-footer">
				&nbsp;<a class="btn close" data-dismiss="modal">Fechar</a>
				<button class="btn-salvar btn btn-success loadingButton hide" type="button">
					<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
				</button>
        <button class="btn-salvar btn btn-success" type="button" ng-model="saveBtn" ng-click="updateUser()" >Salvar Usuário</button>
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>


		</div>
    
    </div>
    <!-- Fim do modal de edição de usuário e permissões -->

  <div id="modal-register" class="modal hide fade modal-register"><!-- Modal de cadastro de novo usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Novo usuário</h3>
		  </div>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ngModel="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
		  
				  
			<form name="UserController" class="form-horizontal navbar-form">

					<div class="span6">
						<label class="form-label" for="Login">Login</label>
						<div class="form-controls">
							<input name="Login" class="input-xlarge registerLogin" ng-model="Login" placeholder="OI-XXY" pattern="[A-Za-z0-9._]+" maxlength="30" type="text" required><!--pattern="[a-zA-Z0-9]+"-->
						</div>

						<label class="form-label" for="Nome">Nome</label>
						<div class="form-controls">
							<input name="Nome" class="input-xlarge" ng-model="Nome" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]" type="text" required>
						</div>

						<label class="form-label" for="Email">E-mail</label>
						<div class="form-controls">
							<input name="Email" class="input-xlarge registerEmail" ng-model="Email" placeholder="exemplo@oi.net.br" maxlength="80" type="email">
						</div>
					</div>

					<div class="span4">

						<label class="form-label" for="Dominio">Domínio</label>
						<div class="form-controls">
							<input name="Dominio" class="input-medium registerDominio" ng-model="Dominio" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\-\s]+" type="text" required>
						</div>

						<label class="form-label" for="Telefone">Telefone</label>
						<div class="form-controls">
							<input name="Telefone" class="input-medium registerTelefone" ng-model="Telefone" placeholder="(21) 99999-9999" pattern="[\(]\d{2}[\)]\s?\d{4,5}[\-]\d{4}" maxlength="15" type="tel" >
							<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
						</div>

						<label class="form-label" for="Empresa">Empresa</label>
						<div class="form-controls">
							<input name="Empresa" class="input-medium registerEmpresa" ng-model="Empresa" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\s]+" list="Empresas" type="text" required>
							<datalist id="Empresas">
								<option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
							</datalist>
						</div>

					</div>
			</form>
			</div>

			  <div class="modal-footer">
				<button class="btn-success btn btn-primary insertUser" type="submit" id="insertUser" name="InsertUser">Confirmar</button>
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
  <!-- Fim do modal de cadastro de novo usuário -->
    
    <div id="modal-requests" class="modal hide fade modal-requests"><!-- Modal de solicitação de cadastro de usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Solicitações de cadastro de usuário (<span ng-bind="solicitacoes.length"></span>)</h3>
		  </div>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ngModel="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
      
      <!--<div class="span8">-->
        <div id="gridRequests" ng-grid="gridRequests" ></div>
      <!--</div>-->
      </div>
			  <div class="modal-footer">
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
    <!-- Fim do modal de solicitação de cadastro de usuário -->
     <div id="modal-userRequest" class="modal modal-view hide fade"><!-- Modal de autorização para solicitação de cadastro de usuário -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Solicitação de cadastro de usuário <small ng-bind="reqLogin"></small> - <small ng-bind="reqNome"></small></h3>
		  </div>
		  
		<!--<ul id="editTabs" class="nav nav-tabs">
			<li><a href="#permReqTab" data-toggle="tab" target="_self">Permissões</a></li>
      <li class="active"><a href="#requestTab" data-toggle="tab" target="_self">Usuário</a></li>
			 <li><a href="#groupTab" data-toggle="tab" target="_self">Grupos</a></li>
		</ul> -->
    	<!--<div id="divTab" class="modal-body tab-content">
      
		  <div id="requestTab" class="modal-body tab-pane  in active">
        <form name="UserController" class="form-horizontal navbar-form">
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqLogin">Login</label>
              <div class="controls">
                <input name="reqLogin" id="reqLogin" class="input-medium" ng-model="reqLogin" placeholder="OI-XXY" type="text" disabled>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqDominio">Domínio</label>
              <div class="controls">
                <input name="reqDominio" id="reqDominio" class="input-medium" ng-model="reqDominio" placeholder="Oi" type="text" disabled>
              </div>
            </div>
          </div>
          
          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqNome">Nome</label>
              <div class="controls">
                <input id="reqNome" name="reqNome" class="input-xxlarge" ng-model="reqNome" placeholder="Nome" type="text" disabled>
              </div>
            </div>
          </div>


          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqEmpresa">Empresa</label>
              <div class="controls">
                <input name="reqEmpresa" id="reqEmpresa" class="input-medium" ng-model="reqEmpresa" placeholder="Oi" type="text" disabled>
              </div>
            </div>
          </div>

          <div class="span6">
            <div class="control-group">
              <label class="control-label" for="reqEmail">Email</label>
              <div class="controls">
                <input id="reqEmail" name="reqEmail" class="input-medium" ng-model="reqEmail" placeholder="Email" type="email" disabled>
              </div>
            </div>
          </div>
          </form>
			</div>
      
		  <div id="permReqTab" class="modal-body tab-pane">

					<div id="gridReqPerms" ng-grid="gridReqPerms"></div>
          
		  </div>

		</div>-->
			  
        <div class="modal-body">
					<div id="gridReqPerms" ng-grid="gridReqPerms" ng-show="dataGridPerms.length>0"></div>          
		  </div>
        <div class="modal-footer">
				&nbsp;<a class="btn close" data-dismiss="modal">Fechar</a>
				<!--<button class="btn-salvar btn btn-success loadingButton hide" type="button">
					<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>&nbsp; Carregando...
				</button>-->

				<button class="btn-salvar btn btn-success" type="button" ng-model="saveRequest" ng-click="allowRequest()" name="saveRequest">Autorizar</button>
				<button class="btn-salvar btn btn-danger" type="button" ng-model="denyRequest" ng-click="denyRequest()" name="denyRequest">Recusar</button>
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>


		</div>
     <!-- Fim do modal de autorização para solicitação de cadastro de usuário -->
    
    <div id="modal-mirror" class="modal hide fade modal-requests"><!-- Modal de solicitação de cadastro de usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Espelhar usuários</h3>
		  </div>
				  
		  <div class="modal-body mirrorForm">
        
        <div class="span5">
          <h4>Origem</h4>
          <input type="text" class="form-control userMirror" ng-model="userOrigem" placeholder="OI-XXY">
          <input type="text" class="form-control userMirror" ng-model="domainOrigem" placeholder="dominio">
        </div>

       <div class="span5">
          <h4>Alvo</h4>
          <input type="text" class="form-control userMirror" ng-model="userTarget" placeholder="OI-XXY">
          <input type="text" class="form-control userMirror" ng-model="domainTarget" placeholder="dominio">
        </div>
        
        
      </div>
			  <div class="modal-footer">
        <button class="btn-success btn btn-mirror" type="button" ng-model="mirrorRequest" ng-click="espelhaUser()" name="mirrorRequest">Espelhar</button>
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
    
    <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>

</div>
