<estilo-responsivo></estilo-responsivo>
<!-- Detalhamento de Chamadas -->
<div id="pag-chamadas" data-role="page" class="pag-container">
	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-site></filtro-site>
			<filtro-segmento></filtro-segmento>
			<filtro-chamadores></filtro-chamadores>
			
			<filtro-falhas></filtro-falhas>
			<filtro-json></filtro-json>
			<filtro-json-variaveis></filtro-json-variaveis>
			<filtro-ed style="margin-top: 5px"></filtro-ed>
			<filtro-ic style="margin-top: 5px"></filtro-ic>


			<div class="menu-botoes">
				<div class="menu-checkbox">
				<chk-nono-digito></chk-nono-digito>
					<chk-box-nps></chk-box-nps>
					<chk-box-ultimo-ed></chk-box-ultimo-ed>
				</div>
				<importar-telefone-txt></importar-telefone-txt>
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				
				<!--<btn-exportar-csv></btn-exportar-csv>-->
				<btn-exportar-csv-interface></btn-exportar-csv-interface>
				<btn-ajuda ng-init="link=0"></btn-ajuda>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<!-- <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div> -->
		<div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length>0 && chamadas.length != 0"></div>
		<div class="downhover zmenos" ng-show="chamadas.length > numRegistrosExibidos"></div>

		<div id="modal-log" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		    style="z-index:3100">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×</button>
				<h3 id="myModalLabel">Log da chamada</h3>
			
					<ul class="nav nav-pills">
						<li ng-class="{'active':!ocultar.log_formatado}">
							<a href="#" class="btn-log-formatado changeSearchLog">Formatado</a>
						</li>
						<li ng-class="{'active':!ocultar.log_original}">
							<a href="#" class="btn-log-original changeSearchLog">Original</a>
						</li>
						<li ng-class="{'active':!ocultar.log_prerouting}">
							<a href="#" class="btn-log-prerouting changeSearchLog">Pré Routing</a>
						</li>
						<li ng-class="{'active':!ocultar.log_preroutingret}">
							<a href="#" class="btn-log-preroutingret changeSearchLog">Pré Routing Retorno</a>
						</li>
						<li ng-class="{'active':!ocultar.log_prompts}" ng-if="visaoPrompt">
							<a href="#" class="btn-log-prompts changeSearchLog">Visão com prompts</a>
						</li>
						<li class="SearchTool input-append pull-right">
							<input type="text" class="span2 searchtool_text" placeholder="Buscar...">
							<input class="ghost" style="display:none">
							<!-- <button class="btn btn-small searchtool_button"><i class="icon-search"></i></a>  <i class="icon-search"></i>-->
							<button class="btn searchtool_next" title="Ir até o próximo">
								<i class="icon-arrow-down"></i>
							</button>
							<button class="btn searchtool_prev" title="Ir até o anterior">
								<i class="icon-arrow-up"></i>
							</button>
							<button class="btn muted search_button" disabled>
								<span class="muted search_results"></span>
							</button>
						</li>
						<li id="search_result_button" class="pull-right" style="max-width:15%; display:none;">
						</li>
					</ul>
					
					<ul class="nav nav-pills">
					
				<li ng-hide="ocultar.log_formatado">
						<input type="checkbox" id="edEnx" ng-model="estadoEnx" title="ED" class="btn-log-formatadoEdEnx black">
						<span>Remover EDs irrelevantes&nbsp;</span>
						</input>
						<input type="checkbox" id="edEnxAll" ng-model="estadoEnxAll" title="ED" class="btn-log-formatadoAllEdEnx black">
						<span>Remover EDs&nbsp;</span>
						</input>
						<input type="checkbox" id="icEnx" ng-model="itemEnx" title="IC" class="btn-log-formatadoIcEnx black">
						<span>Remover ICs irrelevantes&nbsp;</span>
						</input>
						<input type="checkbox" id="icEnxAll" ng-model="itemEnxAll" title="IC" class="btn-log-formatadoAllIcEnx black">
						<span>Remover ICs&nbsp;</span>
						</input>
					
						
				</li>
				<li ng-hide="ocultar.log_prompts">
					<input type="checkbox" id="edEnx" ng-model="estadoEnx" title="ED" class="btn-log-formatadoEdEnx black">
					<span>Remover EDs irrelevantes&nbsp;</span>
					</input>
					<input type="checkbox" id="edEnxAll" ng-model="estadoEnxAll" title="ED" class="btn-log-formatadoAllEdEnx black">
					<span>Remover EDs&nbsp;</span>
					</input>
					<input type="checkbox" id="icEnx" ng-model="itemEnx" title="IC" class="btn-log-formatadoIcEnx black">
					<span>Remover ICs irrelevantes&nbsp;</span>
					</input>
					<input type="checkbox" id="icEnxAll" ng-model="itemEnxAll" title="IC" class="btn-log-formatadoAllIcEnx black">
					<span>Remover ICs&nbsp;</span>
					</input>
					<span><input type="button" value ="Tocar todos prompts da Chamada" onclick="playAllPrompts(this)"></span>
				
					
			</li>

				</ul>
					
				<div class="log-original" ng-hide="ocultar.log_original">
					<div>						
					Validação de log:
					<span ng-class="logValidado.valido ? 'icon-ok' : 'icon-remove'" class="valida"></span>
					<input type="button" id="exportarLog" value="Exportar Log Original">
					</div>
					<div ng-repeat="mensagem in logValidado.msg">
						{{mensagem}}
					</div>
					 <pre class="genericText">{{callLog}}</pre> 
					<!--<pre ng-bind-html="callLog" class="genericText"></pre>-->
				</div>
					
			
				
				
			</div>
			<div class="modal-body">



				<div class="log-formatado" ng-hide="ocultar.log_formatado">
					<ul>
						<li ng-repeat="info in logxml_iit.infos_iniciais">
							<b>{{info.nome}}:</b> {{info.valor}}
						</li>
					</ul>
					<div ng-repeat="filho in logxml_iit.prompts_iniciais" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<span ng-repeat="texto in filho.valor" >
						<i>{{texto}}</i>&nbsp;</span>
					</div>

					<div ng-repeat="node in logxml_iit" ng-class="node.codigo">
						<!--Brunno 18/02/2019 retirada de todos os eds-->
						<header ng-if="estadoEnxAll === false">
							<span class="nome">{{node.valor}}</span>
							<span class="time">
								<i class="icon-time"></i>
								{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
							 <!-- Colocar em formato de data -->
						</header> 
						<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
							<i ng-class="filho.icone"></i>
							<span ng-bind-html="filho.valor"></span>
						</div>
					</div>

					<h4 ng-if="logxml_iit.length > 0 && logxml.length > 0">TRANSFERÊNCIA DE APLICAÇÃO DE URA</h4>
					<ul>
						<li ng-repeat="info in logxml.infos_iniciais">
							<b>{{info.nome}}:</b> {{info.valor}}
						</li>
					</ul>

					<div ng-repeat="filho in logxml.prompts_iniciais" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<span ng-repeat="texto in filho.valor" >
						<i>{{texto}}</i>&nbsp;</span>
					</div>

					<div ng-repeat="node in logxml" ng-class="node.codigo">
						<!--Brunno 18/02/2019 retirada de todos os eds-->
						<header ng-if="estadoEnxAll === false">
							<span class="nome">{{node.valor}}</span>
							<span class="time">
								<i class="icon-time"></i>
								{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
							 <!-- Colocar em formato de data -->
						</header> 
						<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
							<i ng-class="filho.icone"></i>
							<span ng-bind-html="filho.valor"></span>
						</div>
					</div>

					
					
				</div>


				<div class="log-formatado" ng-hide="ocultar.log_prompts">

					<ul>
						<li ng-repeat="info in logxml_iit.infos_iniciais">
							<b>{{info.nome}}:</b> {{info.valor}}
						</li>
					</ul>
					<div ng-repeat="filho in logxml_iit.prompts_iniciais" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
						<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
						<span ng-repeat="texto in filho.valor" >
						<i>{{texto}}</i>&nbsp;</span>
					</div>

					<div ng-repeat="node in logxml_iit" ng-class="node.codigo">
						<!--Brunno 18/02/2019 retirada de todos os eds-->
						<header ng-if="estadoEnxAll === false">
							<span class="nome">{{node.valor}}</span>
							<span class="time">
								<i class="icon-time"></i>
								{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
							 <!-- Colocar em formato de data -->
						</header> 
						<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
							<i ng-class="filho.icone"></i>
							<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
							<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
							<span ng-bind-html="filho.valor"></span>
						</div>
					</div>

					<h4 ng-if="logxml_iit.length > 0 && logxml.length > 0">TRANSFERÊNCIA DE APLICAÇÃO DE URA</h4>
					<ul>
						<li ng-repeat="info in logxml.infos_iniciais">
							<b>{{info.nome}}:</b> {{info.valor}}
						</li>
					</ul>

					<div ng-repeat="filho in logxml.prompts_iniciais" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
						<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
						<span ng-repeat="texto in filho.valor" >
						<i>{{texto}}</i>&nbsp;</span>
					</div>

					<div ng-repeat="node in logxml" ng-class="node.codigo">
						<!--Brunno 18/02/2019 retirada de todos os eds-->
						<header ng-if="estadoEnxAll === false">
							<span class="nome">{{node.valor}}</span>
							<span class="time">
								<i class="icon-time"></i>
								{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
							 <!-- Colocar em formato de data -->
						</header> 
						<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
							<i ng-class="filho.icone"></i>
							<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
							<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
							<span ng-bind-html="filho.valor"></span>
						</div>
					</div>
				</div>
				
				<div class="log-prerouting genericText" ng-hide="ocultar.log_prerouting">
					<pre>{{prerouting}}</pre>
				</div>
				<div class="log-preroutingret genericText" ng-hide="ocultar.log_preroutingret">
					<pre>{{preroutingret}}</pre>
				</div>
			</div>
			<div class="modal-footer" ng-if="logxml.info_finais.derivada === true">
			<div id="container" >
						<div class="header"><b>TRANSFERÊNCIA</b></div>
					<div ng-repeat="filho in logxml.info_finais" ng-class="filho.codigo" class="box">
							<b>{{filho.nome}}:</b>&nbsp;<i>{{filho.valor}}</i>&nbsp;
					</div>
					</div>
			</div>
		</div>

		<!-- MODAL DE CONFIRMAÇÃO -->
		<div class="modal fade" id="modalConfirma" style="margin-top:10px;width:500px;z-index:2100;display:none">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" style="background-color:lightyellow">IMPORTAÇÃO DE TELEFONES (TXT)</h4>
					</div>
					<div class="modal-body">

						<form class="navbar-form">
							<div id="popTel" style="float:left;padding-right:55px">
								<p>Selecione o tipo de telefone:</p>
								<input type="radio" id="2h" ng-model="valor" value="Telefone Chamador">
								<span style="color:black" class="por2421dia">Chamador</span>
								</br>
								<input type="radio" id="1h" ng-model="valor" value="Telefone Tratado">
								<span style="color:black" class="por2421dia">Tratado</span>
							</div>
							<div id="popData" class="checkbox navbar-btn filtro-check" style="color:black;margin-top:0px">

								<input type="checkbox" id="data" value="data" ng-model="extratorArquivoPorData">Considerar filtro por período</input>
								<br>
								<input type="checkbox" id="data" value="data" ng-model="extratorInvalidos">Incluir números inválidos</input>
							</div>


						</form>

					</div>
					<div class="modal-footer">
						<button type="button" id="confirma" class="btn btn-default span2" data-dismiss="modal" style="margin-right:140px;background:#CCCCCC">OK</button>
						<button type="button" id="cancel" class="btn btn-default span2" style="background:#CCCCCC" data-dismiss="modal">CANCELAR</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<!-- MODAL DE ALERTA -->
		<div class="modal fade alerta" id="modalAlerta">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header" style="padding: 9px 15px; border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); display: none;">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<center>
							<h4>Novidades da versão</h4>
						</center>

					</div>
					<div class="modal-body">

						<form class="navbar-form">

							<div id="popData" class="checkbox navbar-btn filtro-check" style="color:black;margin-top:0px">
								<div ng-bind-html="htmlRelease" style="margin-top:-20px"></div>
								<input type="checkbox" value="data" id="data" ng-model="msgAlerta" style="margin-left:8px;" class="ng-pristine ng-valid">&nbsp;Não exibir mensagem novamente ao abrir

							</div>


						</form>

					</div>

				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div id="modal-register" class="modal hide fade0 modal-register">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Solicitar cadastro de usuário</h3>
			</div>

			<div class="alert alertBlock hide fade in registerAlert clearFix">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<!-- <h5>Aviso!</h5> -->
				<span class="registerAlertText" ngModel="registerAlert"></span>
			</div>

			<div class="modal-body userForm">


				<form name="UserController" class="form-horizontal navbar-form">

					<div class="span6">
						<label class="form-label" for="Login">Login</label>
						<div class="form-controls">
							<input name="Login" class="input-xlarge registerLogin" ng-model="login" placeholder="OI-XXY" pattern="[A-Za-z0-9._]+" maxlength="30"
							    type="text" required>
							<!--pattern="[a-zA-Z0-9]+"-->
						</div>

						<label class="form-label" for="Nome">Nome</label>
						<div class="form-controls">
							<input name="Nome" class="input-xlarge" ng-model="Nome" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]"
							    type="text" required>
						</div>

						<label class="form-label" for="Email">E-mail</label>
						<div class="form-controls">
							<input name="Email" class="input-xlarge registerEmail" ng-model="Email" placeholder="exemplo@oi.net.br" maxlength="80" type="email">
						</div>
					</div>

					<div class="span4">

						<label class="form-label" for="Dominio">Domínio</label>
						<div class="form-controls">
							<input name="Dominio" class="input-medium registerDominio" ng-model="dominio" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\-\s]+"
							    type="text" required>
						</div>

						<label class="form-label" for="Telefone">Telefone</label>
						<div class="form-controls">
							<input name="Telefone" class="input-medium registerTelefone" ng-model="Telefone" placeholder="(21) 99999-9999" pattern="[\(]\d{2}[\)]\s?\d{4,5}[\-]\d{4}"
							    maxlength="15" type="tel">
							<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
						</div>

						<label class="form-label" for="Empresa">Empresa</label>
						<div class="form-controls">
							<input name="Empresa" class="input-medium registerEmpresa" ng-model="Empresa" placeholder="Oi" maxlength="20" pattern="[a-zA-Z0-9\s]+"
							    list="Empresas" type="text" required>
							<datalist id="Empresas">
								<option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
							</datalist>
						</div>

					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn-success btn btn-primary insertUser" type="submit" id="insertUser" name="InsertUser">Confirmar</button>
				<a class="btn close" data-dismiss="modal">Cancelar</a>
				<!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			</div>
		</div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>

	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		// dropdown hover
		$(document).ready(function () {

			//Alex exibir notificação 29/03/2014
			$('div.logoCliente').mouseover(function () {
				$('div.notification').fadeIn(500);
			});

			// Gilberto Ocultar a notificação 02/04/2014
			$('button.close').click(function () {
				$('div.notification').fadeOut(500);
			});
			$('.js-activated').dropdownHover().dropdown();

			$('.modal-register').css({
				'z-index': '9999'
			});
			$('.modal-header').css({
				'padding': '9px 15px',
				'border-bottom': '0px solid #eee'
			});
			$('.black').css({
				'color': '#005580'
			});
			$('.enxugar').css({
				'position': 'fixed',
				'margin-top': '-40px',
				'background-color': 'white',
				'padding': '20px',
				'width': '25%'
			});
			$('.enxugar2').css({
				'position': 'fixed',
				'margin-top': '-40px',
				'background-color': 'white',
				'margin-left': '285px',
				'padding': '20px',
				'width': '25%'
			});
			$('.enxugar3').css({
				'position': 'fixed',
				'margin-top': '-40px',
				'background-color': 'white',
				'margin-left': '550px',
				'padding': '20px',
				'width': '20%'
			});
		});
	</script>
	<!--<script src="js/searchtool.js"/>-->