<div id="pag-consolidado-ed" datarole="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 

                    <!-- Filtro: data inicial -->
                    <li>
                        <form class="navbar-form">
                        <div class="data-inicio input-append date">
                            <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy "
                                autocomplete="off" />
                            <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                        </div>
                        <div class="hora-inicio input-append" style="margin-left: -3px;">
                            <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off" />
                            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                        </form>
                    </li>
                    <!-- GILBERTO Fechar o calendario-->
                    <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22);
                        position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;">
                    </div>
                    <!-- Filtro: data final -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">
                        <div class="data-fim input-append date">
                            <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy "
                                autocomplete="off" />
                            <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                        </div>
                        <div class="hora-fim input-append" style="margin-left: -3px;">
                            <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off" />
                            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                            </span>
                        </div>
                        </form>
                    </li>
                  </ul>

                    <ul class="nav aba1">
                    <!--Filtro: aplicação -->
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                        <div class="input-append">
                            <!--<a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>-->
                            <select class="filtro-aplicacao selectpicker span2 show-tick" title="Aplicações">
                            </select>
                        </div>
                        </form>
                    </li>
                    </ul>

                    <ul class="nav aba2">
                    <!-- Filtro: site -->
                    <li style="padding-left:0px;">
                       <form class="navbar-form">
                           <div class="input-append">
                              <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                               <select class="filtro-site selectpicker span1_2" multiple="" title="Sites/POPs"></select>
                           </div>
                        </form>
                   </li>


                       <!-- Filtro: segmento -->
                    <li style="padding-left:5px;">
                     <form class="navbar-form">
                                  <!--<input type="button" class="selectpicker" value="X" />-->
                           <div class="input-append">
                  <!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
                  <!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" id="inputSeg" data-var="0"></input>-->
                               <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                               <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""> </select>
                           </div>
                      </form>
                    </li>
                    </ul>

                    <ul class="nav aba3">
                    <!-- Filtro: Estado Dialogo -->

                    <!-- <li style="padding-left: 0px;">
                        <select class="filtro-edx selectpicker show-tick span4" id="filtro-edx" title="Estados de Diálogo" disabled="disabled" data-live-search="true" data-size="20">
                        </select>
                    </li> -->                   
                    <filtro-estado-dialogo/> 

                    </ul>

              <ul class="nav aba4">
              <!-- Chamadas iit -->
              <li style="padding-left: -15px;margin-top:5px;">
                <div class="checkbox navbar-btn filtro-check">
                  <input type="checkbox" id ="iit"  value="iit" ng-model="iit" title="Incluir chamadas IIT">IIT</input>
                </div>
              </li>
              <li style="padding-left: 5px; margin-top:5px;">
                <chk-box-incluir-tlv/>
              </li>
              </ul>

              <!-- alternando menus -->
              <!--<ul class="nav aba0" style="margin-top: -2px; float: right; margin-right: 53px; margin-left: -14px;">
              <a class="icon-chevron-left" id="alinkAnt" style="background-color:white;"></a>
              </ul>

              <ul class="nav abaX" style="margin-top: 19px; margin-right: 0px; margin-left: -24px; float: right;">
              <a class="icon-chevron-right" id="alinkPro" style="background-color:white;"></a>
              </ul>-->

            <ul class="nav botoes">
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-agora" data-loading-text="..." title="Recuperar hora atual">Agora</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <!-- ng-click="listaChamadas()" -->
                <button class="btn btn-exportar" data-loading-text="..." disabled="">
                  Exportar</button>
              </form>
            </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>
    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc">
        <!--{{status_progress_bar}}-->
        </div>
    </div>




                  <div id="totais" style="position:fixed; left:20px; top:90px; width:1300px;">
                  <ul class="inline">
                  <!--Textboxes com os totalizadores por ED -->
                    <li style="padding-left: 30px;">
                        <form class="navbar-form">
                        <span class="label label-default label-totais">Chamadas</span>
                        <input type="text" class="filtro-chamador form-control span1_2" disabled="disabled"
                            value="{{totais.chamadas}}" />
                        </form>
                    </li>

                    <li style="padding-left: 30px;">
                        <form class="navbar-form">
                        <span class="label label-default label-totais">Finalizadas</span>
                        <input type="text" class="filtro-chamador form-control span1_2" disabled="disabled"
                            value="{{ totais.finalizadas }}" />
                        </form>
                    </li>

                    <li style="padding-left: 30px;">
                        <form class="navbar-form">
                        <span class="label label-default label-totais">Derivadas</span>
                        <input type="text" class="filtro-chamador form-control span1_2" disabled="disabled" value="{{ totais.derivadas }}" />
                        </form>
                    </li>

                    <li style="padding-left: 30px;">
                        <form class="navbar-form">
                        <span class="label label-default label-totais">Abandonadas</span>
                        <input type="text" class="filtro-chamador form-control span1_2" disabled="disabled"
                            value="{{totais.abandonadas}}">
                        </form>
                    </li>
                    <li style="padding-left: 30px;">
                        <form class="navbar-form">
                        <span class="label label-default label-totais">Execuções</span>
                        <input type="text" class="filtro-chamador form-control span1_2" disabled="disabled" value="{{totais.execucoes}}">
                        </form>
                    </li>
                </ul>
            </div>
    <!-- fim de totais-->



    <!--Conjunto de 6 Grids -->

        <!--<div class="row-fluid></div>           -->
        <div class="gridStyle estados" data-ng-grid="optEstadosOrigem" style="margin-top: 25px; left:10px; width:650px; height:150px;">
            <span class="label label-default label-totais">Estados de Origem</span><br />
        </div>
        <!--Grids EDs de destino -->
        <div class="gridStyle estados" data-ng-grid="optEstadosDestino" style="margin-top: 25px; left:700px; width:650px; height:150px;">
            <span class="label label-default label-totais">Estados de Destino</span><br />
        </div>

    <!--Fim da div fluxo-estados -->

    <!--Grids VDNS de origem -->
    <div class="fluxo-VDNs" style="margin-top: 15px;">
        <div class="gridStyle" data-ng-grid="optVDNsEntrada" style="margin-left:10px; width:650px; height: 70px;">
            <span class="label label-default label-totais">VDNs de Origem</span><br />
        </div>
    </div>
    <!--Grids VDNS de destino -->
    <div class="fluxo-VDNs" style="margin-top: 15px;">
        <div class="gridStyle" data-ng-grid="optVDNsSaida" style="margin-left:700px; width:650px; height: 70px;">
            <span class="label label-default label-totais">VDNs de Destino</span><br />
        </div>
    </div>
    <!-- Fim da div fluxo-VDNs -->


    <!--Grids Prompts Tocados -->
    <div class="gridStyle prompts" data-ng-grid="optPrompts" style="margin-top: 15px; left:10px; width:650px; height:150px;">
        <span class="label label-default label-totais">Prompts Tocados</span><br />
    </div>

    <!--Grids de Respostas -->
    <div class="gridStyle prompts" data-ng-grid="optRespostas" style="margin-top: 15px; left:700px; width:650px; height: 150px;">
        <span class="label label-default label-totais">Respostas Cliente</span>
        <span style="float: right;"><input type="checkbox" value="ultimo" data-ng-model="filtros.isUltimo" /> &nbsp Somente Último Reconhecimento</span><br />
        <!--Fim da div interacao-URA -->
    </div>


</div>

    <script type="text/javascript">

        $(document).ready(function () {

            //Alex exibir notificação 29/03/2014
            $('div.logoCliente').mouseover(function () {
                $('div.notification').fadeIn(500);
            });

            // Gilberto Ocultar a notificação 02/04/2014
            $('button.close').click(function () {
                $('div.notification').fadeOut(500);
            });

            $('.js-activated').dropdownHover().dropdown();

            $('.js-activated').mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();
            });


            // GILBERTO 18/02/2014 - 11/03/2014

            // EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.data-inicio > span.add-on').mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").show();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

                // OCULTAR O CALENDÁRIO

                $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                    $(this).hide();
                });

                $("#topLine").mouseover(function () {
                    $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.data-fim.input-append.date").data("datetimepicker").hide();

                });

                $("#bottomLine").mouseover(function () {
                    $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.data-fim.input-append.date").data("datetimepicker").hide();

                });

            });

            //EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.data-fim > span.add-on').mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").show();
            });
        });
    </script>
