
<!-- Estalo analise -->
<div id="pag-analitico" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 



          <!-- Filtro: data inicial -->
                    <li>
                        <form class="navbar-form" style="padding-right: 5px">
                            <div class="datahora-inicio input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>

          <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>

                    <!-- Filtro: data final -->
                    <li>
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>


          <!--Filtro: usuário -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkUser" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-usuario selectpicker span2" multiple="" title="Usuários" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>


          <!--Filtro: relatório -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkRel" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-relatorio selectpicker span2" multiple="" title="Relatórios" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>

          <!--Filtro: domínio -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkDom" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-dominio selectpicker span2" multiple="" title="Domínios" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>




                  <li style="padding-left: 5px;">
                    <form class="navbar-form">
                      <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                    </form>
                  </li>
                  <li style="padding-left: 5px;">
                    <form class="navbar-form">
                      <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
                    </form>
                  </li>
                  
                  <li style="padding-left: 5px;">
                    <form class="navbar-form">
                      <button class="btn analysis-button" ng-click="listaAnalysis()" ng-model="btnAnalysis" data-loading-text="...">Analytics</button>
                    </form>
                  </li>
                  
           </ul>








      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class = "notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
      </div>

      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc"><!--{{status_progress_bar}}--></div>
      </div>

      <div ui-grid="gridDados" class ="grid" ></div>
      <!-- // ng-show="dados.length != 0" -->


      <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>

    <div class="modal modal-analysis hide fade modal-requests"><!-- Modal de solicitação de cadastro de usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Utilização do Estalo </h3>
		  </div>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ngModel="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
      
      <!--<div class="span8">-->
        <div ui-grid="gridAnalysis" class="gridAnalysis" ></div>
      <!--</div>-->
      </div>
			  <div class="modal-footer">
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>

  <div id="modal-view" class="modal hide fade modal-view"><!-- Modal de cadastro de novo usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Ação do usuário <small ng-bind="viewRelatorio"></small> - <small ng-bind="viewResumo"></small></h3>
		  </div>
      <ul id="editTabs" class="nav nav-tabs">
        <li class="active"><a href="#userTab" data-toggle="tab" target="_self">Usuário</a></li>
        <!-- onclick="$('body').resize(); -->
        <li><a href="#queryTab" data-toggle="tab" target="_self">Query</a></li>
        <li><a href="#hardwareTab" data-toggle="tab" target="_self">Hardware</a></li>
        <!-- <li><a href="#groupTab" data-toggle="tab" target="_self">Grupos</a></li> -->
      </ul>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ng-Model="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
		  
      <div id="divTab" class="tab-content">
        
        <div id="userTab" class="modal-body tab-pane in active">
          <form name="UserController" class="form-horizontal navbar-form">

            <div class="span6">
              <label class="form-label" for="Login">Login</label>
              <div class="form-controls">
                <input name="Login" class="input-medium" ng-model="viewLogin" type="text" disabled><!--pattern="[a-zA-Z0-9]+"-->
              </div>

              <label class="form-label" for="Dominio">Domínio</label>
              <div class="form-controls">
                <input name="Dominio" class="input-medium" ng-model="viewDominio" maxlength="20" type="text" disabled>
              </div>            
              
              <label class="form-label" for="Nome">Nome do Usuário</label>
              <div class="form-controls">
                <input name="Nome" class="input-medium" ng-model="viewNome" maxlength="20" type="text" disabled>
              </div> 
              
            </div>
              
            <!--	<label class="form-label" for="Resumo">Resumo</label>
              <div class="form-controls">
                <input name="Resumo" class="input-xlarge" ng-model="Resumo" maxlength="80" placeholder="João Silva" pattern="[^'\x22]+[a-zA-Z\s]" type="text" disabled>
              </div>-->

            <div class="span4">
              
              <label class="form-label" for="Relatorio">Relatorio</label>
              <div class="form-controls">
                <input name="Relatorio" class="input-medium" ng-model="viewRelatorio" maxlength="80" type="text" disabled>
              </div>
              
              
              <label class="form-label" for="crud">crud</label>
              <div class="form-controls">
                <input name="crud" class="input-medium" ng-model="viewCrud" maxlength="20" type="text" disabled>
              </div> 
              
              <label class="form-label" for="Data">Data</label>
              <div class="form-controls">
                <input name="Data" class="input-medium" ng-model="viewData" maxlength="20" type="text" disabled>
              </div>

              <!--<label class="form-label" for="Hardware">Hardware</label>
              <div class="form-controls">
                <input name="Hardware" class="input-medium" ng-model="viewHard" maxlength="20" type="text" disabled>
              </div> -->             
              
              <!--
                  acao = columns["acao"].value,
                  erro = columns["erro"].value,
                  hard = columns["hardware"].value;
                  -->
                  

            </div>
          </form>
        </div>
        
        <div id="queryTab" class="modal-body tab-pane">
        
        <div class="span6">
          
          <label class="form-label" for="Query">SQL Query</label>
						<div class="form-controls">
							<textarea name="Query" ng-model="viewQuery" type="text" style="margin: 0px 0px 10px; width: 80%; height: 340px; resize: none;" disabled>
              </textarea>
						</div>    
            
        </div>
        
        <div class="span4">
        
						<label class="form-label" for="error">SQL Error</label>
						<div class="form-controls">
              <textarea name="Error" ng-model="viewError" type="text" style="margin: 0px 0px 10px; width: 100%; height: 340px; resize: none;" disabled>
              </textarea>
						</div>   
						
         </div>
          
			</div>
      
        <div id="hardwareTab" class="modal-body tab-pane">
          <div class="span6">
          
              <label class="form-label" for="CPU">CPU</label>
              <div class="form-controls">
                <input name="CPU" class="input-xlarge" ng-model="viewCPU" type="text" disabled><!--pattern="[a-zA-Z0-9]+"-->
              </div>
              
              <label class="form-label" for="RAM">Memória RAM</label>
              <div class="form-controls">
                <input name="RAM" class="input-medium" ng-model="viewRAM" type="text" disabled><!--pattern="[a-zA-Z0-9]+"-->
              </div>
              
          </div>
          
          <div class="span4">
            
            <label class="form-label" for="Resolução">Resolução</label>
                <div class="form-controls">
                  <input name="Resolução" class="input-medium" ng-model="viewResolution" type="text" disabled><!--pattern="[a-zA-Z0-9]+"-->
                </div>
          
          </div>
        
        </div>
      </div>
      
        
			  <div class="modal-footer">
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>

  

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
  </script>
