<estilo-responsivo></estilo-responsivo>
<!-- contingencia routing -->
<div id="pag-contingencia-routing" data-role="page" class="pag-container">
	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">
		
		
		
		<!-- Filtros -->
		
		 <form class="navbar-form">
				<div class="input-append">
					<select class="filtro-regras2 selectpicker span4" title="Tabela de Regras">
						<option value="">Escolha uma Tabela de Regras</option>
						<option value="ContingenciaFixoVelox">Fixo e Velox</option>
						<option value="ContingenciaPre">Pré pago</option>
						<option value="ContingenciaPos">Pós pago</option>
						<option value="ContingenciaOiTV">Oi TV</option>
						<option value="ContingenciaOiTotal_Homg">Oi Total</option>
						<option value="ContingenciaTelevendas">Televendas</option>
						<option value="ContingenciaCorporativo">Corporativo</option>
						<option value="ContingenciaCadastro">Cadastro</option>
						<option value="ContingenciaOct">OCT</option>
						<option value="ContingenciaEmpresarial">Empresarial</option>
						<option value="ContingenciaOiInternet">Oi Internet</option>
						<option value="ContingenciaUraFibra">Ura Fibra</option>
					</select>
				 </div>
			   </form>

		

			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
				
				</div>

				<!-- Botoes -->
		
				<form class="navbar-form">
					  <button class="btn btn-gerar" data-loading-text="..." ng-click="listaDados()">Carregar</button>
				</form>			
				<form class="navbar-form">
					  <button class="btn btn-novo" data-loading-text="..." ng-click="novo()">Criar nova regra</button>
				</form>
				<importar-planilha></importar-planilha>
				<btn-exportar-relatorio></btn-exportar-relatorio>

			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		
		<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
		<div id="painelPos" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-pos')">
				<div class="form-group"> <h3>Regra Pós Pago</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdPos" readonly></div>
				<div class="form-group"> <label for ="Ura_PontoderivacaoPos">URA_PONTODERIVACAO</label><input type="text" required placeholder =" separar pontos de derivação por ponto e vírgula"  class="form-control" id="Ura_PontoderivacaoPos"></div>
				<div class="form-group"> <label for ="Ura_DDDPos">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDPos"></div>
				<div class="form-group"> <label for ="Final_DigitoPos">FINAL_DIGITO</label><input type="text" required  placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoPos"></div>
				<div class="form-group"> <label for ="Ura_Vclientejornalista">URA_VCLIENTEJORNALISTA</label><input type="text" required  class="form-control" id="Ura_Vclientejornalista"></div>
				<div class="form-group"> <label for ="Ura_IsflagfraudePos">URA_ISFLAGFRAUDE</label><input type="text" required  class="form-control" id="Ura_IsflagfraudePos"></div>
				<div class="form-group"> <label for ="Ura_Isoct">URA_ISOCT</label><input type="text" required  class="form-control" id="Ura_Isoct"></div>
				<div class="form-group"> <label for ="Ura_Ispospago">URA_ISPOSPAGO</label><input type="text" required  class="form-control" id="Ura_Ispospago"></div>
				<div class="form-group"> <label for ="Ura_Isclienteoct4p">URA_ISCLIENTEOCT4P</label><input type="text" required  class="form-control" id="Ura_Isclienteoct4p"></div>
				<div class="form-group"> <label for ="Is_Contaemaberto_Entreqtddias">IS_CONTAEMABERTO_ENTREQTDDIAS</label><input type="text" required  class="form-control" id="Is_Contaemaberto_Entreqtddias"></div>
				<div class="form-group"> <label for ="Possuicontaemabertoentrexdias">POSSUICONTAEMABERTOENTREXDIAS</label><input type="text" required class="form-control" id="Possuicontaemabertoentrexdias"></div>
				<div class="form-group"> <label for ="Ura_Isosctprofissionalpj">URA_ISOCTPROFISSIONALPJ</label><input type="text" required  class="form-control" id="Ura_Isosctprofissionalpj"></div>
				<div class="form-group"> <label for ="Ura_Isoctprofissionalpf">URA_ISOCTPROFISSIONALPF</label><input type="text" required  class="form-control" id="Ura_Isoctprofissionalpf"></div>
				<div class="form-group"> <label for ="Ura_Isoivelox3g">URA_ISOIVELOX3G</label><input type="text" required  class="form-control" id="Ura_Isoivelox3g"></div>
				<div class="form-group"> <label for ="Ura_Nome_Plano">URA_NOME_PLANO</label><input type="text" required  class="form-control" id="Ura_Nome_Plano"></div>
				<div class="form-group"> <label for ="Ura_Lastdialog">URA_LASTDIALOG</label><input type="text" required  class="form-control" id="Ura_Lastdialog"></div>
				<div class="form-group"> <label for ="Ura_MailingPos">URA_MAILING</label><input type="text" required  class="form-control" id="Ura_MailingPos"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoPos">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoPos"></div>
				<div class="form-group"> <label for ="companyNamePos">companyName</label><input type="text" required  class="form-control" id="companyNamePos"></div>
				<div class="form-group"> <label for ="selectedDestAddressPos">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressPos"></div>
			
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>	</div>			
				<div class="cntg-info" id="cntg-pos">
										
					<div class="form-group"> <label for ="horaIniPos">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniPos"></div>
					<div class="form-group"> <label for ="horaFimPos">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimPos"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoPos_2">extendResponseServicoDestino</label><input type="text"   class="form-control" id="extendResponseServicoDestinoPos_2"></div>
					<div class="form-group"> <label for ="companyNamePos_2">companyName</label><input type="text"   class="form-control" id="companyNamePos_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressPos_2">selectedDestAddress</label><input type="text"   class="form-control" id="selectedDestAddressPos_2"></div>
				</div>
				
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		<div id="painelPre" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-pre')">
				<div class="form-group"> <h3>Regra Pré Pago</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdPre" readonly></div>
				<div class="form-group"> <label for ="Ura_PontoderivacaoPre">URA_PONTODERIVACAO</label><input type="text" required placeholder =" separar pontos de derivação por ponto e vírgula" class="form-control" id="Ura_PontoderivacaoPre"></div>
				<div class="form-group"> <label for ="Ura_DDDPre">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDPre"></div>
				<div class="form-group"> <label for ="Final_DigitoPre">FINAL_DIGITO</label><input type="text" required  placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoPre"></div>
				<div class="form-group"> <label for ="Ura_IsflagfraudePre">URA_ISFLAGFRAUDE</label><input type="text" required  class="form-control" id="Ura_IsflagfraudePre"></div>
				<div class="form-group"> <label for ="Ura_Isvip">URA_ISVIP</label><input type="text" required  class="form-control" id="Ura_Isvip"></div>
				<div class="form-group"> <label for ="Ura_Segmentovalor">URA_SEGMENTOVALOR</label><input type="text" required  class="form-control" id="Ura_Segmentovalor"></div>
				<div class="form-group"> <label for ="Ura_Isoicontrole">URA_ISOICONTROLE</label><input type="text" required  class="form-control" id="Ura_Isoicontrole"></div>
				<div class="form-group"> <label for ="Ura_Isscoreanatel">URA_ISSCOREANATEL</label><input type="text" required  class="form-control" id="Ura_Isscoreanatel"></div>
				<div class="form-group"> <label for ="Ura_Urawelcome">URA_URAWELCOME</label><input type="text" required class="form-control" id="Ura_Urawelcome"></div>
				<div class="form-group"> <label for ="Ura_Ism4u">URA_ISM4U</label><input type="text" required  class="form-control" id="Ura_Ism4u"></div>
				<div class="form-group"> <label for ="Ura_Isdigito">URA_ISDIGITO</label><input type="text" required  class="form-control" id="Ura_Isdigito"></div>
				<div class="form-group"> <label for ="Isdemandaativa">ISDEMANDAATIVA</label><input type="text" required  class="form-control" id="Isdemandaativa"></div>
				<div class="form-group"> <label for ="Isnid">ISNID</label><input type="text" required  class="form-control" id="Isnid"></div>
				<div class="form-group"> <label for ="Isnovooicontrole">ISNOVOOICONTROLE</label><input type="text" required  class="form-control" id="Isnovooicontrole"></div>
				<div class="form-group"> <label for ="Isprepago">ISPREPAGO</label><input type="text" required  class="form-control" id="Isprepago"></div>
				<div class="form-group"> <label for ="Ura_Promocao">URA_PROMOCAO</label><input type="text" required  placeholder =" separar promoções por ponto e vírgula" class="form-control" id="Ura_Promocao"></div>
				<div class="form-group"> <label for ="Ura_Isoimod">URA_ISOIMOD</label><input type="text" required  class="form-control" id="Ura_Isoimod"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoPre">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoPre"></div>
				<div class="form-group"> <label for ="companyNamePre">companyName</label><input type="text" required  class="form-control" id="companyNamePre"></div>
				<div class="form-group"> <label for ="selectedDestAddressPre">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressPre"></div>
			
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>			</div>		
				<div class="cntg-info" id="cntg-pre">
					<div class="form-group"> <label for ="horaIniPre">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniPre"></div>
					<div class="form-group"> <label for ="horaFimPre">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimPre"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoPre_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoPre_2"></div>
					<div class="form-group"> <label for ="companyNamePre_2">companyName</label><input type="text"  class="form-control" id="companyNamePre_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressPre_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressPre_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		<div id="painelFixoVelox" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-fixo')">
				<div class="form-group"> <h3>Regra Fixo/Velox</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdFixo" readonly></div>
				<div class="form-group"> <label for ="Ura_ProdutoFixo">URA_PRODUTO</label><input type="text" required class="form-control" id="Ura_ProdutoFixo"></div>
				<div class="form-group"> <label for ="Ura_AssuntoFixo">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoFixo"></div>
				<div class="form-group"> <label for ="Ura_DDDFixo">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDFixo"></div>
				<div class="form-group"> <label for ="Final_DigitoFixo">FINAL_DIGITO</label><input type="text" required  placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoFixo"></div>
				<div class="form-group"> <label for ="Ura_Mailing_R2Fixo">URA_MAILING_R2FIXO</label><input type="text" required  class="form-control" id="Ura_Mailing_R2Fixo"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoFixo">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoFixo"></div>
				<div class="form-group"> <label for ="companyNameFixo">companyName</label><input type="text" required  class="form-control" id="companyNameFixo"></div>
				<div class="form-group"> <label for ="selectedDestAddressFixo">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressFixo"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-fixo">
					<div class="form-group"> <label for ="horaIniFixo">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniFixo"></div>
					<div class="form-group"> <label for ="horaFimFixo">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimFixo"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoFixo_2">extendResponseServicoDestino</label><input type="text" class="form-control" id="extendResponseServicoDestinoFixo_2"></div>
					<div class="form-group"> <label for ="companyNameFixo_2">companyName</label><input type="text"  class="form-control" id="companyNameFixo_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressFixo_2">selectedDestAddress</label><input type="text" class="form-control" id="selectedDestAddressFixo_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
				
				
			</form>
		</div>
		<div id="painelOiTotal_Homg" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-total')">
				<div class="form-group"> <h3>Regra Oi Total</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdTotal" readonly></div>
				<div class="form-group"> <label for ="Ura_ProdutoTotal">URA_PRODUTO</label><input type="text" required class="form-control" id="Ura_ProdutoTotal"></div>
				<div class="form-group"> <label for ="Ura_AssuntoTotal">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoTotal"></div>
				<div class="form-group"> <label for ="Ura_PlanoTotal">URA_PLANO</label><input type="text" required  placeholder =" separar planos por ponto e vírgula" class="form-control" id="Ura_PlanoTotal"></div>
				<div class="form-group"> <label for ="Ura_DDDTotal">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDTotal"></div>
				<div class="form-group"> <label for ="Final_DigitoTotal">FINAL_DIGITO</label><input type="text" required placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoTotal"></div>
				<div class="form-group"> <label for ="Ura_MailingTotal">URA_MAILING</label><input type="text" required class="form-control" id="Ura_MailingTotal"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoTotal">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoTotal"></div>
				<div class="form-group"> <label for ="companyNameTotal">companyName</label><input type="text" required class="form-control" id="companyNameTotal"></div>
				<div class="form-group"> <label for ="selectedDestAddressTotal">selectedDestAddress</label><input type="text" required class="form-control" id="selectedDestAddressTotal"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-total">
					<div class="form-group"> <label for ="horaIniTotal">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniTotal"></div>
					<div class="form-group"> <label for ="horaFimTotal">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimTotal"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoTotal_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoTotal_2"></div>
					<div class="form-group"> <label for ="companyNameTotal_2">companyName</label><input type="text"  class="form-control" id="companyNameTotal_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressTotal_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressTotal_2"></div>
				</div>
				<div class="form-group"> <label for ="Ura_ClienteFibraTotal">URA_CLIENTE_FIBRA</label><input type="text"  class="form-control" id="Ura_ClienteFibraTotal"></div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		<div id="painelOiTV" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-tv')">
				<div class="form-group"> <h3>Regra Oi TV</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdTV" readonly></div>
				<div class="form-group"> <label for ="Ura_ProdutoTV">URA_PRODUTO</label><input type="text" required  class="form-control" id="Ura_ProdutoTV"></div>
				<div class="form-group"> <label for ="Ura_AssuntoTV">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoTV"></div>
				<div class="form-group"> <label for ="Ura_DDDTV">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDTV"></div>
				<div class="form-group"> <label for ="Final_DigitoTV">FINAL_DIGITO</label><input type="text" required placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoTV"></div>
				<div class="form-group"> <label for ="Ura_MailingTV">URA_MAILING</label><input type="text" required  class="form-control" id="Ura_MailingTV"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoTV">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoTV"></div>
				<div class="form-group"> <label for ="companyNameTV">companyName</label><input type="text" required  class="form-control" id="companyNameTV"></div>
				<div class="form-group"> <label for ="selectedDestAddressTV">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressTV"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-tv">
					<div class="form-group"> <label for ="horaIniTV">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniTV"></div>
					<div class="form-group"> <label for ="horaFimTV">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimTV"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoTV_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoTV_2"></div>
					<div class="form-group"> <label for ="companyNameTV_2">companyName</label><input type="text"  class="form-control" id="companyNameTV_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressTV_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressTV_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		
		<div id="painelTelevendas" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-tlv')">
				<div class="form-group"> <h3>Regra Televendas</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdTelevendas" readonly></div>
				<div class="form-group"> <label for ="Ura_Menu_Origem">URA_MENU_ORIGEM</label><input type="text" required  class="form-control" id="Ura_Menu_Origem"></div>
				<div class="form-group"> <label for ="Ura_Canal_De_Entrada">URA_CANAL_DE_ENTRADA</label><input type="text" required  class="form-control" id="Ura_Canal_De_Entrada"></div>
				<div class="form-group"> <label for ="Ura_DDDTelevendas">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDTelevendas"></div>
				<div class="form-group"> <label for ="Final_DigitoTelevendas">FINAL_DIGITO</label><input type="text" required placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_DigitoTelevendas"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoTelevendas">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoTelevendas"></div>
				<div class="form-group"> <label for ="companyNameTelevendas">companyName</label><input type="text" required  class="form-control" id="companyNameTelevendas"></div>
				<div class="form-group"> <label for ="selectedDestAddressTelevendas">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressTelevendas"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-tlv">
					<div class="form-group"> <label for ="horaIniTelevendas">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniTelevendas"></div>
					<div class="form-group"> <label for ="horaFimTelevendas">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimTelevendas"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoTelevendas_2">extendResponseServicoDestino</label><input type="text"   class="form-control" id="extendResponseServicoDestinoTelevendas_2"></div>
					<div class="form-group"> <label for ="companyNameTelevendas_2">companyName</label><input type="text"   class="form-control" id="companyNameTelevendas_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressTelevendas_2">selectedDestAddress</label><input type="text"   class="form-control" id="selectedDestAddressTelevendas_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>

		<div id="painelCorporativo" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-corp')">
				<div class="form-group"> <h3>Regra Corporativo</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdCorporativo" readonly></div>
				<div class="form-group"> <label for ="Ura_ProdutoCorporativo">URA_PRODUTO</label><input type="text" required  class="form-control" id="Ura_ProdutoCorporativo"></div>
				<div class="form-group"> <label for ="Ura_AssuntoCorporativo">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoCorporativo"></div>
				<div class="form-group"> <label for ="Ura_DDDCorporativo">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDCorporativo"></div>
				<div class="form-group"> <label for ="Tel_FixoCorporativo">TEL_FIXO</label><input type="text" required class="form-control" id="Tel_FixoCorporativo"></div>
				<div class="form-group"> <label for ="Ura_MailingCorporativo">URA_MAILING</label><input type="text" required  class="form-control" id="Ura_MailingCorporativo"></div>
				<div class="form-group"> <label for ="VeloxCorporativo">VELOX</label><input type="text" required  class="form-control" id="VeloxCorporativo"></div>
				<div class="form-group"> <label for ="Ura_CarteiraCorporativo">URA_CARTEIRA</label><input type="text" required  class="form-control" id="Ura_CarteiraCorporativo"></div>
				<div class="form-group"> <label for ="Tipo_ClienteCorporativo">TIPO_CLIENTE</label><input type="text" required  class="form-control" id="Tipo_ClienteCorporativo"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoCorporativo">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoCorporativo"></div>
				<div class="form-group"> <label for ="companyNameCorporativo">companyName</label><input type="text" required  class="form-control" id="companyNameCorporativo"></div>
				<div class="form-group"> <label for ="selectedDestAddressCorporativo">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressCorporativo"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-corp">
					<div class="form-group"> <label for ="horaIniCorporativo">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniCorporativo"></div>
					<div class="form-group"> <label for ="horaFimCorporativo">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimCorporativo"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoCorporativo_2">extendResponseServicoDestino</label><input type="text"   class="form-control" id="extendResponseServicoDestinoCorporativo_2"></div>
					<div class="form-group"> <label for ="companyNameCorporativo_2">companyName</label><input type="text"   class="form-control" id="companyNameCorporativo_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressCorporativo_2">selectedDestAddress</label><input type="text"   class="form-control" id="selectedDestAddressCorporativo_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>

		<div id="painelCadastro" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-cad')">
				<div class="form-group"> <h3>Regra Cadastro</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdCadastro" readonly></div>
				<div class="form-group"> <label for ="Ura_CanaldeentradaCadastro">URA_CANALDEENTRADA</label><input type="text" required  class="form-control" id="Ura_CanaldeentradaCadastro"></div>
				<div class="form-group"> <label for ="Ura_TipochipCadastro">URA_TIPOCHIP</label><input type="text" required  class="form-control" id="Ura_TipochipCadastro"></div>
				<div class="form-group"> <label for ="Ura_DDDCadastro">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDCadastro"></div>
				<div class="form-group"> <label for ="FinaldigitoCadastro">FINALDIGITO</label><input type="text" required placeholder =" separar dígitos por ponto e vírgula" class="form-control" id="FinaldigitoCadastro"></div>
				<div class="form-group"> <label for ="Ura_PlanoCadastro">URA_PLANO</label><input type="text" required  class="form-control" id="Ura_PlanoCadastro"></div>
				<div class="form-group"> <label for ="Ura_NomeplanoCadastro">URA_NOMEPLANO</label><input type="text" required  class="form-control" id="Ura_NomeplanoCadastro"></div>
				<div class="form-group"> <label for ="AtendimentobilingueCadastro">ATENDIMENTOBILINGUE</label><input type="text" required  class="form-control" id="AtendimentobilingueCadastro"></div>
				<div class="form-group"> <label for ="MsidnCadastro">MSIDN</label><input type="text" required  class="form-control" id="MsidnCadastro"></div>
				<div class="form-group"> <label for ="Chamadasrepetidas24horas">CHAMADASREPETIDAS24HORAS</label><input type="text" required  class="form-control" id="Chamadasrepetidas24horas"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoCadastro">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoCadastro"></div>
				<div class="form-group"> <label for ="companyNameCadastro">companyName</label><input type="text" required  class="form-control" id="companyNameCadastro"></div>
				<div class="form-group"> <label for ="selectedDestAddressCadastro">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressCadastro"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>					</div>
				<div class="cntg-info" id="cntg-cad">
					<div class="form-group"> <label for ="horaIniCadastro">Hora Início</label><input type="text" class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaIniCadastro"></div>
					<div class="form-group"> <label for ="horaFimCadastro">Hora Fim</label><input type="text"  class="form-control cntg-hora" placeholder="Formato hh:mm" id="horaFimCadastro"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoCadastro_2">extendResponseServicoDestino</label><input type="text"   class="form-control" id="extendResponseServicoDestinoCadastro_2"></div>
					<div class="form-group"> <label for ="companyNameCadastro_2">companyName</label><input type="text"   class="form-control" id="companyNameCadastro_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressCadastro_2">selectedDestAddress</label><input type="text"   class="form-control" id="selectedDestAddressCadastro_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>

		<div id="painelOct" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-oct')">
				<div class="form-group"> <h3>Regra Oct</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdOct" readonly></div>
				<div class="form-group"> <label for ="Ura_Repetidacrep">URA_REPETIDACREP</label><input type="text" required  class="form-control" id="Ura_Repetidacrep"></div>
				<div class="form-group"> <label for ="Ura_Pilotocrep">URA_PILOTOCREP</label><input type="text" required  class="form-control" id="Ura_Pilotocrep"></div>
				<div class="form-group"> <label for ="Ura_Blacklistcrep">URA_BLACKLISTCREP</label><input type="text" required  class="form-control" id="Ura_Blacklistcrep"></div>
				<div class="form-group"> <label for ="Ura_Horariocrep">URA_HORARIOCREP</label><input type="text" required class="form-control" id="Ura_Horariocrep"></div>
				<div class="form-group"> <label for ="Ura_assunto">URA_ASSUNTOOCT</label><input type="text" required  class="form-control" id="Ura_assuntoOct"></div>
				<div class="form-group"> <label for ="URA_BDABERTODENTRODOPRAZO">URA_BDABERTODENTRODOPRAZO</label><input type="text" required  class="form-control" id="URA_BDABERTODENTRODOPRAZO"></div>
				<div class="form-group"> <label for ="URA_BDABERTOFORADOPRAZO">URA_BDABERTOFORADOPRAZO</label><input type="text" required  class="form-control" id="URA_BDABERTOFORADOPRAZO"></div>
				<div class="form-group"> <label for ="URA_BDVELOXABERTODENTRODOPRAZO">URA_BDVELOXABERTODENTRODOPRAZO</label><input type="text" required  class="form-control" id="URA_BDVELOXABERTODENTRODOPRAZO"></div>
				<div class="form-group"> <label for ="URA_BDVELOXABERTOFORADOPRAZO">URA_BDVELOXABERTOFORADOPRAZO</label><input type="text" required  class="form-control" id="URA_BDVELOXABERTOFORADOPRAZO"></div>
				<div class="form-group"> <label for ="URA_QUARENTENACREP">URA_QUARENTENACREP</label><input type="text" required  class="form-control" id="URA_QUARENTENACREP"></div>
				<div class="form-group"> <label for ="URA_FRAUDE">URA_FRAUDE</label><input type="text" required  class="form-control" id="URA_FRAUDE"></div>
				<div class="form-group"> <label for ="URA_TIPOBLOQUEIO">URA_TIPOBLOQUEIO</label><input type="text" required  class="form-control" id="URA_TIPOBLOQUEIO"></div>
				<div class="form-group"> <label for ="URA_WELCOME">URA_WELCOME</label><input type="text" required  class="form-control" id="URA_WELCOME"></div>
				<div class="form-group"> <label for ="URA_CONTA_EM_ABERTO">URA_CONTA_EM_ABERTO</label><input type="text" required  class="form-control" id="URA_CONTA_EM_ABERTO"></div>
				<div class="form-group"> <label for ="URA_SOLICITACAO">URA_SOLICITACAO</label><input type="text" required  class="form-control" id="URA_SOLICITACAO"></div>
				<div class="form-group"> <label for ="Ura_mailing">Ura_mailing</label><input type="text" required  class="form-control" id="Ura_mailing"></div>
				<div class="form-group"> <label for ="Ura_produto">Ura_produto</label><input type="text" required  placeholder =" separar produtos por ponto e vírgula" class="form-control" id="Ura_produto"></div>
				<div class="form-group"> <label for ="URA_TELEFONE_TRATADO">URA_TELEFONE_TRATADO</label><input type="text" required  class="form-control" id="URA_TELEFONE_TRATADO"></div>
				<div class="form-group"> <label for ="URA_VIP">URA_VIP</label><input type="text" required  class="form-control" id="URA_VIP"></div>
				<div class="form-group"> <label for ="URA_RESGATE_ANATEL">URA_RESGATE_ANATEL</label><input type="text" required  class="form-control" id="URA_RESGATE_ANATEL"></div>
				<div class="form-group"> <label for ="URA_TRN_ID">URA_TRN_ID</label><input type="text" required  class="form-control" id="URA_TRN_ID"></div>
				<div class="form-group"> <label for ="URA_USOUAPP12MESES">URA_USOUAPP12MESES</label><input type="text" required  class="form-control" id="URA_USOUAPP12MESES"></div>
				<div class="form-group"> <label for ="URA_USOUAPP20MIN">URA_USOUAPP20MIN</label><input type="text" required  class="form-control" id="URA_USOUAPP20MIN"></div>
				<div class="form-group"> <label for ="URA_EVENTO">URA_EVENTO</label><input type="text" required  class="form-control" id="URA_EVENTO"></div>
				<div class="form-group"> <label for ="Ura_dddOct">URA_DDD</label><input type="text" required placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_dddOct"></div>
				<div class="form-group"> <label for ="Final_digitoOct">FINAL_DIGITO</label><input type="text" required placeholder =" separar digitos por ponto e vírgula" class="form-control" id="Final_digitoOct"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoOct">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoOct"></div>
				<div class="form-group"> <label for ="companyNameOct">companyName</label><input type="text" required  class="form-control" id="companyNameOct"></div>
				<div class="form-group"> <label for ="selectedDestAddressOct">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressOct"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>					</div>
				<div class="cntg-info" id="cntg-oct">
					<div class="form-group"> <label for ="horaIniOct">Hora Início</label><input type="text" class="form-control" id="horaIniOct"></div>
					<div class="form-group"> <label for ="horaFimOct">Hora Fim</label><input type="text"  class="form-control" id="horaFimOct"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoOct_2">extendResponseServicoDestino</label><input type="text"   class="form-control" id="extendResponseServicoDestinoOct_2"></div>
					<div class="form-group"> <label for ="companyNameOct_2">companyName</label><input type="text"   class="form-control" id="companyNameOct_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressOct_2">selectedDestAddress</label><input type="text"   class="form-control" id="selectedDestAddressOct_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		
		<div id="painelEmpresarial" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-emp')">
				<div class="form-group"> <h3>Regra Empresarial</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdEmp" readonly></div>
				<div class="form-group"> <label for ="Ura_CanalEmp">URA_CANAL</label><input type="text" required  class="form-control" id="Ura_CanalEmp"></div>
				<div class="form-group"> <label for ="Ura_ProdutoEmp">URA_PRODUTO</label><input type="text" required  class="form-control" id="Ura_ProdutoEmp"></div>
				<div class="form-group"> <label for ="Ura_AssuntoEmp">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoEmp"></div>
				<div class="form-group"> <label for ="Ura_DDDEmp">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDEmp"></div>
				<div class="form-group"> <label for ="BloqueioEmp">PARAMETRO_BLOQUEIO_FINANCEIRO</label><input type="text" required class="form-control" id="BloqueioEmp"></div>				
				<div class="form-group"> <label for ="Ura_MailingEmp">URA_MAILING</label><input type="text" required  class="form-control" id="Ura_MailingEmp"></div>
				<div class="form-group"> <label for ="Tel_FixoEmp">TEL_FIXO</label><input type="text" required  class="form-control" id="Tel_FixoEmp"></div>
				<div class="form-group"> <label for ="VeloxEmp">VELOX</label><input type="text" required  class="form-control" id="VeloxEmp"></div>
				<div class="form-group"> <label for ="RentabilizacaoEmp">RENTABILIZACAO_EMPRESARIAL</label><input type="text" required  class="form-control" id="RentabilizacaoEmp"></div>
				<div class="form-group"> <label for ="ConsultorEmp">CONSULTOR_EMPRESARIAL</label><input type="text" required  class="form-control" id="ConsultorEmp"></div>
				
				<div class="form-group"> <label for ="extendResponseServicoDestinoEmp">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoEmp"></div>
				<div class="form-group"> <label for ="companyNameEmp">companyName</label><input type="text" required  class="form-control" id="companyNameEmp"></div>
				<div class="form-group"> <label for ="selectedDestAddressEmp">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressEmp"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-emp">
					<div class="form-group"> <label for ="horaIniEmp">Hora Início</label><input type="text" class="form-control" id="horaIniEmp"></div>
					<div class="form-group"> <label for ="horaFimEmp">Hora Fim</label><input type="text"  class="form-control" id="horaFimEmp"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoEmp_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoEmp_2"></div>
					<div class="form-group"> <label for ="companyNameEmp_2">companyName</label><input type="text"  class="form-control" id="companyNameEmp_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressEmp_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressEmp_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>

		<div id="painelOiInternet" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-internet')">
				<div class="form-group"> <h3>Regra Oi Internet</h3></div>
				<div class="form-group" ng-show="linhaIdGeral"> <input type="text" required  class="form-control" id="IdOiInternet" readonly></div>
				<div class="form-group"> <label for ="Ura_CanalOiInternet">URA_CANAL</label><input type="text" required  class="form-control" id="Ura_CanalOiInternet"></div>
				<div class="form-group"> <label for ="Ura_AssuntoOiInternet">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoOiInternet"></div>
				<div class="form-group"> <label for ="Ura_SegmentoOiInternet">URA_SEGMENTO</label><input type="text" required  class="form-control" id="Ura_SegmentoOiInternet"></div>
				<div class="form-group"> <label for ="Ura_DDDOiInternet">URA_DDD</label><input type="text" required  placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDOiInternet"></div>
				<div class="form-group"> <label for ="Ura_PlanoOiInternet">URA_PLANO</label><input type="text" required  placeholder =" separar planos por ponto e vírgula" class="form-control" id="Ura_PlanoOiInternet"></div>
				<div class="form-group"> <label for ="Ura_TipoBloqueioOiInternet">URA_TIPO_BLOQUEIO</label><input type="text" required  placeholder =" separar tipos de bloqueio por ponto e vírgula" class="form-control" id="Ura_TipoBloqueioOiInternet"></div>
				<div class="form-group"> <label for ="Ura_MailingOiInternet">URA_MAILING</label><input type="text" required  class="form-control" id="Ura_MailingOiInternet"></div>
				<div class="form-group"> <label for ="Ura_ModemAlinhadoOiInternet">URA_MODEM_ALINHADO</label><input type="text" required  class="form-control" id="Ura_ModemAlinhadoOiInternet"></div>
				<div class="form-group"> <label for ="extendResponseServicoDestinoOiInternet">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoOiInternet"></div>
				<div class="form-group"> <label for ="companyNameOiInternet">companyName</label><input type="text" required  class="form-control" id="companyNameOiInternet"></div>
				<div class="form-group"> <label for ="selectedDestAddressOiInternet">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressOiInternet"></div>
				<div class="form-group"> <h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-internet">
					<div class="form-group"> <label for ="horaIniOiInternet">Hora Início</label><input type="text" class="form-control" id="horaIniOiInternet"></div>
					<div class="form-group"> <label for ="horaFimOiInternet">Hora Fim</label><input type="text"  class="form-control" id="horaFimOiInternet"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoOiInternet_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoOiInternet_2"></div>
					<div class="form-group"> <label for ="companyNameOiInternet_2">companyName</label><input type="text"  class="form-control" id="companyNameOiInternet_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressOiInternet_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressOiInternet_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
		
		<div id="painelUraFibra" style = "overflow: scroll;display:none;height: 600px;">
			<form ng-submit="salvar('cntg-internet')">
				<div class="form-group"> <h3>Regra Ura Fibra</h3></div>
				<div class="form-group" ng-show="linhaIdGeral">
				<input type="text" required  class="form-control" id="IdUraFibra" readonly></div>
				<div class="form-group"><label for ="Ura_CanalUraFibra">URA_CANAL</label><input type="text" required  class="form-control" id="Ura_CanalUraFibra"></div>
				<div class="form-group"><label for ="Ura_PlanoUraFibra">URA_PLANO</label><input type="text" required  class="form-control" id="Ura_PlanoUraFibra"></div>
				<div class="form-group"><label for ="Ura_ProdutoUraFibra">URA_PRODUTO</label><input type="text" required  class="form-control" id="Ura_ProdutoUraFibra"></div>
				<div class="form-group"><label for ="Ura_TipoplanoUraFibra">URA_TIPOPLANO</label><input type="text" required class="form-control" id="Ura_TipoplanoUraFibra"></div>
				<div class="form-group"><label for ="Ura_SegmentoUraFibra">URA_SEGMENTO</label><input type="text" required  class="form-control" id="Ura_SegmentoUraFibra"></div>
				<div class="form-group"><label for ="Ura_PontoderivacaoUraFibra">URA_PONTODERIVACAO</label><input type="text" required placeholder =" separar pontos de derivação por ponto e vírgula" class="form-control" id="Ura_PontoderivacaoUraFibra"></div>
				<div class="form-group"><label for ="Ura_AssuntoUraFibra">URA_ASSUNTO</label><input type="text" required  class="form-control" id="Ura_AssuntoUraFibra"></div>
				<div class="form-group"><label for ="Ura_StatusAloneUraFibra">URA_STATUS_ALONE</label><input type="text" required  class="form-control" id="Ura_StatusAloneUraFibra"></div>
				<div class="form-group"><label for ="Ura_StatusOitFixoUraFibra">URA_STATUS_OIT_FIXO</label><input type="text" required  class="form-control" id="Ura_StatusOitFixoUraFibra"></div>
				<div class="form-group"><label for ="Ura_StatusOitBlUraFibra">URA_STATUS_OIT_BL</label><input type="text" required  class="form-control" id="Ura_StatusOitBlUraFibra"></div>
				<div class="form-group"><label for ="Ura_StatusOitTvUraFibra">URA_STATUS_OIT_TV</label><input type="text" required  class="form-control" id="Ura_StatusOitTvUraFibra"></div>
				<div class="form-group"><label for ="Ura_TipoBloqueioUraFibra">URA_TIPO_BLOQUEIO</label><input type="text" required  class="form-control" id="Ura_TipoBloqueioUraFibra"></div>
				<div class="form-group"><label for ="Ura_CidadeUraFibra">URA_CIDADE</label><input type="text" required placeholder =" separar cidades por ponto e vírgula" class="form-control" id="Ura_CidadeUraFibra"></div>
				<div class="form-group"><label for ="Ura_DDDUraFibra">URA_DDD</label><input type="text" required placeholder =" separar ddds por ponto e vírgula" class="form-control" id="Ura_DDDUraFibra"></div>
				<div class="form-group"><label for ="Ura_BercarioUraFibra">URA_BERCARIO</label><input type="text" required  class="form-control" id="Ura_BercarioUraFibra"></div>
				<div class="form-group"><label for ="Ura_MailingUraFibra">URA_MAILING</label><input type="text" required placeholder =" separar mailings por ponto e vírgula" class="form-control" id="Ura_MailingUraFibra"></div>
				<div class="form-group"><label for ="Ura_StCrepUraFibra">URA_ST_CREP</label><input type="text" required  class="form-control" id="Ura_StCrepUraFibra"></div>
				<div class="form-group"><label for ="Ura_SacCrepUraFibra">URA_SAC_CREP</label><input type="text" required  class="form-control" id="Ura_SacCrepUraFibra"></div>
				<div class="form-group"><label for ="Ura_TagrecvozUraFibra">URA_TAGRECVOZ</label><input type="text" required  class="form-control" id="Ura_TagrecvozUraFibra"></div>
				<div class="form-group"><label for ="Ura_RecvozUraFibra">URA_RECVOZ</label><input type="text" required  class="form-control" id="Ura_RecvozUraFibra"></div>
				
				<div class="form-group"><label for ="extendResponseServicoDestinoUraFibra">extendResponseServicoDestino</label><input type="text" required  class="form-control" id="extendResponseServicoDestinoUraFibra"></div>
				<div class="form-group"><label for ="companyNameUraFibra">companyName</label><input type="text" required  class="form-control" id="companyNameUraFibra"></div>
				<div class="form-group"><label for ="selectedDestAddressUraFibra">selectedDestAddress</label><input type="text" required  class="form-control" id="selectedDestAddressUraFibra"></div>
				<div class="form-group"><h4> Informações de roteamento para período determinado: (opcional)</h4>				</div>
				<div class="cntg-info" id="cntg-internet">
					<div class="form-group"> <label for ="horaIniUraFibra">Hora Início</label><input type="text" class="form-control" id="horaIniUraFibra"></div>
					<div class="form-group"> <label for ="horaFimUraFibra">Hora Fim</label><input type="text"  class="form-control" id="horaFimUraFibra"></div>
					<div class="form-group"> <label for ="extendResponseServicoDestinoUraFibra_2">extendResponseServicoDestino</label><input type="text"  class="form-control" id="extendResponseServicoDestinoUraFibra_2"></div>
					<div class="form-group"> <label for ="companyNameUraFibra_2">companyName</label><input type="text"  class="form-control" id="companyNameUraFibra_2"></div>
					<div class="form-group"> <label for ="selectedDestAddressUraFibra_2">selectedDestAddress</label><input type="text"  class="form-control" id="selectedDestAddressUraFibra_2"></div>
				</div>
				<div class="form-group"><input type="submit" class="btn btn-gerar btn-regras" value="Salvar"></div>
				<div class="form-group"><input type="button" class="btn btn-gerar btn-regras" value="Voltar" ng-click="voltar()"></div>
			</form>
		</div>
	
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
	
	
	

	
</div>
<style>
	input{
		width:90% !important;
		height:30px !important;
		border-radius:2px !important;
	}
	.btn-regras{
		width:100px !important;
		float: left !important;
		margin-left: 4px !important;
	}
</style>
<script>
	// dropdown hover
	$(document).ready(function () {
		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});
		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});
		$('.js-activated').dropdownHover().dropdown();

		
	});
	
	
	
</script>