<style type="text/css">
body{
		overflow: hidden !important;
	}
</style>
<!--Bruno 06/03/2017-->
<!-- Estalo analise-->
<div id="pag-CriaGra" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente"><div class="versao">{{versao}}</div></div>
        <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
        <div class="navbar-inner">
            <div class="container" style="width:auto;">

                <ul class="nav">		  
                    <li lista-relatorios></li> 
                    
                    <li>
                      <form class="navbar-form">
                          <button href="#modal-gra" data-toggle="modal" class="btn btn-register" data-loading-text="...">Criar GRA</button>
                      </form>
                  </li>
                </ul>

        </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">


            <div class="row-fluid">
                <div ui-grid="gridDados" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ng-show="gridDados.length != 0" class="grid clearfix"></div>
            </div>


                <!--Começa form criar gra-->
                <div id="modal-gra" class="modal-gra hide fade modal">


                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Criação de Gra</h3>
                    </div>

                    <div class="alert alertBlock hide fade in registerAlert clearFix">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- <h5>Aviso!</h5> -->
                        <span class="registerAlertText" ng-bind="registerAlert"></span>
                    </div>

                    <form name="UserController" id="FormCriaGra" class="form-horizontal navbar-form">

                        <div class="span6">
                            <div class="control-group">
                                <br>
                                <br>
                                <label class="control-label" for="Gra">GRA</label>
                                <div class="controls">
                                    <input name="editGra" id="editGra" class="input-large" ng-model="gra" maxlength="10" placeholder="Exemplo: AAAA" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="DDD">DDD</label>
                                <div class="controls">
                                    <input name="editDDD" id="editDDD" class="input-large" ng-model="ddd" pattern="[0-9]{1,2}" maxlength="2"" placeholder="Exemplo: 21" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="UF">UF</label>
                                <div class="controls">
                                    <!--<input id="editUFs" name="editUFs" class="input-medium" ng-model="edituf" placeholder="RJ" type="text">-->
                                    <select id="editUF" name="editUF" class="input-medium" ng-model="uf" type="text">
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button onclick="limparForm()" data-dismiss="modal" class="btn btn-danger" type="reset" data-loading-text="...">Cancelar</button>
                        <button ng-click="registraCriaGra()" data-toggle="modal" class="btn btn-success" type="submit" data-loading-text="...">Salvar</button>
                    </div>
                </div>

                <!--Termina form criação gra-->
                <!--Começa form edição  gra-->
                <div class="row-fluid CtrlCriaGra" style="margin-top: 75px;">

                    <div id="modal-view" class="modal hide fade modal-gra">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3>Edição de GRA</h3>
                        </div>
                        <div class="alert alertBlock hide fade in registerAlert clearFix">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <!-- <h5>Aviso!</h5> -->
                            <span class="registerAlertText" ng-bind="registerAlert"></span>
                        </div>
                        <form name="UserController" id="FormECriaGra" class="form-horizontal navbar-form">
                            <div class="span6">
                                <div class="control-group">
                                    <br>
                                    <br>
                                    <label class="control-label" for="Gra">IDGRA</label>
                                    <div class="controls">
                                        <input name="editIDGras" id="editIDGras" class="input-medium" ng-model="editidgra" disabled type="text">
                                    </div>
                                    <br>
                                    <label class="control-label" for="Gra">GRA</label>
                                    <div class="controls">
                                        <input name="editGras" id="editGras" class="input-medium" ng-model="editgra" placeholder="AAAA" type="text">
                                    </div>
                                    <br>
                                    <label class="control-label" for="DDD">DDD</label>
                                    <div class="controls">
                                        <input name="editDDDs" id="editDDDs" class="input-medium" ng-model="editddd" placeholder="21" maxlength="2" type="text">
                                    </div>
                                    <br>
                                    <label class="control-label" for="UF">UF</label>
                                    <div class="controls">
                                        <!--<input id="editUFs" name="editUFs" class="input-medium" ng-model="edituf" placeholder="RJ" type="text">-->
                                        <select id="editUFs" name="editUFs" class="input-medium" ng-model="edituf" type="text">
                                            <option value="AC">AC</option>
                                            <option value="AL">AL</option>
                                            <option value="AM">AM</option>
                                            <option value="AP">AP</option>
                                            <option value="BA">BA</option>
                                            <option value="CE">CE</option>
                                            <option value="DF">DF</option>
                                            <option value="ES">ES</option>
                                            <option value="GO">GO</option>
                                            <option value="MA">MA</option>
                                            <option value="MG">MG</option>
                                            <option value="MS">MS</option>
                                            <option value="MT">MT</option>
                                            <option value="PA">PA</option>
                                            <option value="PB">PB</option>
                                            <option value="PE">PE</option>
                                            <option value="PI">PI</option>
                                            <option value="PR">PR</option>
                                            <option value="RJ">RJ</option>
                                            <option value="RN">RN</option>
                                            <option value="RO">RO</option>
                                            <option value="RR">RR</option>
                                            <option value="RS">RS</option>
                                            <option value="SC">SC</option>
                                            <option value="SE">SE</option>
                                            <option value="SP">SP</option>
                                            <option value="TO">TO</option>
                                        </select>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button ng-click="Edgra()" data-toggle="modal" class="btn btn-success" type="submit" data-loading-text="..." id="saveCriaGras" name="saveCriaGras">Salvar</button>
                        </div>
                    </div>
                    <!--Termina form edição gra-->

                </div>
            </div>
        </div>
        <script>
            function limparForm() {
                document.getElementById("FormCriaGra").reset();
                document.getElementById("FormECriaGra").reset();
            }
        </script>


        <div class="notification">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>


    <script>
        // dropdown hover
        $(document).ready(function () {

            //Alex exibir notificação 29/03/2014
            $('div.logoCliente').mouseover(function () {
                $('div.notification').fadeIn(500);
            });

            // Gilberto Ocultar a notificação 02/04/2014
            $('button.close').click(function () {
                $('div.notification').fadeOut(500);
            });

            $('.js-activated').dropdownHover().dropdown();

            $('.js-activated').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });


            // GILBERTO 18/02/2014 - 11/03/2014

            // EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.datahora-inicio > span.add-on').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                // OCULTAR O CALENDÁRIO

                $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                    $(this).hide();

                });

                $("#topLine").mouseover(function () {
                    $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                });

                $("#bottomLine").mouseover(function () {
                    $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                });

            });

            //EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.datahora-fim > span.add-on').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").show();
            });
        });
    </script>
