<style type="text/css">
	/*.rowDetalhes{
		white-space: normal !important;
		height: auto;
		min-height: 40px;
		max-height: 80px;
		word-wrap:break-word;
		vertical-align: center;
	}
	.modal-body{
		max-height: 600px;

	}*/
	
	body{
		overflow: hidden !important;
	}
	

</style>
<!-- Estalo analise -->
<div id="pag-alertas" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
		<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
	  <div class="container" style="width:auto;">
		<!--a class="brand" href="#">Estalo</a-->
		<ul class="nav">
		  <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 
				  
				  <li style="padding-left: 5px;">
					<form class="navbar-form">
						<button ng-click="novoAlerta()" ng-model="AlertButton" data-toggle="modal" class="btn btn-register" data-loading-text="..." title="Novo Alerta"><i class="fa fa-envelope" aria-hidden="true"></i>
						</button>
					</form>
				  </li>
				  
		   </ul>
	  </div>
	</div>
  </div>

  <div class="container-fluid">	<!-- Classe contendo grid de usuários e div de alertas inferior -->
   <div ng-grid="gridDados" class="grid" ng-show="alertsData.length != 0"></div>
	  <div class = "notification">
		<div class="alert alert-info">
			<button type="button" class="close">&times;</button>
			<span ng-bind-html='info_status'></span>
		</div>
	  </div>

	  <div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc"><!--{{status_progress_bar}}--></div>
	  </div>	  
  </div>
  
  <div class="row-fluid CtrlAlerts" style="margin-top: 75px;">

  <div class="modal hide fade modal-register"><!-- Modal de cadastro de novo usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Novo Alerta</h3>
		  </div>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ngModel="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
		  
				  
			<form name="UserController" class="form-horizontal navbar-form">

					<div class="span6">
						<label class="form-label" for="Alerta">Alerta</label>
						<div class="form-controls">
							<input name="Alerta" class="input-large registerAlerta" ng-model="Alerta" placeholder="Alerta de ICs sem descrição" maxlength="64" pattern="[a-zA-Z0-9\s]+" type="text" required>
						</div>

            
						<label class="form-label" for="intervalo">Intervalo</label>
						<div class="form-controls">
							<input name="Intervalo" class="input-large registerIntervalo" ng-model="Intervalo" placeholder="3" maxlength="6" type="number" >
							<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
						</div>
            
            <label class="form-label" for="Query">SQL Query</label>
						<div class="form-controls">
							<input name="Query" class="input-large registerQuery" ng-model="Query" placeholder="select * from itemdecontrole where descricao = '' AND codaplicacao = '10331UNIF'" maxlength="512" type="text" required>
						</div>
						
					</div>

					<div class="span4">
          
          <label class="form-label" for="Email">E-mail</label>
						<div class="form-controls">
							<input name="Email" class="input-xlarge registerEmail" ng-model="Email" placeholder="exemplo@oi.net.br" maxlength="80" type="email">
						</div>
            
          <label class="form-label" for="Email">Cópias do E-mail</label>
						<div class="form-controls">
							<input name="Copy" class="input-xlarge registerCopy" ng-model="Copy" placeholder="exemplo@oi.net.br" maxlength="80">
						</div>
          
					</div>
			</form>
			</div>

			  <div class="modal-footer">
				<button ng-click="registraAlerta()" ng-model="RegisterButton" class="btn-success btn btn-primary" name="InsertAlert">Confirmar</button>
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
  
  
  <div class="modal hide fade modal-view"><!-- Modal de cadastro de novo usuário -->
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			
			<h3>Edição de Alerta <small ng-bind="editAlerta"></small> - <small ng-bind="editEmail"></small></h3>
		  </div>
		  
				  <div class="alert alertBlock hide fade in registerAlert clearFix">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<!-- <h5>Aviso!</h5> -->
					<span class="registerAlertText" ngModel="registerAlert"></span>
				  </div>
				  
		  <div class="modal-body userForm">
		  
				  
			<form name="UserController" class="form-horizontal navbar-form">

					<div class="span6">
						<label class="form-label" for="Alerta">Alerta</label>
						<div class="form-controls">
							<input name="Alerta" class="input-large editAlerta" ng-model="editAlerta" placeholder="Alerta de ICs sem descrição" maxlength="64" pattern="[a-zA-Z0-9\s]+" type="text" required>
						</div>

            
						<label class="form-label" for="intervalo">Intervalo</label>
						<div class="form-controls">
							<input name="Intervalo" class="input-large editIntervalo" ng-model="editIntervalo" placeholder="3" maxlength="6" type="number" >
							<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
						</div>
            
            <label class="form-label" for="Query">SQL Query</label>
						<div class="form-controls">
							<input name="Query" class="input-large editQuery" ng-model="editQuery" placeholder="select * from itemdecontrole where descricao = '' AND codaplicacao = '10331UNIF'" maxlength="512" type="text" required>
						</div>
						
					</div>

					<div class="span4">
          
          <label class="form-label" for="Email">E-mail</label>
						<div class="form-controls">
							<input name="Email" class="input-xlarge editEmail" ng-model="editEmail" placeholder="exemplo@oi.net.br" maxlength="80" type="email">
						</div>
            
          <label class="form-label" for="Email">Cópias do E-mail</label>
						<div class="form-controls">
							<input name="Copy" class="input-xlarge editCopy" ng-model="editCopy" placeholder="exemplo@oi.net.br" maxlength="80">
						</div>
          
					</div>
			</form>
			</div>

			  <div class="modal-footer">
				<button ng-click="updateAlert()" ng-model="updateButton" class="btn-success btn btn-primary">Confirmar</button>
        <button ng-click="deleteAlerta()" ng-model="deleteButton" class="btn-danger btn btn-primary">Excluir</button>
				<a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
				<!-- <a href="#" class="btn btn-primary">Save changes</a> -->
			  </div>
		</div>
  
  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
  <!-- Fim do modal de cadastro de novo usuário -->

    <!-- Exportação XLS -->

</div>


