<style type="text/css">
    .ultMes:hover {
        cursor: wait;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 600px;
        height: 300px;
    }

    .ngHeaderContainer,
    .ngHeaderScroller {
        height: 60px !important;
    }

    .address {
        padding: 4px;
        position: absolute;
        left: 193px;
        width: 406px;
        border-left: 1px solid #ccc;
        bottom: 0;
        top: 0;

        text-align: center;
    }
</style>
<estilo-responsivo></estilo-responsivo>
<!-- Resumo de Derivações Repetidas por final de telefone -->
<div id="pag-derivacoes-repetidas-finaltel" data-role="page" class="pag-container">






    <div class="menu-barra">

        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <!-- Filtros -->
            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-aplicacao></filtro-aplicacao>
            <filtro-ultimo-digito></filtro-ultimo-digito>

            <div class="menu-botoes">

                <!-- Checkboxes -->
                <div class="menu-checkbox">
                    <radio-generico ngm="valor" l="24h, 2h, 1h, 10min, 3min, 1min" v="24, 2, 1, 10min, 3min, 1min"></radio-generico>
                    <form class="navbar-form">
                        <input type="checkbox" id="agrupar" ng-model="agrupar" value="agrupar">
                        <span class="por2421dia" title="Agrupar por regiões">Agrupar</span>
                        <input type="checkbox" id="perc" ng-model="perc" value="perc">
                        <span class="por2421dia" title="Exibir porcentagem">%</span>
                    </form>
                </div>

                <!-- Botoes -->
                <!-- <btn-agr></btn-agr> -->
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                
                <!-- <btn-exportar-csv></btn-exportar-csv> -->
                <btn-exportar-relatorio></btn-exportar-relatorio>
                <!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
            </div>

        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc">
                <!--{{status_progress_bar}}-->
            </div>
        </div>
        <div class="grid" ng-grid="gridDados" ng-show="dados.length != 0"></div>

        <script type="text/ng-template" id="headerRow">
            <div>
                <div style="height: 30px; width: 100%; border-bottom: 1px solid #ccc" class="ngHeaderCell">
                    <div class="a">&nbsp;</div>
                    <div class="b">Clientes</div>
                    <div class="c">Chamadas</div>
                    <div class="c">Repetidas</div>
                    <div class="c">Repetidas após finalização</div>
                    <div class="c">Repetidas após derivação</div>
                    <div class="d">Repetidas após abandono</div>
                </div>

                <div style="height: 30px; top: 30px; position: absolute" class="wFake">
                    <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngHeaderCell">
                        <div class="ngVerticalBar" ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }">&nbsp;</div>
                        <div ng-header-cell></div>
                    </div>
                </div>
            </div>
        </script>
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>
</div>

<script>
    // dropdown hover
    $(document).ready(function () {



        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });


        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>