<estilo-responsivo></estilo-responsivo>
<!-- Resumo de Derivações Repetidas -->
<div id="pag-derivacoes-repetidas" data-role="page" class="pag-container">




    <div class="menu-barra">

        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <!-- Filtros -->
            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-aplicacao></filtro-aplicacao>
            <filtro-ddds></filtro-ddds>
            <filtro-segmento></filtro-segmento>
            <div class="menu-botoes">

                <!-- Checkboxes -->
                <div class="menu-checkbox">
                    <radio-generico ngm="datahora" l="Data&nbsp, Hora" v="data, hora"></radio-generico>
                    <radio-generico ngm="valor" l="15min&nbsp, 30min&nbsp, 45min&nbsp, 1h&nbsp, 2h&nbsp, 24h&nbsp, 7d&nbsp, 15d&nbsp, 30d" v="15min, 30min, 45min, 1h, 2h, 24h, 7d, 15d, 30d"></radio-generico>

                    <form class="navbar-form">       
                        <input type="checkbox" id="porcpf" ng-model="CPF" value="porcpf">
                        <span class="por2421dia">Por CPF</span>           
                    </form>
            
               <!-- Botoes -->
                <!-- <btn-agr></btn-agr> -->
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                
                <!-- <btn-exportar-csv></btn-exportar-csv> -->
                <btn-exportar-relatorio></btn-exportar-relatorio>
                <!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
            </div>

                
            </div>
        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>      
        </div>
		 <div ag-grid="gridOptions" class="ag-theme-fresh" style="height:515px;"></div>
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>

</div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });
        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>