<estilo-responsivo></estilo-responsivo>
<!-- Detalhamento de Clientes nao abordados -->
<div id="pag-nao-abordados" data-role="page" class="pag-container">

	<div class="menu-barra">

		<!-- Menu de aplicações -->
		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-segmento></filtro-segmento>
			<filtro-site></filtro-site>

			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
				</div>

				<!-- Botoes -->
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				<btn-exportar-relatorio></btn-exportar-relatorio>
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:3100">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×</button>
				<h3 id="myModalLabel">Log da chamada</h3>
			</div>
			<div class="modal-body">

				<div id="headerLock" style="position: fixed; background-color: #ffffff; width: 67%; margin-top: -15px;">
					<ul class="nav nav-pills">
						<li ng-class="{'active':!ocultar.log_formatado}">
							<a href="#" class="btn-log-formatado changeSearchLog">Formatado</a>
						</li>
						<li ng-class="{'active':!ocultar.log_original}">
							<a href="#" class="btn-log-original changeSearchLog">Original</a>
						</li>
					</ul>
				</div>
				<br>
				<br>
				<br>
				<div class="log-original" ng-hide="ocultar.log_original">
					<!-- <pre>{{callLog}}</pre> -->
					<pre ng-bind-html="callLog" class="callLogValue"></pre>
				</div>

				<div class="log-formatado" ng-hide="ocultar.log_formatado">
					<ul>
						<li ng-repeat="info in logxml.infos_iniciais">
							<b>{{info.nome}}:</b> {{info.valor}}
						</li>
					</ul>

					<div ng-repeat="filho in logxml.prompts_iniciais" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<span ng-repeat="texto in filho.valor">
							<i>{{texto}}</i>&nbsp;</span>
					</div>

					<div ng-repeat="node in logxml" ng-class="node.codigo">
						<header>
							<span class="nome">{{node.valor}}</span>
							<span class="time">
								<i class="icon-time"></i>
								{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
							<!-- Colocar em formato de data -->
						</header>
						<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
							<i ng-class="filho.icone"></i>
							<span ng-bind-html="filho.valor"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
		<!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>



<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

		$('.js-activated').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();
		});


		// GILBERTO 18/02/2014 - 11/03/2014

		// EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-inicio > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").show();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();

			// OCULTAR O CALENDÁRIO

			$("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
				$(this).hide();

			});

			$("#topLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();

			});

			$("#bottomLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();

			});

		});

		//EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-fim > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").show();
		});

	});
</script>