
<!-- Estalo analise -->
<div id="pag-estalo-analise" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 



          <!-- Filtro: data inicial -->
                    <li>
                        <form class="navbar-form" style="padding-right: 5px">
                            <div class="datahora-inicio input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>

          <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>

                    <!-- Filtro: data final -->
                    <li>
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>


          <!--Filtro: usuário -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkUser" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-usuario selectpicker span2" multiple="" title="Usuários" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>


          <!--Filtro: relatório -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkRel" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-relatorio selectpicker span2" multiple="" title="Relatórios" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>

          <!--Filtro: domínio -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkDom" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-dominio selectpicker span2" multiple="" title="Domínios" data-live-search="true" data-size="20"></select>
             </div>
           </form>
          </li>




                  <li style="padding-left: 5px;">
                    <form class="navbar-form">
                      <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                    </form>
                  </li>
                  <li style="padding-left: 5px;">
                    <form class="navbar-form">
                      <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
                    </form>
                  </li>
           </ul>








      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class = "notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
      </div>

      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc"><!--{{status_progress_bar}}--></div>
      </div>

      <div ng-grid="gridDados" id="grid" class ="grid" ng-show="dados.length != 0"></div>


      <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
  </script>
