<style type="text/css">
<style type="text/css">
  .navbar-inner
  {
    height:110px;
  }

.ultMes,#alinkAnt,#alinkPro:hover{
  cursor:pointer;
  color: white;

}
  #import {
        margin: .3em 0em 0em .2em;
        content: 'Import Settings';
        display: inline-block;
        border: 1px solid;
        border-color: #ddd #bbb #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font: bold 12px/1.2 Arial,sans-serif !important;
        /* fallback */
        background-color: #f9f9f9;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C2C1C1), to(#2F2727));
        color: white;
    }

    .hideMe {
        display: none;
    }
</style>

<!-- Extratores -->
<div id="pag-extratores" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse" style="z-index:1060">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>

        <div id="topLine" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <ul class="nav">

                
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


                    <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form">

              <div class="data-inicio input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
              <div class="hora-inicio input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

             <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>
          <!-- Filtro: data final -->
          <li style="padding-left:8px;">
            <form class="navbar-form">

              <div class="data-fim input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>

              <div class="hora-fim input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>
                  </ul>

                  <ul class="nav aba1">
              <!--Filtro: aplicação -->
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <!--<a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>-->
                                <select class="filtro-aplicacao selectpicker span1_3 show-tick" id="filtrapl" multiple="" title="Aplicações"></select>
                              <!--<select class="filtro-aplicacao selectpicker span1_3 show-tick" id="filtrapl" title="Aplicações"></select>-->
                            </div>
                        </form>
                    </li>

                    <!-- Filtro: site -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-site selectpicker span1_1" multiple="" title="Sites/POPs"></select>

                            </div>
                        </form>
                    </li>

                    <!-- Filtro: segmento -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                                <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""></select>
                            </div>
                        </form>
                    </li>
                    <!--Filtro: regioes -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkReg" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-regiao selectpicker span1_3" multiple="" title="Regiões"></select>
                            </div>
                        </form>
                    </li>


                    <!--Filtro: UF -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkUf" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-uf selectpicker span1_1" multiple="" title="UFs"></select>
                            </div>
                        </form>
                    </li>


                    <!-- Filtro: ddd -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <a class="btn btn-small checkAll2" id="alinkDDD" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-ddd selectpicker span1_2" multiple="" title="DDDs"></select>
                            </div>
                        </form>
                    </li>

                    </ul>

               <ul class="nav aba2">

                    <!-- Filtro: operacao -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkOp" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                                <select class="filtro-op selectpicker span2" multiple="" title="Operações" disabled=""></select>
                            </div>
                        </form>

                    </li>



                    <!--Check Box OU/E -->
                    <li style="padding-left: 5px; margin-top:5px;">
                        <form class="navbar-form">
                            <div class="checkbox navbar-btn filtro-check">
                                <input type="checkbox" id ="oueED"  value="oueED" ng-model="oueED" title="O padrão é OU" >OU / E</input>
                            </div>
                        </form>
                     </li>



                  
                    <li style="margin-left:5px;">
                    <filtro-ic></filtro-ic>
                    </li>
                    <li style="margin-left:5px;">
                        <filtro-ED></filtro-ED>
                    </li>

<!--Check Box OU/E -->
                    <li style="padding-left: 5px; margin-top:5px;">
                        <form class="navbar-form">
                            <div class="checkbox navbar-btn filtro-check">
                                <input type="checkbox" id ="oueIC"  value="oueIC" ng-model="oueIC" title="O padrão é OU" >OU / E</input>
                            </div>
                        </form>
                     </li>





                    <!--Filtro: último dígito -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkUltDig" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-ud selectpicker span1_3" multiple="" title="Último Dígito"></select>
                            </div>
                          </form>
                      </li>




                    <!--Filtro: colunas -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkCols" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-cols selectpicker span1_3" multiple="" title="Colunas"></select>
                            </div>
                          </form>
                      </li>
    </ul>

    <ul class="nav aba3">


<!-- Chamadas periodo -->

<!-- Botões -->
                   <!--  <li style="padding-left: 8px; margin-top:5px;">
                        <form class="navbar-form">

                            <input type="radio" id="2h" ng-model="valor" value="Telefone Chamador"><span class="por2421dia">NUMANI</span>
                            <input type="radio" id="1h" ng-model="valor" value="Telefone Tratado"><span class="por2421dia">TELTRATADO</span>


                        </form>
                    </li> -->


                    <li style="padding-left: 5px;">
                        <button id="import2" class="btn" data-toggle="modal" data-target="#modalConfirma" title="Importar números chamadores e tratados a partir de arquivo texto">Telefones (TXT)</button>
            <input id="browser" class="hideMe" type="file"></input>
                    </li>




                   <!--  <li style="padding-left: 2px; margin-top: 5px;">
                        <div class="checkbox navbar-btn filtro-check">
                            <input type="checkbox" id="data" value="data" ng-model="extratorArquivoPorData" title="Considera período para opção Telefones(TXT) (data início e data fim) ">Período</input>
                        </div>
                    </li> -->

                   </ul>


<ul class="nav aba4">
  <li style="padding-left: 2px;">
  <form class="navbar-form">
    <span class="transferid" title="Insira um valor de TRANSFERID">TransferID:</span>
    <div class="input-append"><input type="text" class="form-control" id="transferid" title="Insira um valor de TRANFERID"></div>
  </form>  
  </li>
  
  <li style="padding-left: 5px;padding-top: 3px;" ng-show='dadospessoais'>
  <form class="navbar-form">
  <div class="checkbox navbar-btn filtro-check">
  <input type="checkbox" id ="dadosP"  value="dadosP" ng-model="dadosP" title="Dados pessoais" >Dados cadastrais</input>
  </div>  
  </form>  
  </li>
  
  <li style="padding-left: 5px;padding-top: 3px;" ng-show='envioboleto'>
  <form class="navbar-form">
  <div class="checkbox navbar-btn filtro-check">
  <input type="checkbox" id ="dadosBOLETO"  value="dadosBOLETO" ng-model="dadosBOLETO" title="Envio de boleto" >BOLETO</input>
  </div>  
  </form>  
  </li>
  
  <li style="padding-left: 5px;padding-top: 3px;" ng-show='enviosms'>
  <form class="navbar-form">
  <div class="checkbox navbar-btn filtro-check">
  <input type="checkbox" id ="dadosSMS"  value="dadosSMS" ng-model="dadosSMS" title="Envio de SMS" >SMS</input>
  </div>  
  </form>  
  </li>
  
  
  
  <li style="padding-left: 5px;" ng-show='contas'>
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkCline" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-contaonline selectpicker span1_3" multiple="" title="Conta online"></select>
                            </div>
                          </form>
                      </li>

  
  
  
  <li style="padding-left: 8px; padding-top:8px;">
    <div id="proRangeSlider" ng-show='confianca'>    
        <input type="range" name="costPerDay" class="range orange" id="rangeSlider1" value="0" oninput="proRangeSlider(this.id, 'output1', 'orange')">
        <output id="output1" ng-show='confianca'>0</output>
    </div>
  </li>
  
  <li style="padding-left: 8px; padding-top:8px;">
  <div ng-show='confianca'>
  <label class="icon-comment icon-white" title = "Intervalo de confiança do reconhecimento de voz"></label>    
  </div>
  </li>
  

</ul>

               

        <ul class="nav botoes">


            <li style="padding-left: 5px;">
              <form class="navbar-form">
               <span class="ultMes" title="Menor mês possível para extração de dados">Dados a partir de:{{datsUltMesDetCham}}</span>
              </form>
            </li>



          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-cancelar" data-loading-text="..." title="Clique aqui para cancelar extração">Cancelar</button>
            </form>
          </li>


        </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>

            <div class="ampulheta">
              <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
              <div class="perc"><!--{{status_progress_bar}}--></div>
            </div>

            <br>

            <table class="table table-condensed table-striped table-hover">
              <div class="preview" style="margin-top:140px;">
                <textarea id ="uar" style ="width:99%; height:300px;" disabled>{{linkArqContent}}</textarea>

                <input type="checkbox" id ="rolAuto"  value="rolAuto" ng-model="rolAuto" title="Rolagem"> Rolagem automática</input><br><br>


                <span  ng-click="abrirLinkPreview()" style="cursor:pointer"><b style="color:Blue;">{{linkArq}}</b></span>
                <div ng-show="linkArq !=''"><b>Clique no <i>link</i> para visualizar o arquivo</b></div>




              </div>
            </table>



            <br>
            <br>

            <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>

        </div>
    </div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>

<!-- MODAL DE CONFIRMAÇÃO -->
  <div class="modal fade" id="modalConfirma" style="margin-top:80px;width:500px">
    <div class="modal-dialog " >
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="background-color:lightyellow">IMPORTAÇÃO DE TELEFONES(TXT)</h4>
      </div>
      <div class="modal-body">

       <form class="navbar-form">
        <div id="popTel" style="float:left;padding-right:75px">
          <p>Selecione o tipo de telefone:</p>
          <input type="radio" id="2h" ng-model="valor" value="Telefone Chamador"><span style="color:black" class="por2421dia">Chamador</span>
          </br>
          <input type="radio" id="1h" ng-model="valor" value="Telefone Tratado"><span style="color:black" class="por2421dia">Tratado</span>
        </div>
        <div id="popData" class="checkbox navbar-btn filtro-check" style="color:black;margin-top:0px">

          <input type="checkbox" id="data" value="data" ng-model="extratorArquivoPorData">Considerar filtro por período</input>
        </div>


       </form>

      </div>
      <div class="modal-footer">
        <button type="button" id="confirma" class="btn btn-default span2" data-dismiss="modal" style="margin-right:140px;background:#CCCCCC">OK</button>
        <button type="button" class="btn btn-default span2" style="background:#CCCCCC" data-dismiss="modal">CANCELAR</button>
      </div>
     </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script>



	function proRangeSlider(sliderid, outputid, colorclass) {
		try {
			var x = document.getElementById(sliderid).value;  
			document.getElementById(outputid).innerHTML = x;
			document.getElementById(sliderid).setAttribute('class', colorclass);			
			updateTotal();
		}catch(ex){}
	}

	var total = 0;
	function updateTotal() {
			var list= document.getElementsByClassName("range");
			[].forEach.call(list, function(el) {
				console.log(el.value);
				total += parseInt(el.value);
			}); 
			document.getElementById("n_total").innerHTML = total;
		  
	}


$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};

$(function() {
    $('form').submit(function() {
        $('#result').text(JSON.stringify($('form').serializeObject()));
        return false;
    });
});




    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });



</script>







