<style type="text/css">
    .navbar-inner {
        height: 110px;
    }

    .ultMes,
    #alinkAnt,
    #alinkPro:hover {
        cursor: pointer;
        color: white;

    }

    #import {
        margin: .3em 0em 0em .2em;
        content: 'Import Settings';
        display: inline-block;
        border: 1px solid;
        border-color: #ddd #bbb #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font: bold 12px/1.2 Arial, sans-serif !important;
        /* fallback */
        background-color: #f9f9f9;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C2C1C1), to(#2F2727));
        color: white;
    }

    .hideMe {
        display: none;
    }
</style>
<estilo-responsivo></estilo-responsivo>
<!-- Extratores -->
<div id="pag-extratores" data-role="page" class="pag-container">

    <div class="menu-barra">

        <!-- Menu de aplicações -->
        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <!-- Filtros -->
            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-aplicacao></filtro-aplicacao>
            <filtro-site></filtro-site>
            <filtro-segmento></filtro-segmento>
            <filtro-regioes></filtro-regioes>
            <filtro-uf></filtro-uf>
            <filtro-ddds></filtro-ddds>
            <filtro-ops></filtro-ops>
            <filtro-ic></filtro-ic>
            <filtro-ed></filtro-ed>
            <filtro-ultimo-digito></filtro-ultimo-digito>
            <filtro-colunas></filtro-colunas>
            <filtro-input-transfer-id></filtro-input-transfer-id>
            <filtro-conta-online ng-show='contas'></filtro-conta-online>
            <slider-confianca ng-show='confianca'></slider-confianca>

            <div class="menu-botoes">

                <!-- Checkboxes -->
                <div class="menu-checkbox">
                    <chk-box-oue-ed></chk-box-oue-ed>
                    <chk-box-oue-ic></chk-box-oue-ic>
                    <chk-box-dados-pessoais ng-show='dadospessoais'></chk-box-dados-pessoais>
                    <chk-box-dados-boleto ng-show='envioboleto'></chk-box-dados-boleto>
                    <chk-box-dados-contestacao ng-show='enviocontestacao'></chk-box-dados-contestacao>
                    <chk-box-dados-sms ng-show='enviosms'></chk-box-dados-sms>
                </div>

                <!-- Botoes -->
                <label-menor-mes></label-menor-mes>
                <importar-telefone-txt></importar-telefone-txt>
                <!-- <btn-agr></btn-agr> -->
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                
                <!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
                <btn-cancelar-extracao></btn-cancelar-extracao>
            </div>

        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc">
                <!--{{status_progress_bar}}-->
            </div>
        </div>
        <!-- <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div> -->
        <table class="table table-condensed table-striped table-hover">
            <div class="preview">
                <textarea id="uar" style="width:99%; height:300px;" disabled>{{linkArqContent}}</textarea>
                <input type="checkbox" id="rolAuto" value="rolAuto" ng-model="rolAuto" title="Rolagem"> Rolagem automática</input>
                <br>
                <br>
                <span ng-click="abrirLinkPreview()" style="cursor:pointer">
                    <b style="color:Blue;">{{linkArq}}</b>
                </span>
                <div ng-show="linkArq !=''">
                    <b>Clique no
                        <i>link</i> para visualizar o arquivo</b>
                </div>
            </div>
        </table>
        <!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>
    <!-- MODAL DE CONFIRMAÇÃO -->
    <div class="modal fade" id="modalConfirma" style="margin-top:80px;width:500px;display:none;">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="background-color:lightyellow">IMPORTAÇÃO DE TELEFONES(TXT)</h4>
                </div>
                <div class="modal-body">

                    <form class="navbar-form">
                        <div id="popTel" style="float:left;padding-right:75px">
                            <p>Selecione o tipo de telefone:</p>
                            <input type="radio" id="2h" ng-model="valor" value="Telefone Chamador">
                            <span style="color:black" class="por2421dia">Chamador</span>
                            </br>
                            <input type="radio" id="1h" ng-model="valor" value="Telefone Tratado">
                            <span style="color:black" class="por2421dia">Tratado</span>
                        </div>
                        <div id="popData" class="checkbox navbar-btn filtro-check" style="color:black;margin-top:0px">

                            <input type="checkbox" id="data" value="data" ng-model="extratorArquivoPorData">Considerar filtro por período</input>
                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="confirma" class="btn btn-default span2" data-dismiss="modal" style="margin-right:140px;background:#CCCCCC">OK</button>
                    <button type="button" class="btn btn-default span2" style="background:#CCCCCC" data-dismiss="modal">CANCELAR</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


<!-- /.modal -->

<script>
    function proRangeSlider(sliderid, outputid, colorclass) {
        try {
            var x = document.getElementById(sliderid).value;
            document.getElementById(outputid).innerHTML = x;
            document.getElementById(sliderid).setAttribute('class', colorclass);
            updateTotal();
        } catch (ex) {}
    }

    var total = 0;

    function updateTotal() {
        var list = document.getElementsByClassName("range");
        [].forEach.call(list, function (el) {
            console.log(el.value);
            total += parseInt(el.value);
        });
        document.getElementById("n_total").innerHTML = total;

    }


    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $(function () {
        $('form').submit(function () {
            $('#result').text(JSON.stringify($('form').serializeObject()));
            return false;
        });
    });




    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });
</script>