<estilo-responsivo></estilo-responsivo>
<!-- Gestão de Estados de Diálogo -->
<div id="pag-gestao-estados" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">


		   <form class="navbar-form">
            <div class="input-append">
                <!--<a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>-->
                <select class="filtro-aplicacao selectpicker span1_3 show-tick" title="Aplicações"></select>
            </div>
           </form>
		   

			<filtro-ed></filtro-ed>
			    <!-- Filtro: classificação -->

             <form class="navbar-form">
                 <div class="datahora-fim input-append date">
                     <a class="btn btn-small checkAll2" id="alinkClass" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-classificacao selectpicker span2" multiple="" title="Classificação"></select>

                 </div>
              </form>
			  
			  <span style="margin-top:7px;">
					  <input type="checkbox" ng-model="comVolume" style="margin-top:-2px;" title ="EDs cadastrados e com volumetria nos últimos 7 dias">
						<font color="white">7 dias</font>
					  </input>
				  </span>
				  
				  <span style="margin-top:7px;">
					  <input type="checkbox" ng-model="configurado" style="margin-top:-2px;" title ="Exibir configurados">
						<font color="white">Configurados</font>
					  </input>
				  </span>
				  
		
			<div class="menu-botoes">
				<form class="navbar-form">
				  <button class="btn btn-gerar" data-loading-text="Carregando...">Carregar</button>
				  <button class="btn btn-salvar" data-target="#modalConfirma" data-toggle="modal" data-loading-text="Salvando...">Salvar</button>
				  
				  
				  
				  <a id="blob" href="#" style="color:rgb(255, 255, 255, 0);" />↓</a>
					<button id="confirmaUpdate" data-target="#modalSucesso" data-toggle="modal" style="visibility:hidden">Confirma</button>
					<!--<div class="checkbox navbar-btn filtro-check">-->
					
					<!--</div>-->
				</form>
				<importar-planilha-gestao-estado></importar-planilha-gestao-estado>
				<btn-exportar-relatorio></btn-exportar-relatorio>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>



	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		
      <div ng-grid="gridDados" id="grid" class ="grid" ng-show="dados.length != 0"></div>


      <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>
	  
	  
	  
	        <!-- MODAL DE CONFIRMAÇÃO -->
    <div class="modal fade" id="modalConfirma" style="width:500px">
    <div class="modal-dialog " >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="background-color:lightyellow">ATENÇÃO</h4>
        </div>
        <div class="modal-body">

          <p>Deseja salvar as alterações &#63;</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-salvarED" class="btn btn-success span2"  data-dismiss="modal" style="margin-right:140px">SIM</button>
          <button type="button" class="btn btn-danger span2"  data-dismiss="modal">NÃO</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- MODAL DE SUCESSO
    <div class="modal fade" id="modalSucesso" style="width:500px">
    <div class="modal-dialog " >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="background-color:lightyellow">CONFIRMAÇÃO</h4>
        </div>
        <div class="modal-body">

          <p>Alterações realizadas com sucesso!</p>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-success span2"  data-dismiss="modal" style="margin-left:150px">OK</button>

        </div>
      </div><!-- /.modal-content
    </div><!-- /.modal-dialog 
  </div><!-- /.modal -->
	  
  </div>

	<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>

	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>

<script>


    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();



    });
  </script>

