<!-- Contingencia GRA -->
<div id="pag-gra" data-role="page">

    <!--<google-map center="map.center" zoom="map.zoom" draggable="true"></google-map> -->

    <!-- Listagem de GRAs -->
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente"><div class="versao">{{versao}}</div></div>
            <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>

            <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
          <!--<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>-->

        <div class="navbar-inner">
            <div class="container" style="width: auto;">
<!--                <a class="brand" href="#">Estalo</a>-->

                <ul class="nav">
                    <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 



                    <!-- GILBERTO Fechar o calendario ( ANTES DO FILTRO DATAFIM )-->
                    <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>

                     <!--Filtro: UF -->
                    <li style="padding-left: 8px;">
                      <form class="navbar-form">
                        <div class="input-append">
                          <a class="btn btn-small checkAll2" id="alinkUf" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                          <select class="filtro-uf selectpicker span1_2" multiple=""  title="UFs"></select>
                        </div>
                      </form>
                  </li>

                     <!-- Filtro: ddd -->
                  <li style="padding-left:8px;">
                    <form class="navbar-form">
                      <div class="input-append date">
              <a class="btn btn-small checkAll2" id="alinkDDD" data-var="0" title="Clique para marcar todos" disabled><i class="icon-ok"></i></a>
                        <select class="filtro-ddd selectpicker span2" multiple="" title="DDDs"  disabled=""></select>
                      </div>
                    </form>
                  </li>


                  <!-- Filtro: gra -->
                  <li style="padding-left:8px;">
                    <form class="navbar-form">
                      <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkGRA" data-var="0" title="Clique para marcar todos" disabled="" ><i class="icon-ok"></i></a>
                        <select id="selectGra" class="filtro-gras selectpicker span1_2" multiple="" disabled="" title="GRAs" ></select>
                      </div>
                    </form>
                  </li>

                  <!-- Filtro: parâmetros -->
                  <li style="padding-left:8px;">
                    <form class="navbar-form">
                      <div class="input-append">
                        <a class="btn btn-small checkAll2" id="alinkParam" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                          <select id="selectParam" class="filtro-parametros selectpicker span2" title ="Parâmetros" multiple="">


                          </select>
                        </div>
                      </form>
                    </li>

                    <!--Filtro: CodGRA-->
                     <li style="padding-left: 4px;padding-top: 3px;">
                        <div class="input-prepend">
                            <span class="add-on">
                                <b class="dropdown show-tick">
                                    <span>
                                        <i class="icon-list-alt icon-white"></i>
                                    </span>

                                </b>
                             </span>
                             <input type="tel" class="filtro-codGra form-control span2" placeholder="{{opcaoMarcada || 'Digite o Gra'}}" ng-model="filtros.gra"/>
                          </div>
                      </li>

                  </ul>

                  <ul class="nav botoes">

                      <li style="padding-left:8px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar" data-loading-text="Carregando..." title="Carregar">Carregar</button>
                            <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                            <!--<button class="btn btn-atualizarGRAS" title="Editar GRAS" data-toggle="modal" data-target="#myModal"  ng-show="!mostraHistorico" disabled >Editar</button>-->    <!--data-ng-click="preparaNovoModal()"-->

                            <!--<button class="btn btn-atualizarGRAS" title="Editar GRAS" data-toggle="modal" data-target="#myModal"  ng-show="login =='305784' && dominio =='TELEMAR' || login =='OI310621' && dominio =='OI' || login =='bernardo' && dominio =='bernardo-pc' || login =='gilberto' && dominio =='GilPCVostro' || login =='Versatil' && dominio =='RJ2013785436-VS' || login == 'uravozadm' && dominio == 'CONTAX-BR'" disabled >Editar</button>    <!--data-ng-click="preparaNovoModal()"-->
                        </form>
                      </li>

                      <li style="padding-left:8px;" ng-show="
                          login.toLowerCase() =='305784' && dominio.toLowerCase() =='telemar' ||
                          login.toLowerCase() =='oi310621' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi309644' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi310321' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi311275' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi310302' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi317831' && dominio.toLowerCase() =='oi' ||
						  login.toLowerCase() =='oi400113' && dominio.toLowerCase() =='oi' ||
                          login.toLowerCase() == 'flavio' && dominio.toLowerCase() == 'flavio-pc' ||
						  login == 'Flavio' && dominio == 'FLAVIO-PC' ||
                          login.toLowerCase() =='bernardo' && dominio.toLowerCase() =='bernardo-pc' ||
                          login.toLowerCase() =='oi340776' && dominio.toLowerCase() =='oi' ||
                          login.toLowerCase() =='oi340776' && dominio.toLowerCase() =='oi' ||
                          login.toLowerCase() == 'uravozadm' && dominio.toLowerCase() == 'contax-br' ||
                          login.toLowerCase() == 'anderson.menezes' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'elton.braga' && dominio.toLowerCase() == 'valueteam'  ||
                          login.toLowerCase() == 'fabiola.oliveira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'ana.teixeira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'fillipe.xavier' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'paulo.nascimento' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'luciana.sousa' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'pedro.oliveira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'bruno.pinheiro' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'jonatas.oliveira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'luis.coutinho' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'rafael.menescal' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'thiago12.oliveira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'ana.nogueira' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'kamila.rodrigues.ev' && dominio.toLowerCase() == 'valueteam' ||
						  login.toLowerCase() == 'kamila.rodrigues.ev' && dominio.toLowerCase() == 'VALUETEAM' ||
                          login.toLowerCase() == 'thiago.pereira.ev' && dominio.toLowerCase() == 'valueteam' ||
						  login.toLowerCase() == 'thiago.santos.ev' && dominio.toLowerCase() == 'valueteam' ||
                          login.toLowerCase() == 'alessandro.neves' && dominio.toLowerCase() == 'valueteam' ||
						  login.toLowerCase() == 'oi331889' && dominio.toLowerCase() == 'oi' ||
						  login.toLowerCase() == '306662' && dominio.toLowerCase() == 'oi' ||
						  login.toLowerCase() == 'carlos marques' && dominio.toLowerCase() == 'brrjntb001095' ||
						  login.toLowerCase() == 'cmarques' && dominio.toLowerCase() == 'a5-solutions' ||
						  login.toLowerCase() == 'arodrign' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'aluciate' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'acoutoli' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'amarceli' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'amirandv' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'balmeidp' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'bbarross' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'fpereiro' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'eoliveib' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'fmarinho' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'galmeidc' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'kdiasrod' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'lfariasn' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'lsantsou' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'luhllcou' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'llamaspa' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'pnascime' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'phenriol' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'rmenesca' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'tmagalha' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'tnunessa' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'tulimota' && dominio.toLowerCase() == 'usersad' ||
						  login.toLowerCase() == 'versátil' && dominio.toLowerCase() == 'versátil-pc' ||
                          login.toLowerCase() == 'luis.padilha' && dominio.toLowerCase() == 'valueteam'">
                       <form class="navbar-form">
                          <button class="btn btn-atualizarGRAS" title="Editar GRAS" data-toggle="modal" data-target="#myModal"  ng-show="!mostraHistorico" disabled >Editar</button>    <!--data-ng-click="preparaNovoModal()"-->
                        </form>
                      </li>


                       <!--Checkbox Histórico de GRAS-->
                        <li style="padding-left:8px;" class="graHistory" ng-show="
            login =='305784' && dominio =='TELEMAR' ||
            login =='OI310621' && dominio =='OI' ||
            login =='bernardo' && dominio =='BERNARDO-PC' ||
            login =='OI340776' && dominio =='OI' ||
            login =='Oi340776' && dominio =='Oi' ||
            login == 'carlos marques' && dominio == 'BRRJNTB001095' ||
			login == 'cmarques' && dominio == 'A5-SOLUTIONS' ||
            login == 'uravozadm' && dominio == 'CONTAX-BR'">
                            <form class="navbar-form">
                              <div class="checkbox navbar-btn filtro-check">
                                  <input type="checkbox"  id="checkHistorico"  value="historico" data-ng-model="mostraHistorico" checked />Histórico
                              </div>
                            </form>
                        </li>
                  <!--<li>{{login}}&emsp;{{dominio}}</li>-->
              </ul>



            </div>
        </div>
    </div>

    <!-- Modal inserção ocorrências-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Inserir nova ocorrência</h4>
          </div>
          <div class="modal-body">

             <!--pre>frmGra.$valid = {{frmGra.$valid}}frmGra.txtDias.$valid = {{frmGra.txtDias.$valid}}frmGra.txtObs.$valid = {{frmGra.txtObs.$valid}}{{frmGra.dataini.$valid}}{{frmGra.datafim.$valid}}</pre>-->

            <form  name ="frmGra" id="frmGra" class="navbar-form" style="min-height: 388px;">
              <div class="modalGrasList"><label for="selectGraModal">GRA</label>
              <select id="selectGraModal" class="filtro-gras selectpicker span3" title ="GRAs" ></select>
                </div>
        <label for="graContainer" data-ng-show="gras.length != 0"><strong>GRAs Selecionados </strong></label>
        <div id="graContainer" style="max-width:890px;">
          <!--<span class="btn btn-warning" data-ng-init="gra" data-ng-show="gras.length != 0" data-ng-repeat="gra in gras | filter:'false'" style="word-break:break-all;margin-right:2px;padding:5px;margin-bottom:2px;" disabled>{{gra.codgra}}&emsp;<b style="display:none;">{{gra.expirado}}</b></span>-->
                  <span class="btn btn-warning" data-ng-init="gra" data-ng-show="gras.length != 0" data-ng-repeat="gra in gras" style="word-break:break-all;margin-right:2px;padding:5px;margin-bottom:2px;" disabled>{{gra.codgra}}</span>
                </div>

              <hr/>

              <div>
                  <label for="selectParamModal">Parâmetro</label>
                  <select id="selectParamModal" class="filtro-param selectpicker span3" title ="Parâmetros">

                  </select>
              </div>
              <label for="txtDias">Dias</label>
              <input style="float:left" type="number" name="txtDias" id="txtDias" class="form-control span1_1" data-ng-model="gra.dias" min="0" disabled/>
              <div class="hora-inicio input-append"  style="margin-top:-20px;margin-left:8px">
                  <label>Horário</label>
                   <input type="text" id="agenda" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  disabled/>
                   <span class="add-on" id="spAgenda"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
              </br>
              <div id="dvHoras" style="float:left">
                    <label for="txtHoras">Horas</label>
                    <select id="selHoras" class="selectpicker span1_1"  title ="Horas" disabled>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="36">36</option>
                        <option value="48">48</option>
                        <option value="72">72</option>
                    </select>
              </div>
              <div id="dvMin" style="margin-left:95px">
                  <label for="txtMin">Minutos</label>
                  <select id="selMin" class="selectpicker span1_1" title ="Minutos" disabled>
                        <option value="0">0</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                   </select>
              </div>


              <div id="reparoProgramado" style="position:relative;left:17px;top:-95px; width:300px;max-width:400px;margin:2px;margin-right:2px;float:right;margin-top:-95px">
                    <input type="checkbox" id="checkReparo" data-ng-model="reparoProgramado" value="checked">&nbsp;&nbsp;Reparo Programado
                      <br /><br/>

                  <!-- Filtro: data inicial -->
                      <div id="dataini" class="datahora-inicio input-append date hint--left" data-hint="Se não for marcada a opção Reparo Programado, considera-se data inicial, a data atual.">
                        <label for="dataini">Data Inicial</label>
                        <input type="text" id="txtDataIni" data-ng-disabled="!reparoProgramado"  data-ng-model="dataini"  class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                        <span class="add-on" data-ng-show="reparoProgramado"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                      </div>   <br/>
                  <!-- Filtro: data final -->

                      <div id="datafim" class="datahora-fim input-append date hint--left" data-hint="Para alterar a data final, altere o parâmetro para chuva ou energia elétrica">
                        <label for="datafim">Data Final</label>
                        <input type="text" id="txtDataFim"  data-ng-model="datafim" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                        <span class="add-on" id="spDataFim"><i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i></span>
                      </div>
               </div>

              <!--  <span class="error" style="color:Red;position:relative;left:12px;margin-bottom: 10px" data-ng-show="frmGra.txtObs.$error.required">&nbsp;(preenchimento obrigatório)</span>-->
              <label for="txtFrase" style="margin-top:45px;float:left">Frase</label><label for="txtObs" style="margin-top:45px;margin-left:370px">Observações</label>
              <textarea name="txtFrase" id="txtFrase" class="form-control span4" rows="5" style="width:350px;float:left;position:relative;top:-65px;margin-top:65px" disabled/>

              <textarea name="txtObs" id="txtObs" class="form-control span4" rows="5" style="width:350px;position:relative;top:-80px;margin-top:65px;margin-left:8px" data-ng-model="gra.obs"/>

            </form>
              <div class="modal-footer" style="margin-top:-50px;">
                       <!-- recolocar os buttons se der errado. -->
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <label id="lbPrimary" style="position:fixed; color:Red; margin-left:300px; margin-top:-20px;"></label>

            <button class="btn btn-primary" title="Salvar"  data-target="modalConfirma" >Salvar</button>

          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL DE CONFIRMAÇÃO -->
    <div class="modal fade" id="modalConfirma" style="margin-top:70px;width:500px">
    <div class="modal-dialog " >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="background-color:lightyellow">ATENÇÃO</h4>
        </div>
        <div class="modal-body">
          <p>Esta operação irá alterar os parâmetros de todos os GRAs selecionados.</p><br/>
          <p>Deseja salvar as alterações &#63;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success span2" data-ng-click="salvar()" data-dismiss="modal" style="margin-right:140px">SIM</button>
          <button type="button" class="btn btn-danger span2" data-ng-click="cancelar()" data-dismiss="modal">NÃO</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

        <!-- Consulta GRA Por Código -->
        <span style="position: fixed; top:100px;visibility:hidden" aria-hidden="false" class="btnSearch ui-state-default"  title="Buscar" >
            <input type="text" id="txtCodGra" placeholder="Digite aqui o código GRA" style="margin-top:10px;" data-ng-model="codGra"/>
            <button id="btnConsultaGraPorCod" class="btn btn-warning" style="height:32px;" data-ng-click="consultarGraPorCod()">Consultar</button>
        </span>
    <!-- MODAL DE RESULTADO DA CONSULTA -->
        <div id="modalResult" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:30px;width:700px">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" style="background-color:lightyellow">{{ codGra }}</h4>
        </div >
            <div id="corpoModalResult" style="height:440px;">

             </div>
        </div>
      </div>

</div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span data-ng-bind-html='info_status'></span>
                </div>
            </div>


            <div class="ampulheta">
              <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                <div class="perc">
                     <!---{{ status_progress_bar }}-->
                </div>
            </div>


          <div ng-grid="gridDados" id="grid" class ="grid" ng-show="gras.length != 0"></div>
        </div>
    </div>
</div>



 <script type="text/javascript">
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $(document).keydown(function (ev) {
            if (ev.ctrlKey && ev.which == 70) {
                var txtBusca = $('span.btnSearch').show('slide');
                $('#txtCodGra').focus();
                $(document).keydown(function (event) {
                    if (event.which == 13 && txtBusca.css('display') !== 'none') {
                        $('#btnConsultaGraPorCod').trigger('click');
                    }
                });
                $('#txtCodGra').focus();
            } else if (ev.which == 27) {
                $('span.btnSearch').hide('slide');
            }
        });

    });

</script>
