<div class="ng-grid-header custom-ng-grid-header">
    <div class="ng-grid-top-panel">
        <div class="ng-grid-header-viewport">
            <div class="ng-grid-header-canvas" style="width: 100%">
                <div class="ng-grid-header-cell-wrapper" style="display: block;" ng-style="colContainer.headerCellWrapperStyle()">
                    <div class="ng-grid-header-cell-row" style="display: block; border-bottom: 1px solid;border-bottom-color: #d4d4d4;">
                        <div  class="ng-grid-header-cell" ng-repeat="superCol in grid.options2.superColDefs track by $index" col-name="{{superCol.name}}">
                            <div class="ng-grid-cell-contents" data-ng-bind="superCol.displayName">
                            </div>
                        </div>
                    </div>
                    <div class="ng-grid-header-cell-row">
                        <div class="ng-grid-header-cell ng-grid-clearfix"
                              ng-repeat="col in colContainer.renderedColumns track by col.colDef.name"
                              ng-grid-header-cell col="col" super-col-width-update render-index="$index">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
