<estilo-responsivo></estilo-responsivo>
<!-- higienizacao cadastro -->
<div id="pag-higienizacao-cadastro" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
			<!--<filtro-aplicacao></filtro-aplicacao>
			<filtro-segmento></filtro-segmento>
			<filtro-site></filtro-site>
			<filtro-regioes></filtro-regioes>
			<filtro-ddds></filtro-ddds>
			<filtro-ed></filtro-ed>
			<filtro-ic></filtro-ic>
			<filtro-assuntos></filtro-assuntos>
			<filtro-Movel-Fixo></filtro-Movel-Fixo>-->
			

			<div class="menu-botoes">
				
				<div class="menu-checkbox">
				    <!--
					<chk-box-agrupar-por-regiao></chk-box-agrupar-por-regiao>
					<chk-box-mensal></chk-box-mensal>
					<chk-box-incluir-iit></chk-box-incluir-iit>-->
					<!--<chk-box-incluir-tlv></chk-box-incluir-tlv>-->
				</div>
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!--<button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button>-->
				
				<!-- <btn-exportar-csv></btn-exportar-csv> -->
                <btn-exportar-relatorio></btn-exportar-relatorio>
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
				
				<btn-ajuda ng-init="link=1"></btn-ajuda>
			</div>

		</div>

		<!--<div class="menu-versao">
			{{versao}}
		</div>-->
	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div style="width:98%;">
            <ul class="nav nav-tabs" style="text-align : center;">
                <li class="active" style="width: 170.75px;">
                    <a href="#visao144" target="_self" data-toggle="tab">
                        <i></i> 144</a>
                </li>
                <li class="" style="width: 170.75px;">
                    <a href="#visaoUSSD" target="_self" data-toggle="tab">
                        <i></i> USSD</a>
                </li>
                
            </ul>
        </div>

        <div style="width:98%;max-height: 45px;min-height: 45px;">
            <div id="TabContent" class="tab-content" style="overflow: visible;">

                <div class="tab-pane" id="visao144">
                    <div ui-grid="gridDados[0]" class="gridRepetida" ng-if="gridDados[0].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
                <div class="tab-pane" id="visaoUSSD">
                    <div ui-grid="gridDados[1]" class="gridRepetida" ng-if="gridDados[1].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[2]" class="gridRepetida" ng-if="gridDados[2].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[3]" class="gridRepetida" ng-if="gridDados[3].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[4]" class="gridRepetida" ng-if="gridDados[4].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[5]" class="gridRepetida" ng-if="gridDados[5].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[6]" class="gridRepetida" ng-if="gridDados[6].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[7]" class="gridRepetida" ng-if="gridDados[7].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[8]" class="gridRepetida" ng-if="gridDados[8].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[9]" class="gridRepetida" ng-if="gridDados[9].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				<div class="tab-pane" id="visaoGenerica">
                    <div ui-grid="gridDados[10]" class="gridRepetida" ng-if="gridDados[10].data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
				

            </div>
        </div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>

	<script>
		// dropdown hover
		$(document).ready(function () {

			//Alex exibir notificação 29/03/2014
			$('div.logoCliente').mouseover(function () {
				$('div.notification').fadeIn(500);
			});

			// Gilberto Ocultar a notificação 02/04/2014
			$('button.close').click(function () {
				$('div.notification').fadeOut(500);
			});

			$('.js-activated').dropdownHover().dropdown();
		});
	</script>