<!-- Resumo de automações -->
<estilo-responsivo></estilo-responsivo>
<div id="pag-histograma-repetidas-periodo" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>

        <div id="div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>

        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <ul class="nav">

                    <!-- Lista de relatórios -->
                    <li lista-relatorios></li>

                    <!-- Filtro: data inicial -->
                    <li><filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora></li>
                    

                    <!-- Filtro: data final -->
                    <li style="padding-left: 5px"><filtro-data-final-sem-hora></filtro-data-final-sem-hora></li>
                    <li style="padding-left: 10px"><filtro-aplicacao></filtro-aplicacao></li>
                </ul>


                <ul class="nav botoes">
                    
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                        </form>
                    </li>
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
                        </form>
                    </li>
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-exportar" data-loading-text="..." disabled = "true">Exportar</button>
                        </form>
                    </li>
                    <!--<li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar-jpg" data-loading-text="..." disabled="true" >Exportar Gráfico</button>
                        </form>
                    </li>-->
                </ul>

            </div>
        </div>

        <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>

            <div class="ampulheta">
                <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                <div class="perc">
                    <!--{{status_progress_bar}}-->
                </div>
            </div>

            <!-- -->
            <!-- AG grid e chart.js -->
            <div class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 65px; justify-content: center;">		
           
                <div style="width: calc(70% - 40px); margin-right: 40px;">
                    <h1 style="font-size: 24px; text-align: center; margin-top: 30px; margin-bottom: 15px;" title="Gráfico de repetidas">Repetidas por janela</h1>
                    <div style="width: 100%; height: 450px;" id = "canvas-container">
                        <canvas id="myChart"></canvas>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-log" class="modal hide fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		    style="z-index:3100">
			<div class="modal-header">
				<lu>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>				
				<h3>{{nomerepetidas}}</h3>
				
				</lu>
			</div>
			<div class="modal-body" >

				<div ag-grid="gridDados" class="ag-theme-balham" style="height: 350px;"></div>
			
			<div class="modal-footer">
					<form class="navbar-form">	
				
				</form>
				<div id="container" style="float: left">
						<button title="Salvar" ng-click="salvarParametros(parametro);" data-dismiss="modal" aria-hidden="true">Exportar</button>	
			</div>
			</div>
		</div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>
<script>
    $(document).ready(function () {
        // Exibir a notificação
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Ocultar a notificação
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });

        // Exibir calendário
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // Ocultar o calendário
            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();
            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });
        });

        // Exibir calendário
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>