<!-- Resumo de automações -->
<estilo-responsivo></estilo-responsivo>
<div id="pag-histograma-clientes" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>

        <div id="div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>

        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <ul class="nav">

                    <!-- Lista de relatórios -->
                    <li lista-relatorios></li>

                    <!-- Filtro: data inicial -->
                    <li id="Dias"><filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora></li>
                    <li id="Dias" style="padding-left: 5px"><filtro-data-final-sem-hora></filtro-data-final-sem-hora></li>
                    
                    <li id= "Meses" style="display:none;"><filtro-data-mes></filtro-data-mes></li>
                    <li style="display:none;"><filtro-data-final-sem-hora></filtro-data-final-sem-hora></li>
                    
                    <li style="padding-left: 5px"><filtro-aplicacao></filtro-aplicacao></li>
                    <li style="padding-left: 5px"><filtro-segmento></filtro-segmento></li>
                </ul>


                <ul class="nav botoes">
                    <li style="padding-right: 10px;">
                        <form class="navbar-form">
                            <!--<radio-generico  ngm="valor" l="Mês, Dia" v="mes,dia"></radio-generico>-->
                            <radio-generico ngm="valor" l="15min&nbsp, 30min&nbsp, 45min&nbsp, 1h&nbsp, 2h&nbsp, 24h&nbsp" v="15min, 30min, 45min, 1h, 2h, 24h"></radio-generico>
                        </form>
                    </li>

                    
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                        </form>
                    </li>
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
                        </form>
                    </li>
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                             <button class="btn btn-exportar" data-loading-text="..." disabled = "true">Exportar</button>
                        </form>
                    </li>
                    <!--<li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar-jpg" data-loading-text="..." disabled="true" >Exportar Gráfico</button>
                        </form>
                    </li>-->
                </ul>

            </div>
        </div>

        <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>

            <div class="ampulheta">
                <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                <div class="perc">
                    <!--{{status_progress_bar}}-->
                </div>
            </div>

            <!-- -->
            <!-- AG grid e chart.js -->
            <div class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 65px; justify-content: center;">		
           
                <div style="width: calc(70% - 40px); margin-right: 40px;">
                    <h1 style="font-size: 24px; text-align: center; margin-top: 30px; margin-bottom: 15px;" title="Repetidas por chamada">Histograma de Repetidas</h1>
                    <div style="width: 100%; height: 450px;" id = "canvas-container">
                        <canvas id="myChart"></canvas>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-log" class="modal hide fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		    style="z-index:3100">
			<div class="modal-header">
				<lu>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>				
				<h3>{{nomerepetidas}}</h3>
				
				</lu>
			</div>
			<div class="modal-body" >

				<div ag-grid="gridDados" class="ag-theme-balham" style="height: 350px;"></div>
			
			<div class="modal-footer">
					<form class="navbar-form">	
				
				</form>
				<div id="container" style="float: left">
						<button title="Salvar" ng-click="salvarParametros(parametro);" data-dismiss="modal" aria-hidden="true">Exportar</button>	
			</div>
			</div>
		</div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>
