<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Hora -->
<div id="pag-homologacao-prompt" data-role="page" class="pag-container">

	<div class="menu-barra">
		<!-- Menu de aplicações -->
		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros" style="z-index: 10000">

			<!-- Filtros -->
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-codprompt></filtro-codprompt>

			<form class="navbar-form">
				 <div class="input-append">
				   <input type="text" class="filtro-codprompt" placeholder="Busque por Código do Prompt" ng-model="filtroPrompt">
				 </div>
			</form>
			<form class="navbar-form">
				<div class="checkbox navbar-btn filtro-check" >   
					<input type="checkbox" ng-model="semDescricao" value="semDescricao" class="umDigito ng-pristine ng-valid" id="semDescricao" checked="" ng-click="">Prompts sem Descrição cadastrada.
				</div>
				<div class="checkbox navbar-btn filtro-check" >   
					<input type="checkbox" ng-model="comAudio" value="comAudio" class="umDigito ng-pristine ng-valid" id="comAudio" checked="" ng-click="">Prompts com Áudio cadastrado.
				</div>
		   </form>
		   <form class="navbar-form">
			<div class="checkbox navbar-btn filtro-check" >   
				<input type="checkbox" ng-model="homologados" value="homologados" class="umDigito ng-pristine ng-valid" id="homologados" checked="" ng-click="">Prompts com Descrição não homologada.
			</div>
			<div class="checkbox navbar-btn filtro-check" >   
				<input type="checkbox" ng-model="coerentes" value="coerentes" class="umDigito ng-pristine ng-valid" id="coerentes" checked="" ng-click="">Prompts com Descrição não coerente com Áudio.
			</div>
		   </form>
			<div class="menu-botoes">

				<!-- Botoes -->
				
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>
	</div>

</div>

<div class="grid-container">
	<div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc">
			<!--{{status_progress_bar}}-->
		</div>
	</div>
	<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
	<!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
	<!-- Exportação XLS -->
	<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
<div class="alert-container">
	<div class="notification" style="width: 100% !important">
		<div class="alert alert-info">
			<button type="button" class="close">&times;</button>
			<span ng-bind-html='info_status'></span>
		</div>
	</div>
</div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="audioModal" role="dialog" style="width:40%">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Homologar Prompt</h4>
        </div>
        <div class="modal-body">
			<form>
					   <div id="dvAudio" class="form-group">
						
						</div>
						<div class="checkbox navbar-btn filtro-check" style="color:#333">   
							<input type="checkbox" ng-model="promptHomologado" value="promptHomologado" class="umDigito ng-pristine ng-valid" id="promptHomologado" checked="" ng-click="">Prompt Homologado.
						</div>
						<div class="checkbox navbar-btn filtro-check" style="color:#333">   
							<input type="checkbox" ng-model="textoCoerente" value="textoCoerente" class="umDigito ng-pristine ng-valid" id="textoCoerente" checked="" ng-click="">Descrição coerente com Áudio.
						</div>
						<br>
						
						<div class="form-group">
							<label for="descricaoPrompt">Descrição:</label>
							<textarea class="form-control span4" rows="5" id="descricaoPrompt" style="width:90%;height:150px !important" ng-model="descricaoPrompt"></textarea>
							<input type="hidden" ng-model="hdescricaoPrompt">
						</div>
					
						<br>
						<div class="checkbox navbar-btn filtro-check" style="color:#333">   
							<input type="checkbox" ng-model="trocaTexto" value="trocaTexto" class="umDigito ng-pristine ng-valid" id="trocaTexto" checked="" ng-click="trocarTexto()">Trocar campo Descrição pelo campo Texto Reconhecido? 
						</div>
						<br>
						<div class="form-group">
							<label for="textoReconhecido">Texto Reconhecido:</label>
							<textarea class="form-control span4" rows="5" id="textoReconhecido" disabled style="width:90%;height:150px !important" ng-model="textoReconhecido"></textarea>
						</div>
			
			</form>
        </div>
        <div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="salvar()">Salvar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
<script>
	// dropdown hover
	$(document).ready(function () {


		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

		//yuri 20/10/2017
		$('input:radio').click(function () {
			radio = $(this).val()

		});

		$('input.periodo').on('change', function () {
			$('input.periodo').not(this).prop('checked', false);
		});

	});
</script>