<estilo-responsivo></estilo-responsivo>
<script src="js/jquery.mask.min.js"></script>
<!-- Resumo por Hora -->
<div id="pag-importacao-audio" data-role="page" class="pag-container">
		
	<div class="menu-barra">
		<!-- Menu de aplicações -->
		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>
		
		<div class="menu-filtros">

			<!-- Filtros -->
			
			
		

			<form class="navbar-form">
					<div class="input-append">
					   <input type="file" id="audios" multiple style="display: none"><input type="button" class ="btn-default" value ="Selecione arquivos de áudio para importação." ng-click="selecionarAudios()">
					</div>
			</form>
			<div class="menu-botoes">

				<!-- Botoes -->
				
				
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>
	</div>
	
</div>

<div class="grid-container">
		
	<div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc">
			<!--{{status_progress_bar}}-->
		</div>
	</div>

	
	
	<div class="grid" ng-grid="gridOptions" ng-show="myData.length != 0"></div>
	<!-- Exportação XLS -->
	<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
<div class="alert-container">
	<div class="notification" style="width: 100% !important">
		<div class="alert alert-info">
			<button type="button" class="close">&times;</button>
			<span ng-bind-html='info_status'></span>
		</div>
	</div>
</div>
</div>


<script>
	// dropdown hover
	$(document).ready(function () {


		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

		//yuri 20/10/2017
		$('input:radio').click(function () {
			radio = $(this).val()

		});

		$('input.periodo').on('change', function () {
			$('input.periodo').not(this).prop('checked', false);
		});

	});
</script>