<style>
    html, body {
        height: 100% !important;
    }

    body>div.ng-scope {
        height: 100% !important;
    }

    .pag-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    .login {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .login-center {
        display: flex;
        flex-direction: column;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .login-campo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .login-campo input {
        margin-left: 15px;
    }

    .login-campo-btn {
        display: flex;
        justify-content: flex-end;
    }
</style>
<div id="pag-login" data-role="page" class="pag-container">
    <!--Usado somente na tela de splash-->
    <div class="progress progress-striped active" style="margin-top: -20px; width: 940px;">
        <div class="bar" style="width: 0%;">Carregando...</div>
        <label id="statusCache" style="color: Red;"></label>
    </div>
	<div class ="textoInfo"></div>

    <div class="notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>

    <div class="login">
        <div class="login-center">
            <div id="logoOi">
                <p style="vertical-align: bottom; font-size: 12px;">Licenciado para
                    <img src="http://www.versatec.com.br/oi3/img/LogoOiNovo.png" style="width: 100px;">
                </p>
            </div>
            <div class="login-form">
                <div class="login-campo">
                    <label>Login:</label>
                    <input type="text" class="txtLogin ng-pristine ng-valid" ng-model="login" disabled="">
                </div>
                <div class="login-campo">
                    <label>Dominio:</label>
                    <input type="text" class="txtDominio ng-pristine ng-valid" ng-model="dominio" disabled="">
                </div>
                <div class="login-campo-btn">
                    <button id="logar" class="btn btn-logar" data-loading-text="Autenticando...">OK</button>
                </div>
                <div class="login-campo">
                    <label class="msg" style = "white-space: pre-wrap;"></label>
                </div>
            </div>
        </div>

        <div class="alertaVersao">
            <span ng-bind-html='msg2'></span>
            <div ng-show="linkNewVersion !=''">
                <br>
                <span ng-click="gui.Shell.openItem('{{linkNewVersion}}');" style="cursor: pointer">
                    <b style="color: Blue;">BAIXAR NOVA VERSÃO</b>
                </span>
            </div>
        </div>

        <div id="logoImgs" ng-cloak>
            <br />
            <div>
            </div>
            <div id="logoVersatil" style="position: fixed;bottom: 10px;right: 30px;">
                <p style="font-size: 12px;vertical-align: bottom;">
                    <span style="position: relative;top: 20px;">Desenvolvido por&nbsp;</span>
                    <img src="http://www.versatec.com.br/oi3/img/logo-versatil2.png" style="width: 200px;height: 55px;">
                </p>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>