<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Estado de Diálogo -->
<div id="pag-logs-em-atraso" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

      <style>
        #pag-logs-em-atraso .menu-barra .menu-filtros form .hora-inicio,
        #pag-logs-em-atraso .menu-barra .menu-filtros form .data-fim,
        #pag-logs-em-atraso .menu-barra .menu-filtros form .hora-fim {
          display: none;
        }
      </style>

			<!-- Filtros -->
			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<!-- <chk-box-consol-finalizados></chk-box-consol-finalizados> -->
					<!-- <chk-box-diferenca-dia></chk-box-diferenca-dia> -->
				</div>

				<!-- Botoes -->
				<btn-gerar-novo></btn-gerar-novo>
				<btn-exportar-csv></btn-exportar-csv>
				<!-- <btn-consol-finalizados></btn-consol-finalizados> -->
				<!-- <btn-diferenca-dia></btn-diferenca-dia> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<!-- <div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}
			</div>
		</div> -->
    <!-- <div ng-grid="gridDados" id="grid" class="grid"></div> -->
    <h1 style="font-size: 24px; text-align: center;">Logs enviados após o fechamento D-1</h1>
		<div ag-grid="gridDados" class="ag-theme-balham" style="height: 450px;"></div>

	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>
