<estilo-responsivo></estilo-responsivo>
<!-- <style>
	.ngTopPanel .ng-scope { width: auto !important; }
	.grid .ng-scope { width: 50% !important; }
</style> -->
<!-- Resumo por Estado de Diálogo -->
<div id="pag-monitor-exportacao-mailing" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<!-- <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora> -->
			<!-- <filtro-data-final-com-hora></filtro-data-final-com-hora> -->
			<!-- <filtro-aplicacao></filtro-aplicacao> -->
			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<!-- <chk-box-consol-finalizados></chk-box-consol-finalizados> -->
					<!-- <chk-box-diferenca-dia></chk-box-diferenca-dia> -->
				</div>

				<!-- Botoes -->
                <!-- <btn-gerar-novo></btn-gerar-novo> -->
                <!--<btn-gerar-relatorio-exporta></btn-gerar-relatorio-exporta>
                <btn-gerar-relatorio-mailing></btn-gerar-relatorio-mailing>-->
				
				<!-- <btn-consol-finalizados></btn-consol-finalizados> -->
				<!-- <btn-diferenca-dia></btn-diferenca-dia> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
		<!--<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}
			</div>
		</div> -->
		<div style="width: calc(50% - 12px); margin-right: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Controle batimento S2S</h1>
			<div ag-grid="gridExporta" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
		</div>
		<div style="width: calc(50% - 12px); margin-left: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Geração de Mailing</h1>
			<div ag-grid="gridMailing" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
		</div>
		<div style="width: 100%">
			<h1 style="font-size: 24px; text-align: center;">Consolidação D-1 <span class="periodo" ng-if="inicioConsolidacao && fimConsolidacao">entre <span class="inicio">{{inicioConsolidacao}}</span> e <span class="fim">{{fimConsolidacao}}</span></span></span></h1>
			<div ag-grid="gridConsolidacao" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
		</div>
	</div>
</div>
