<style type="text/css">
	body{
		overflow: hidden !important;
	}
	
	 .titulo{
	 	padding-left: 70px;
	 }

	div, span, p, td {
		font-family: Arial, sans-serif;
	}

	#chart {
		display: inline-block;
	}
	#legend {
		display: inline-block;
		position: relative;
		left: 8px;
	}
	#legend_container {
		position: absolute;
		right: 0;
		bottom: 26px;
		width: 0;
	}
	#chart_container {
		float: left;
		position: relative;
	}

	.title{
		color: #ffffff;
	}
	
	.critico {
		color: Red;
	}

	.normal {
		color: green;
	}

</style>
<!-- Estalo analise -->
<div id="pag-MonBilhetagem" data-role="page">
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="logoCliente"><div class="versao">{{versao}}</div></div>
<!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
	<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
		<div class="container" style="width:auto;">
			<!--a class="brand" href="#">Estalo</a-->
			<ul class="nav">		
				<li lista-relatorios></li> 
					<form class="navbar-form" id="btnAjuda" style="position: fixed; right: 65px;">
						<!-- ng-click="listaChamadas()" -->
						<button class="btn" ng-click="abreAjuda(1)" title="Abre uma página com manuais de ajuda." style="padding: 5px 8px 5px 7px;"><font size="small"><i class="icon-question-sign"></i></font>
						</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="multiClassSelector" style="margin-top:90px">
	<!-- CONTEUDO QUE DESEJA COM BOOTSTRAP 3.2.2 -->
		<input id="btnAtualizar" type="button" class="btn btn-default" value="atualizar" ng-click="atualizar()" style="float:right">
		<h1><center>Recebimento de Logs do NGR Monitor (103 e OiTV) </center></h1>
	<div class="container" style="margin-left:0px">
		<div class="row">
			<div class="col-xs-5">
					    <h5 class="titulo">Amostra de 7 dias:</h4>
						<table style="margin-left:15px; line-height:9px;">
							<tr>
								<th>Data</th>
								<th>Logs por minuto</th>
							</tr>
							<tr ng-repeat="chamada in qtdChamadas">
								<td>{{chamada.datahora}} {{chamada.diaSemana}}</td>
								<td><center>{{chamada.qtd}}</center></td>
							</tr>
						</table>					

							<div class="span12" style="margin-left:0px">
								<b>Servidores Operantes (NGR):</b>
								<br> {{servidoresAtivos}}
							</div>							
							<div class="span12" style="margin-left:0px">
								<b>Taxa de Importação:</b> <br>
								<span class="destaque">{{taxaImportacao}}</span> (103, OiTV, Pós-pago, Pré-pago, etc...)
							</div>
							<div class="span12" style="margin-left:0px">
								<b>Servidores Inoperantes (NGR):</b> <br>
								{{servidoresInativos}}</div>	
							<div class="span12" style="margin-left:0px"><span class="aviso">{{aviso}}</span></div>
							
							<div class="span12" style="margin-left:0px">
								<b>Data / Hora:</b>
								{{horarioAtual}}								
							</div>
							
							<h4>Última data de inserção por produto:</h4>
							<table style="margin-left:15px; line-height:9px;">
								<tr>
									<th>Data</th>
									<th>Produto</th>
								</tr>
								<tr ng-repeat="item in datasUltimosRegsProds">
									<td>{{item.Data}} </td>
									<td><center>{{item.Produto}}</center></td>
								</tr>								
							</table>
							<br>
							
							<!--<div class="span12" style="margin-left:0px">
								<b>Nº de Servidores Operantes (NVP):</b>
								{{qtdNVPChamadas}}</br>							
								<b>Servidores Inoperantes (NVP):</b> <br>
								{{qtdNVPChamadasDiff}}	</div>
							<div class="span12" style="margin-left:0px"><span class="aviso">{{qtdGravacaoDeLogs}}</span></div>	-->	

							<div class="span12" style="margin-left:0px">
								<b>Ocupação do banco:</b>
								<span ng-class="{critico: ocupacaoBanco.valor >= 91.1 , normal: ocupacaoBanco.valor < 91.1}" >{{ocupacaoBanco.texto}}</span></br>							
							</div>						
							
	
			</div>
			<div class="col-xs-7">
				<h4><center>Recebimento de Logs Por Minuto</center></h4>
				<div id="chart_container">
					<!-- O HTML é inserido pela função limpaHTMLGrafico, procure no controller ;) -->
					Carregando Gráfico...
				</div>
				<center>Horário</center>
				<div class="row">
					<div class="col-xs-6 pull-left">
						{{initGraph}}
					</div>
					<div class="col-xs-6">
						<div class="pull-right" style="margin-right:-90px;">
							{{fimGraph}}
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
<div>

