<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Estado de Diálogo -->
<div id="pag-monitor-teradata" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<div class="menu-botoes">

				
				<div class="menu-checkbox">
					
				</div>

				
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
		
		<div style="width: calc(70% - 12px); margin-right: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Exportações para o Teradata</h1>
			<div ag-grid="gridExporta" class="ag-theme-balham" style="width: 100%; height: 500px;"></div>
		</div>
		<div style="width: calc(30% - 12px); margin-left: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Importações para o Estatura</h1>
			<div ag-grid="gridImporta" class="ag-theme-balham" style="width: 100%; height: 500px;"></div>
		</div>
	</div>
</div>