<style type="text/css">
	body{
		overflow: hidden !important;
	}
	
	 .titulo{
	 	padding-left: 70px;
	 }

	div, span, p, td {
		font-family: Arial, sans-serif;
	}

	#chart {
		display: inline-block;
	}
	#legend {
		display: inline-block;
		position: relative;
		left: 8px;
	}
	#legend_container {
		position: absolute;
		right: 0;
		bottom: 26px;
		width: 0;
	}
	#chart_container {
		float: left;
		position: relative;
	}

	.title{
		color: #ffffff;
	}
	
	.critico {
		color: Red;
	}

	.normal {
		color: green;
	}
	
	.ngRow.even {
        background-color: rgb(255, 255, 255);
		border-bottom: 1px solid;
		border-color: black;
    }
    .ngRow.odd {
        background-color: rgb(255, 255, 255);
		border-bottom: 1px solid;
		border-color: black;
    }
	
	.ngHeaderCell {
		background-color: #F5F7F6 !important;
		color: #9DA097 !important;
	
	}
	.gridSt {
		font-size:13px;
		
	}
	.menu-filtros{
		height:370px;
		margin-bottom: 6px
	}
	
	

</style>
<!-- Estalo analise -->
<div id="pag-MonBilhetagemST" data-role="page">
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="logoCliente"><div class="versao">{{versao}}</div></div>
<!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
	<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
		<div class="container" style="width:auto;">
			<!--a class="brand" href="#">Estalo</a-->
			<ul class="nav">		
				<li lista-relatorios></li> 
					<form class="navbar-form" id="btnAjuda" style="position: fixed; right: 65px;">
						<!-- ng-click="listaChamadas()" -->
						<button class="btn" ng-click="abreAjuda(1)" title="Abre uma página com manuais de ajuda." style="padding: 5px 8px 5px 7px;"><font size="small"><i class="icon-question-sign"></i></font>
						</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="multiClassSelector" style="margin-top:90px">
	<!-- CONTEUDO QUE DESEJA COM BOOTSTRAP 3.2.2 -->
		<input id="btnAtualizar" type="button" class="btn btn-default" value="atualizar" ng-click="atualizar()" style="float:right">
		<h1><center>Recebimento de Logs do NGR Monitor - StOnline </center></h1>
	<div class="container" style="margin-left:0px">
		<div class="row">
			<div class="col-xs-5">
				<div class="row">
					<div class="col-xs-12">
							<div class="menu-filtros">
							 
							  <h4 class="titulo">Filtro de chamadas:</h4>
							  <form class="navbar-form">
								<div class="input-append" style="margin-left:-10px">
									<select class="filtro-uf selectpicker span2" multiple="" title="UF"></select>
									<select class="filtro-ddd selectpicker span2" multiple="" title="DDD" ></select>
									<button class="btn btn-gerar" data-loading-text="..." style="margin-top:-8px">Carregar</button>
								</div>
								<div class="span12" style="margin-top:-10px;margin-left:-10px">
									<b>UFs: </b>{{ ufs_filtro }} &nbsp<b>DDDs: </b> {{ ddds_filtro }}
								</div> 
							   </form>
							   
							   <div ng-grid="gridDados" class="gridSt" style="height:300px" ng-show="dados.length != 0"></div>
								 
							</div>
							<br>
							<div class = "row" id="ultProds">
								<div class="col-sm-2" style="width:48%">
									<div class="span12" style="margin-left:0px">
										<b>Último log por Produto:</b>
									</div>
								</div>
								<div ng-repeat="item in datasUltimosRegsProds">
									<div class="col-sm-2" style="width:11%">{{item.Data}}</div>
								</div>
							</div>
							<br>
							<!--<h4 class="titulo">Status Atual:</h4>-->
							<div class="span12" style="margin-left:0px">
								<b>Servidores Operantes (NGR): </b> {{servidoresAtivos}}
							
							</div>							
							<div class="span12" style="margin-left:0px">
								<b>Taxa de Importação:</b> 
								<span class="destaque">{{taxaImportacao}}</span> (103, OiTV, Pós-pago, Pré-pago, etc...)
							</div>
						
							<div class="span12" style="margin-left:0px">
								<b>Data / Hora:</b>
								{{horarioAtual}} &nbsp	
								<b>Ocupação do banco:</b>
								<span ng-class="{critico: ocupacaoBanco.valor >= 91.1 , normal: ocupacaoBanco.valor < 91.1}" >{{ocupacaoBanco.texto}}</span></br>								
							</div>
							
													
							
						
					</div>
					<div class="col-xs-6">
					</div>
				</div>
			</div>
			
			<div class="col-xs-7">
				<h4><center>Hoje</center></h4>
				<div id="chart_container">
					<!-- O HTML é inserido pela função limpaHTMLGrafico, procure no controller ;) -->
					Carregando Gráfico...
				</div>
				<center>Horário</center>
				<div class="row">
					<div class="col-xs-6 pull-left">
						{{initGraph}}
					</div>
					<div class="col-xs-6">
						<div class="pull-right" style="margin-right:-50px;">
							{{fimGraph}}
						</div>
					</div>
				</div> 
			
			</div>
			<br><br>
			<div class="col-xs-7">
				<h4><center>Ontem</center></h4>
				<div id="chart_container_2">
					
					Carregando Gráfico...
				</div>
			</div>
				
		</div>
	</div>
<div>

