<estilo-responsivo></estilo-responsivo>
<!-- <style>
	.ngTopPanel .ng-scope { width: auto !important; }
	.grid .ng-scope { width: 50% !important; }
</style> -->
<!-- Resumo por Estado de Diálogo -->
<div id="pag-monitor-teste-procedure" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<!-- <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora> -->
			<!-- <filtro-data-final-com-hora></filtro-data-final-com-hora> -->
			<!-- <filtro-aplicacao></filtro-aplicacao> -->
			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<!-- <chk-box-consol-finalizados></chk-box-consol-finalizados> -->
					<!-- <chk-box-diferenca-dia></chk-box-diferenca-dia> -->
				</div>

				<!-- Botoes -->
                <btn-gerar-novo></btn-gerar-novo>
                <!--<btn-gerar-relatorio-exporta></btn-gerar-relatorio-exporta>
                <btn-gerar-relatorio-mailing></btn-gerar-relatorio-mailing>-->
				
				<!-- <btn-consol-finalizados></btn-consol-finalizados> -->
				<!-- <btn-diferenca-dia></btn-diferenca-dia> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<style type="text/css">
		#monitor-teste-procedure-grid-container .ag-body-viewport {
			overflow-x: auto !important;
		}
	</style>

	<div id="monitor-teste-procedure-grid-container" class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
		<!--<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				{{status_progress_bar}}
			</div>
		</div> -->
		<div style="width: calc(50% - 12px); margin-right: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Selecione a procedure</h1>
			<div ag-grid="gridProcedures" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
		</div>
		<div style="width: calc(50% - 12px); margin-left: 12px;">
			<h1 style="font-size: 24px; text-align: center;">Informe os parâmetros</h1>
			<div ag-grid="gridParametros" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
			<p id = 'texto'></p>
		</div>
		<div style="width: 100%">
			<h1 style="font-size: 24px; text-align: center;">Resultado da procedure</h1>
			<div ag-grid="gridResultado" class="ag-theme-balham" style="width: 100%; height: 210px;"></div>
		</div>
	</div>
</div>
