﻿<div id="pag-monitorReparo" data-role="page">
  <div class="se-pre-con"></div>
    <div>

      <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  

  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 

          
          
          
          
                    <!-- Lista de relatórios -->
          <!-- <li lista-relatorios></li>  -->
                 
            <div class="input-prepend input-append" style="position :relative;top: 4px;">
                        <span class="add-on" style="    color: white;    background-color: black;    border-color: black;    text-shadow: none;">Exibir</span>
                        <input class="span1 ng-valid-max ng-valid-min ng-dirty ng-pristine ng-invalid ng-invalid-number appendedPrependedInput" type="number" value="2" min="1" max="26" ng-init="qtyGraf='2'" ng-model="qtyGraf" ng-change="carregaReparoInicio()" pattern="[0-9]{2}" placeholder="2" title="Digite um número de 1 a 26" autofocus="">
                        <span class="add-on" style="    color: white;  background-color: black;  border-color: black;  text-shadow: none;"> UFs</span>
                    </div>
                         
           </ul>


      </div>
    </div>
  </div>


          <!--li><a href="#/">Menu</a></li-->


          


                <!-- <div class="span4" style="text-align: left;"> -->
                    <!-- <div class="input-prepend input-append" style="position :relative;bottom: 4px;"> -->
                        <!-- <span class="add-on" style="    color: white;    background-color: black;    border-color: black;    text-shadow: none;">Exibir</span> -->
                        <!-- <input class="span4 ng-valid-max ng-valid-min ng-dirty ng-pristine ng-invalid ng-invalid-number appendedPrependedInput" type="number" value="2" min="1" max="26" ng-init="qtyGraf='2'" ng-model="qtyGraf" ng-change="carregaReparoInicio()" pattern="[0-9]{2}" placeholder="2" title="Digite um número de 1 a 26" autofocus=""> -->
                        <!-- <span class="add-on" style="    color: white;  background-color: black;  border-color: black;  text-shadow: none;"> UFs</span> -->
                    <!-- </div> -->
                <!-- </div> -->
        

          
		<a class="legendas btn btn-warning" data-placement="bottom" data-trigger="hover" data-original-title="" title="" style="position: absolute;
    top: 90px;
    right: 90px;
	z-index: 600; visibility:hidden;"><i class="icon-signal"></i> Legenda</a>
        <div class="tela tela0">
            <p></p>
        </div>
        <div class="tela tela1">
            <h1>Histórico de Reparos por UF</h1>
            <div class="ultimas10hUFComparativo">
                <h2>Uma semana atrás</h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="ultimas10hUF">
                <h2>Útimas 10 h </h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="ultima1hUF">
                <h2>Últimos 60 min</h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="canto-sup-dir">
                <svg class="legend"></svg>
            </div>
        </div>
        <div class="tela tela2">
            <h1>Histórico de Reparos por UF: TV</h1>
            <div class="ultimas10hUFComparativo">
                <h2>Uma semana atrás</h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="ultimas10hUF">
                <h2>Útimas 10 h</h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="ultima1hUF">
                <h2>Últimos 60 min</h2>
                <svg class="areaChart"></svg>
            </div>
            <div class="canto-sup-dir" style="visibility:hidden;">
          
                <svg class="legend"></svg>
            </div>
        </div>
    </div>

    <script> var nodejs = false; </script>

    <div class="conteudoLegendas hidden">
        <!-- <svg class="legend" width="255" height="50"> -->
        <!-- <g transform="translate(0,0)"><rect width="18" height="18" style="fill: #1f77b4; stroke: #1f77b4;"></rect><text class="legend" x="26" y="9" dy=".35em">Fixo</text></g> -->
        <!-- <g transform="translate(85,0)"><rect width="18" height="18" style="fill: #ff7f0e; stroke: #ff7f0e;"></rect><text class="legend" x="26" y="9" dy=".35em">Velox</text></g> -->
        <!-- <g transform="translate(170,0)"><rect width="18" height="18" style="fill: #2ca02c; stroke: #2ca02c;"></rect><text class="legend" x="26" y="9" dy=".35em">TV</text></g> -->
    
        </svg>
    </div>
	
<!-- Modal -->
<!-- <div class="loadingModal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadingModallbl" aria-hidden="true"> -->
  <!-- <div class="modal-header"> -->
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
    <!-- <h3 class="myModalLabel">Carregando</h3> -->
  <!-- </div> -->
  <!-- <div class="modal-body"> -->
    <!-- <p>Espere um pouco...</p> -->
  <!-- </div> -->
<!-- </div> -->

</div>