<!-- Ofensores de Repetidas -->
<estilo-responsivo></estilo-responsivo>
<div id="pag-ofensores-repetidas" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>

        <div id="div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>

        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <ul class="nav">

                    <!-- Lista de relatórios -->
                    <li lista-relatorios></li>

                    <!-- Filtro: data inicial -->
                    <li><filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora></li>
                    

                    <!-- Filtro: data final -->
                    <li style="padding-left: 5px"><filtro-data-final-sem-hora></filtro-data-final-sem-hora></li>
                    <li style="padding-left: 10px"><filtro-aplicacao></filtro-aplicacao></li>
                </ul>


                <ul class="nav botoes">

                    <li style="padding-left: 5px;">
                        <form class="navbar-form" style="margin-top: 8px; color: white;">
                            <!--<input type="checkbox" id="pordia" ng-model="porDia" value="pordia"><span class="por2421dia">Por dia</span>-->
                            <input style="vertical-align: inherit;" type="radio" name="janela" id="janela-1h" ng-model="janela" value="1">
                            <label style="display: inline;" for="janela-1h">1h</label>
                            <input style="vertical-align: inherit;" type="radio" name="janela" id="janela-2h" ng-model="janela" value="2">
                            <label style="display: inline;" for="janela-2h">2h</label>
                            <input style="vertical-align: inherit;" type="radio" name="janela" id="janela-24h" ng-model="janela" value="24">
                            <label style="display: inline;" for="janela-24h">24h</label>
                            <!--<tt>valor = {{valor | json}}</tt><br/>-->
                        </form>
                    </li>
                        
                    <li style="padding-left: 15px;">
                        <form class="navbar-form">
                            <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
                        </form>
                    </li>
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
                        </form>
                    </li>
                    <!--<li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <button class="btn btn-gerar-jpg" data-loading-text="..." disabled="true" >Exportar Gráfico</button>
                        </form>
                    </li>-->
                </ul>

            </div>
        </div>

        <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>

            <div class="ampulheta">
                <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                <div class="perc">
                    <!--{{status_progress_bar}}-->
                </div>
            </div>

            <!-- -->
            <!-- AG grid e chart.js -->
            <div class="grid-container" style="display: flex; flex-direction: row; flex-wrap: wrap; padding-top: 65px; justify-content: center;">		
                <
                    <div style="width: calc(100% - 40px);">
                        <h1 style="font-size: 24px; text-align: center; margin-top: 30px; margin-bottom: 15px;" title="Gráfico de repetidas">Ofensores de Repetidas</h1>
                        <div id="chart-container" style="width: 100%; height: 450px; overflow-y: scroll; overflow-x: hidden;">
                            <div style="width: 100%; height: 450px;" id = "canvas-container">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>
<script>
    $(document).ready(function () {
        // Exibir a notificação
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Ocultar a notificação
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });

        // Exibir calendário
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // Ocultar o calendário
            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();
            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });
        });

        // Exibir calendário
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>