<style type="text/css">
   body{
		overflow: hidden !important;
	}
</style>
<!--Bruno 13/02/2017-->
<!-- Estalo analise-->
<div id="pag-para_gra" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente"><div class="versao">{{versao}}</div></div>
        <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
        <div class="navbar-inner">
            <div class="container" style="width:auto;">

                		<ul class="nav">		  
                          <li lista-relatorios></li> 
                    </ul>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="row-fluid">
                <div ui-grid="gridDados" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ng-show="gridDados.length != 0" class="grid clearfix"></div>
            </div>


            <!--Começa form criar parametro gra-->
            <div id="modal-gra" class="modal hide fade modal-gra">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Criação de Parametro Gra</h3>
                </div>

                <div class="alert alertBlock hide fade in registerAlert clearFix">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <!-- <h5>Aviso!</h5> -->
                    <span class="registerAlertText" ng-bind="registerAlert"></span>
                </div>

                <form name="UserController" id="FormParaGra" class="form-horizontal navbar-form">

                    <div class="span6">
                        <div class="control-group">
                            <br>
                            <br>
                            <label class="control-label" for="Codigo">Código</label>
                            <div class="controls">
                                <input name="editCodigo" id="editCodigo" class="input-large" ng-model="codigo" maxlength="50" placeholder="Exemplo: generico1" type="text">
                            </div>
                            <br>
                            <label class="control-label" for="Nome">Nome</label>
                            <div class="controls">
                                <input name="editNome" id="editNome" class="input-large" ng-model="nome" maxlength="50" placeholder="Exemplo: Genérico1" type="text">
                            </div>
                            <br>
                            <label class="control-label" for="Prazo">Prazo</label>
                            <div class="controls">
                                <select name="editPrazo" id="editPrazo" ng-model="prazo">
                                    <option value="" selected disabled>Selecione</option>
                                    <option value="M">Minutos,&nbsp; Formato "XX"</option>
                                    <option value="H">Horas, &nbsp;&nbsp;&nbsp;  Formato "XX"</option>
                                    <option value="D">Dias,  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Formato "XX"</option>
                                    <option value="A">Horário,&nbsp; Formato "XX:XX"</option>
                                </select>
                            </div>
                            <br>
                            <label class="control-label" placeholder="Exemplo: Prezado cliente,..." for="Frase1">Frase 1</label>
                            <div class="controls">
                                <input name="editFrase1" id="editFrase1" placeholder="Exemplo: Prezado cliente,..." class="input-xxlarge" ng-model="Frase1" maxlength="100" placeholder="Frase 1" type="text">
                            </div>
                            <br>
                            <label class="control-label" for="Frase2">Frase 2</label>
                            <div class="controls">
                                <input id="editfrase2" name="editfrase2" placeholder="Exemplo: Prezado cliente,...,A Previsão de ..." class="input-xxlarge" ng-model="Frase2" maxlength="100" placeholder="Frase 2" type="text">
                            </div>
                            <br>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button onclick="limparForm()" data-dismiss="modal" class="btn btn-danger" type="reset" data-loading-text="...">Cancelar</button>
                    <button ng-click="registraParaGra()" data-toggle="modal" class="btn btn-success" ng-model="btnSalvar" type="submit" data-loading-text="...">Salvar</button>
                </div>
            </div>

            <!--Termina form criação parametro gra-->
            <!--Começa form edição de parametro gra-->
            <div class="row-fluid CtrlCriaGra" style="margin-top: 75px;">

                <div id="modal-view" class="modal hide fade modal-gra">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Edição de Parametro GRA</h3>
                    </div>
                    <div class="alert alertBlock hide fade in registerAlert clearFix">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- <h5>Aviso!</h5> -->
                        <span class="registerAlertText" ng-bind="registerAlert"></span>
                    </div>
                    <form name="UserController" id="FormEParaGra" class="form-horizontal navbar-form">
                        <div class="span6">
                            <div class="control-group">
                                <br>
                                <br>
                                <label class="control-label" for="codigo">Código</label>
                                <div class="controls">
                                    <input name="editacodigo" id="editacodigo" class="input-medium" ng-model="editcodigo" disabled type="text">
                                </div>
                                <br>
                                <label class="control-label" for="nome">Nome</label>
                                <div class="controls">
                                    <input name="editanome" id="editanome" class="input-medium" ng-model="editnome" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="prazo">Prazo</label>
                                <div class="controls">
                                    <select name="editaPrazo" id="editaPrazo" ng-model="editprazo">
                                        <option value="M">Minutos,&nbsp; Formato "XX"</option>
                                        <option value="H">Horas, &nbsp;&nbsp;&nbsp;  Formato "XX"</option>
                                        <option value="D">Dias,  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Formato "XX"</option>
                                        <option value="A">Horário,&nbsp; Formato "XX:XX"</option>
                                    </select>
                                </div>
                                <br>
                                <label class="control-label" for="Frase1">Frase 1</label>
                                <div class="controls">
                                    <input id="editaFrase1" name="editaFrase1" class="input-xxlarge"  ng-model="editFrase1" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="Frase2">Frase 2</label>
                                <div class="controls">
                                    <input id="editaFrase2" name="editaFrase2" class="input-xxlarge" ng-model="editFrase2" type="text">
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                      
                        <button ng-click="EdPgra()" data-toggle="modal" class="btn btn-success" type="submit" data-loading-text="..." id="saveCriaGras" name="saveCriaGras">Salvar</button>
                    </div>
                </div>
                <!--Termina form edição de parametro gra-->
            </div>
        </div>
    </div>
            <script>
                function limparForm() {
                    document.getElementById("FormParaGra").reset();
                    document.getElementById("FormEParaGra").reset();
                }
            </script>


            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>
    </div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>
