<style type="text/css">
    /*.rowDetalhes{
        white-space: normal !important;
        height: auto;
        min-height: 40px;
        max-height: 80px;
        word-wrap:break-word;
        vertical-align: center;
    }
    .modal-body{
        max-height: 600px;

    }*/

    body {
        overflow: hidden !important;
    }
</style>
<estilo-responsivo></estilo-responsivo>
<!-- Estalo analise -->
<div id="pag-params-oitv" data-role="page" class="pag-container">
	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">
			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<filtro-uf ng-show="!filtros.porDDD"></filtro-uf>
			<filtro-ddds ng-show="filtros.porDDD"></filtro-ddds>
			

					
		  <!-- <!-- Filtro: data inicial --> -->
			  <!-- <div id="dataini" class="datahora-inicio input-append date hint--left" data-hint="Se não for marcada a opção Reparo Programado, considera-se data inicial, a data atual."> -->
				<!-- <label for="dataini">Data Inicial</label> -->
				<!-- <input type="text" id="txtDataIni"   data-ng-model="dataini"  class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" /> -->
				<!-- <!-- data-ng-disabled="false" data-ng-show="reparoProgramado"--> -->
				<!-- <span class="add-on" ><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
			  <!-- </div>   <br/> -->
		  <!-- <!-- Filtro: data final --> -->

			  <!-- <div id="datafim" class="datahora-fim input-append date hint--left" data-hint="Para alterar a data final, altere o parâmetro para chuva ou energia elétrica"> -->
				<!-- <label for="datafim">Data Final</label> -->
				<!-- <input type="text" id="txtDataFim"  data-ng-model="datafim" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" /> -->
				<!-- <span class="add-on" id="spDataFim"><i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i></span> -->
			  <!-- </div>			 -->
			
			
			<div class="menu-botoes">
				<input type="checkbox" ng-model="filtros.porDDD" class="porddd ng-pristine ng-valid"><span style="color:#FFF;margin-left:4px;margin-top:4px;">DDD</span>
				<button ng-click="novoParam()" ng-model="ParamButton" data-toggle="modal" class="btn btn-register" data-loading-text="..." title="Novo Parâmetro Ativo" disabled>
					Registrar Paramêtro
				</button>
			</div>
		
		</div>
	</div>

    <div class="container-fluid">
        <!-- Classe contendo grid de usuários e div de alertas inferior -->
        <div ng-grid="gridDados" class="grid" ></div>
		<!-- ng-show="paramsAtivos.length != 0" -->
        <div class="notification">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>

        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc"><!--{{status_progress_bar}}--></div>
        </div>
    </div>

    <div class="row-fluid CtrlParams" style="margin-top: 75px;">




        <div class="modal hide fade modal-register">
            <!-- Modal de cadastro de novo usuário -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h3>Ativar Parâmetro Ura TV</h3>
            </div>

            <div class="alert alertBlock hide fade in registerAlert clearFix">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <!-- <h5>Aviso!</h5> -->
                <span class="registerAlertText" ngModel="registerAlert"></span>
            </div>

            <div class="modal-body userForm">


                <form name="UserController" class="form-horizontal navbar-form">
					<div class="span6">
						<div id="dvMensagem" style="float:left">
                            <label for="txtMensagem">Mensagem</label>
                            <select id="selMensagem" class="selectpicker span1_1" title="Mensagem" data-ng-model="mensagem" ng-options="a as a.nome for a in parametros" ng-change="atualizaProduto()">
                            </select>							
							<textarea style = "height: 97px;width: 445px;" disabled>{{frase1}}</textarea>
                        </div>
					  
						<div id="dvProduto" style="float:left;margin-top:5px;">
                            <label for="txtProduto">Produto</label>
                            <select id="selProduto" class="selectpicker span1_1" title="Produto" ng-model="produto" disabled>
								<option value="Fibra">Fibra</option>
								<option value="DTH">DTH</option>
                            </select>
							
                        </div>				
						
					  
					</div>

                    <div class="span4">
						
						
						<div class="hora-inicio input-append"  style="float:left;">
							   <label>Horário</label>
							   <input type="text" id="agenda" class="span1_0" data-format="hh:mm:ss" autocomplete="off"/>
							   <span class="add-on" id="spAgenda"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
						</div>
						
						<br/>
						<br/><br/>
                        <!--<label for="txtDias">Dias</label>
                        <input style="float:left" type="number" name="txtDias" id="txtDias" class="form-control span1_1" data-ng-model="dias" min="0"/>
                        						
                        <div id="dvHoras" style="float:left">
                            <label for="txtHoras">Horas</label>
                            <select id="selHoras" class="selectpicker span1_1" title="Horas" ng-model="horas">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                                <option value="72">72</option>
                            </select>
                        </div>
						
						
                        <div id="dvMin" style="margin-left:95px">
                            <label for="txtMin">Minutos</label>
                            <select id="selMin" class="selectpicker span1_1" title="Minutos" ng-model="minutes">
                                <option value="0">0</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>						

						</br>
						</br>-->
						
                    </div>
                
				</form>
				
            </div>

            <div class="modal-footer">
                <button ng-click="registraMensagem()" ng-model="registerMsg" class="btn-success btn btn-primary">Confirmar</button>
                <!-- <button ng-click="deleteAlerta()" ng-model="deleteButton" class="btn-danger btn btn-primary">Excluir</button> -->
                <a class="btn close" data-dismiss="modal">Cancelar</a><!--href="#"-->
                <!-- <a href="#" class="btn btn-primary">Save changes</a> -->
            </div>
        </div>

        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <!-- Fim do modal de cadastro de novo usuário -->
    <!-- Exportação XLS -->

</div>


