<!-- performance da IN -->
<div id="pag-performance-in" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->
          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


           <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form">

              <div class="data-inicio input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
              <div class="hora-inicio input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

             <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>
          <!-- Filtro: data final -->
          <li style="padding-left:8px;">
            <form class="navbar-form">

              <div class="data-fim input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>

              <div class="hora-fim input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>


          <!--Filtro: aplicação -->
          <li style="padding-left: 8px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-aplicacao selectpicker span2" multiple="" title="Aplicações"></select>
             </div>
           </form>
          </li>

          <!-- Filtro: site -->
          <li style="padding-left:8px;">
             <form class="navbar-form">
                 <div class="input-append">
                     <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-site selectpicker span1_1" multiple="" title="Sites/POPs"></select>

                 </div>
              </form>

         </li>

          <!-- Filtro: segmento -->
          <li style="padding-left:8px;">
           <form class="navbar-form">
                        <!--<input type="button" class="selectpicker" value="X" />-->
                 <div class="input-append">
                        <!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
                     <!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" id="inputSeg" data-var="0"></input>-->
                     <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                     <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""> </select>
                 </div>
            </form>

          </li>
        <!-- Filtro: radios and buttom-->
        <li style="padding:5px; color:White;">
          <form class="navbar-form">
            <!-- <input type="radio" ng-model="filtros.perOrRes" value="performance" onclick="disable_cb()">Performance -->
            <!-- <input type="radio" ng-model="filtros.perOrRes" value="resumo" onclick="enable_cb()"> Resumo por DDD -->
            <!-- <input type="checkbox" ng-model="filtros.porDia" value="pordia" class="pordia" disabled> Exibir por dia -->
            <!--<tt>opcao = {{filtros.perOrRes | json}}</tt><br/>
            <tt>opcao2 = {{filtros.porDia | json}}</tt><br/>-->
            </form>

        </li>
      </ul>

          <!-- Botões -->
        <div style="margin-top:-18px; float:right; padding-right:48px;">
            <form class="navbar-form">
              <button class="btn btn-agora" data-loading-text="..." title="Recuperar hora atual">Agora</button>
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
              <button class="btn btn-gerar" data-loading-text="Carregando...">Carregar</button>
              <button class="btn btn-exportar" data-loading-text="Exportando..." disabled="">Exportar</button>
              <a id="blob" href="#" style="color:rgb(255, 255, 255, 0);" />↓</a>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">



    <div class="notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>


    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc"><!--{{status_progress_bar}}--></div>
    </div>

      <table class="table table-condensed table-striped table-hover performance" ng-show="dados.length != 0">
        <thead class="performancein">
          <tr class="colsAlign1">
            <th class="a"><a href="" ng-click="ordenacao = 'codigo'; decrescente = !decrescente">Código</a></th>
            <th class="b"><a href="" ng-click="ordenacao = 'respostaIN'; decrescente = !decrescente">Resposta IN</a></th>
            <th class="c"><a href="" ng-click="ordenacao = 'consulta'; decrescente = !decrescente">Consulta</a></th>
            <th class="d"><a href="" ng-click="ordenacao = 'elegivel'; decrescente = !decrescente">Elegível</a></th>                           <th class="e"><a href="" ng-click="ordenacao = 'garantia'; decrescente = !decrescente">Garantia</a></th>
            <th class="f"><a href="" ng-click="ordenacao = 'migracao'; decrescente = !decrescente">Migração</a></th>
            <th class="g"><a href="" ng-click="ordenacao = 'adesao'; decrescente = !decrescente">Adesão</a></th>
          </tr>
        </thead>
        <tbody><!-- infinite-scroll="exibeMaisRegistros()" infinite-scroll-distance='0'>-->
          <tr class="resumo colsAlign1" ng-repeat="dado in dados | limitTo:numRegistrosExibidos | orderBy:ordenacao:decrescente">
            <td class="a">{{dado.codigo}}</td>
            <td class="b">{{dado.respostaIN}}</td>
            <td class="c">{{dado.consulta | number}}</td>
            <td class="d">{{dado.elegivel | number}}</td>
            <td class="e">{{dado.garantia | number}}</td>
            <td class="f">{{dado.migracao | number}}</td>
            <td class="g">{{dado.adesao | number}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-condensed table-striped table-hover resumoDDD" ng-show="dados.length != 0">
        <thead class="performancein">
          <tr class="colsAlign1">
           <th class="ab"><a href="" ng-click="ordenacao = 'ddd'; decrescente = !decrescente">DDD</a></th>
            <th class="c"><a href="" ng-click="ordenacao = 'consulta'; decrescente = !decrescente">Consulta</a></th>
            <th class="d"><a href="" ng-click="ordenacao = 'elegivel'; decrescente = !decrescente">Elegível</a></th>
            <th class="e"><a href="" ng-click="ordenacao = 'garantia'; decrescente = !decrescente">Garantia</a></th>
            <th class="f"><a href="" ng-click="ordenacao = 'migracao'; decrescente = !decrescente">Migração</a></th>
            <th class="g"><a href="" ng-click="ordenacao = 'adesao'; decrescente = !decrescente">Adesão</a></th>
            <th class="h"><a href="" ng-click="ordenacao = 'total'; decrescente = !decrescente">Total</a></th>

          </tr>
        </thead>
        <tbody><!-- infinite-scroll="exibeMaisRegistros()" infinite-scroll-distance='0'>-->
          <tr class="resumo colsAlign1" ng-repeat="dado in dados | limitTo:numRegistrosExibidos | orderBy:ordenacao:decrescente">
            <td class="ab">{{dado.ddd}}</td>
            <td class="c">{{dado.consulta | number}}</td>
            <td class="d">{{dado.elegivel | number}}</td>
            <td class="e">{{dado.garantia | number}}</td>
            <td class="f">{{dado.migracao | number}}</td>
            <td class="g">{{dado.adesao | number}}</td>
            <td class="h">{{dado.total | number}}</td>

          </tr>
        </tbody>
      </table>

      <table class="table table-condensed table-striped table-hover resumoDDDdia" ng-show="dados.length != 0">
        <thead class="performancein">
          <tr class="colsAlign1">
           <th class="ab"><a href="" ng-click="ordenacao = 'ddd'; decrescente = !decrescente">DDD</a></th>
           <th class="bc"><a href="" ng-click="ordenacao = 'data'; decrescente = !decrescente">Data</a></th>
            <th class="c"><a href="" ng-click="ordenacao = 'consulta'; decrescente = !decrescente">Consulta</a></th>
            <th class="d"><a href="" ng-click="ordenacao = 'elegivel'; decrescente = !decrescente">Elegível</a></th>
            <th class="e"><a href="" ng-click="ordenacao = 'garantia'; decrescente = !decrescente">Garantia</a></th>
            <th class="f"><a href="" ng-click="ordenacao = 'migracao'; decrescente = !decrescente">Migração</a></th>
            <th class="g"><a href="" ng-click="ordenacao = 'adesao'; decrescente = !decrescente">Adesão</a></th>
            <th class="h"><a href="" ng-click="ordenacao = 'total'; decrescente = !decrescente">Total</a></th>

          </tr>
        </thead>
        <tbody infinite-scroll="exibeMaisRegistros()" infinite-scroll-distance='0'>
          <tr class="resumo colsAlign1" ng-repeat="dado in dados | limitTo:numRegistrosExibidos | orderBy:ordenacao:decrescente">
            <td class="ab">{{dado.ddd}}</td>
            <td class="bc">{{dado.data}}</td>
            <td class="c">{{dado.consulta | number}}</td>
            <td class="d">{{dado.elegivel | number}}</td>
            <td class="e">{{dado.garantia | number}}</td>
            <td class="f">{{dado.migracao | number}}</td>
            <td class="g">{{dado.adesao | number}}</td>
            <td class="h">{{dado.total | number}}</td>

          </tr>
        </tbody>
      </table>
      <br><br>
      <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>

    </div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>

<script>
    // dropdown hover
    $(document).ready(function() {

      //Alex exibir notificação 29/03/2014
      $('div.logoCliente').mouseover(function(){
           $('div.notification').fadeIn(500);
        });

       // Gilberto Ocultar a notificação 02/04/2014
       $('button.close').click(function () {
           $('div.notification').fadeOut(500);
       });

      $('.js-activated').dropdownHover().dropdown();

      $('.js-activated').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();
      });


      // GILBERTO 18/02/2014 - 11/03/2014

      // EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-inicio > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").show();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();

          // OCULTAR O CALENDÁRIO

          $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
              $(this).hide();

          });

          $("#topLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

          $("#bottomLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

      });

      //EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-fim > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").show();
      });
    });


  function enable_cb() {
    $(".pordia").removeAttr("disabled");
  }

  function disable_cb() {
    $(".pordia").attr("disabled", true);
  }

</script>


