<!-- Diretiva contendo estilização -->
<estilo-responsivo></estilo-responsivo>
<!-- Performance por DDD e último dígito -->
<div id="pag-performance-dddud" data-role="page" class="pag-container">
    

    

    <div class="menu-barra">

        <!-- Menu de aplicações -->
        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <!-- Filtros -->
            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-aplicacao></filtro-aplicacao>
            <filtro-segmento></filtro-segmento>
            <filtro-site></filtro-site>
            <filtro-uf></filtro-uf>
            <filtro-ddda></filtro-ddda>
            <filtro-ultimo-digito ng-show="umDigito"></filtro-ultimo-digito>
            <filtro-dois-digitos ng-show="!umDigito"></filtro-dois-digitos>
            <filtro-ops></filtro-ops>
            <filtro-ed></filtro-ed>
            <filtro-ic></filtro-ic>

            <div class="menu-botoes">

                <!-- Checkboxes -->
                <div class="menu-checkbox">
                    <chk-box-um-digito></chk-box-um-digito>
                    <chk-box-por-dia></chk-box-por-dia>
                    <chk-box-incluir-iit></chk-box-incluir-iit>
                    <chk-box-incluir-tlv></chk-box-incluir-tlv>
                </div>

                <!-- Botoes -->
                <btn-agr></btn-agr>
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                
                <btn-exportar-csv></btn-exportar-csv>
                <!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
            </div>

        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc">
                <!--{{status_progress_bar}}-->
            </div>
        </div>
        <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
        <!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });

    function relatorio() {
        $(".prompt").attr("disabled", true);
        $('#checkVendas').attr('disabled', 'disabled');
        $('#checkDia').removeAttr('disabled');
        document.getElementById('filtroed').style.visibility = 'hidden';
        document.getElementById('filtroic').style.visibility = 'hidden';
        $('#alinkApl').removeAttr('disabled');

        $(".filtro-aplicacao").attr('multiple', 'multiple');
    }

    function extrator() {
        $(".prompt").attr("disabled", false);
        $('#checkDia').attr('disabled', 'disabled');
        $('#checkVendas').removeAttr('disabled');
        document.getElementById('filtroed').style.visibility = 'visible';
        document.getElementById('filtroic').style.visibility = 'visible';
        $('#alinkApl').attr('disabled', 'disabled');

        $(".filtro-aplicacao").removeAttr('multiple');

        $(".filtro-ed").removeAttr('multiple');
        $(".filtro-ic").removeAttr('multiple');
    }
</script>