<style type="text/css">
   body{
		overflow: hidden !important;
	}
</style>
<!--Bruno 22/03/2017-->
<!-- Estalo analise-->
<div id="pag-pv" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente"><div class="versao">{{versao}}</div></div>
        <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
        <div class="navbar-inner">
            <div class="container" style="width:auto;">

                <ul class="nav">

                    <li lista-relatorios></li>
                    <li>
                        <form class="navbar-form">
                            <button href="#modal-pv" data-toggle="modal" class="btn btn-register" data-loading-text="...">Adicionar Produto Vendido</button>
                        </form>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="row-fluid">
                <div ui-grid="gridDados" ui-grid-selection ui-grid-exporter ui-grid-auto-resize ng-show="gridDados.length != 0"class="grid clearfix"></div>
            </div>
                <!--Começa form criar produto vendido-->
                <div id="modal-pv" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Adicionar Produto Vendido</h3>
                    </div>

                    <div class="alert alertBlock hide fade in registerAlert clearFix">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- <h5>Aviso!</h5> -->
                        <span class="registerAlertText" ng-bind="registerAlert"></span>
                    </div>

                    <form name="UserController" id="FormPV" class="form-horizontal navbar-form">

                        <div class="span6">
                            <div class="control-group">
                                <br>
                                <br>
                                <label class="control-label" for="CodProd">Código do Produto</label>
                                <div class="controls">
                                    <input name="codProd" id="codProd" class="input-large" ng-model="codProd" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="Desc">Descrição</label>
                                <div class="controls">
                                    <input name="desc" id="desc" class="input-large" ng-model="desc" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="GruProd">Grupo do Produto</label>
                                <div class="controls">
                                    <input name="gruProd" id="gruProd" class="input-large" ng-model="gruprod" type="text">
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button onclick="limparForm()" data-dismiss="modal" class="btn btn-danger" type="reset" data-loading-text="...">Cancelar</button>
                        <button ng-click="registraPV()" data-toggle="modal" class="btn btn-success" type="submit" data-loading-text="...">Salvar</button>
                    </div>
                </div>

                <!--Termina form criação de produtos vendidos-->
            <!--Começa form edição de produtos vendidos-->
            <div class="modal hide fade">

                <div id="modal-view" class="modal hide fade">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Edição de Produtos Vendidos</h3>
                    </div>
                    <div class="alert alertBlock hide fade in registerAlert clearFix">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- <h5>Aviso!</h5> -->
                        <span class="registerAlertText" ng-bind="registerAlert"></span>
                    </div>
                    <form name="UserController" id="FormECriaGra" class="form-horizontal navbar-form">
                        <div class="span6">
                            <div class="control-group">
                                <br>
                                <br>
                                <label class="control-label" for="CodProd">Código do Produto</label>
                                <div class="controls">
                                    <input name="editcodProd" id="editcodProd" class="input-medium" ng-model="editcodProd" placeholder="AAAA" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="desc">Descrição</label>
                                <div class="controls">
                                    <input name="editdesc" id="editdesc" class="input-medium" ng-model="editdesc" placeholder="21" type="text">
                                </div>
                                <br>
                                <label class="control-label" for="GrupProd">Grupo do Produto</label>
                                <div class="controls">
                                    <input id="editgruprod" name="editgruprod" class="input-medium" ng-model="editgruprod" placeholder="RJ" type="text">
                                </div>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button onclick="limparForm()" data-dismiss="modal" class="btn btn-danger" type="reset" data-loading-text="...">Cancelar</button>
                        <button ng-click="EdPV()" data-toggle="modal" class="btn btn-success" type="submit" data-loading-text="..." id="saveEdPV" name="saveEdPV">Salvar</button>
                    </div>
                </div>
                <!--Termina form edição produtos vendidos-->

            </div>
        </div>
        <script>
            function limparForm() {
                document.getElementById("FormPV").reset();
            }
        </script>


        <div class="notification">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>


    <script>
        // dropdown hover
        $(document).ready(function () {

            //Alex exibir notificação 29/03/2014
            $('div.logoCliente').mouseover(function () {
                $('div.notification').fadeIn(500);
            });

            // Gilberto Ocultar a notificação 02/04/2014
            $('button.close').click(function () {
                $('div.notification').fadeOut(500);
            });

            $('.js-activated').dropdownHover().dropdown();

            $('.js-activated').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
            });


            // GILBERTO 18/02/2014 - 11/03/2014

            // EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.datahora-inicio > span.add-on').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                // OCULTAR O CALENDÁRIO

                $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                    $(this).hide();

                });

                $("#topLine").mouseover(function () {
                    $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                });

                $("#bottomLine").mouseover(function () {
                    $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                    $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

                });

            });

            //EXIBIR CALENDARIO AO PASSAR O MOUSE
            $('div.datahora-fim > span.add-on').mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").show();
            });
        });
    </script>
