<estilo-responsivo></estilo-responsivo>
<!-- Resumo Frases TU -->
<div id="pag-resumo-frases-tu" data-role="page" class="pag-container">

  <div class="menu-barra">

    <!-- Menu de aplicações -->
    <div class="menu-aplicacoes">
      <lista-relatorios></lista-relatorios>
    </div>

    <div class="menu-filtros">

      <!-- Filtros -->
      <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
      <filtro-data-final-com-hora></filtro-data-final-com-hora>
      <filtro-empresas></filtro-empresas>
      <filtro-produtostu></filtro-produtostu>

      <div class="menu-botoes">

        <!-- Checkboxes
        <div class="menu-checkbox">
          <chk-box-por-dia></chk-box-por-dia>
        </div> -->

        <!-- Botoes -->
        <!-- <btn-agr></btn-agr> -->
        <btn-limpar></btn-limpar>
        <btn-gerar-relatorio></btn-gerar-relatorio>
        <btn-exportar-csv></btn-exportar-csv>

      </div>

    </div>

    <div class="menu-versao">
      {{versao}}
    </div>

  </div>

  <div class="grid-container dados">
    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc">
        <!--{{status_progress_bar}}-->
      </div>
    </div>
    <div ng-grid="gridDados" class="grid grid-dados" ng-show="dados.length != 0"></div>
    <!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
    <!-- Exportação XLS -->
    <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
  </div>

  <div class="grid-container dados-totais">
    <div ng-if="carregandoDadosTotais && dados.length != 0">
      <h5>Carregando Dados Totais...</h5>
    </div>   
    <div ng-grid="gridDadosTotais" class="grid" ng-if="!carregandoDadosTotais && dadosTotais.length != 0 && dados.length != 0"></div>
    <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
  </div>

  <div class="alert-container">
    <div class="notification" style="width: 100% !important">
      <div class="alert alert-info">
        <button type="button" class="close">&times;</button>
        <span ng-bind-html='info_status'></span>
      </div>
    </div>
  </div>
</div>


<!-- MODAL DE DETALHAMENTO -->
<div id="modal-detalhamento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="z-index:3100">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×</button>
    <h3 id="myModalLabel">Detalhamento Frases TU</h3>
    <span><small>Assunto:
        <strong>{{modalAssuntoAtual.indexOf(",") == -1 ? modalAssuntoAtual : 'Todos'}}</strong></small></span><br>
    <span ng-show="numRegistrosDetalhados"><small>Total de resultados:
        <strong>{{numRegistrosDetalhados}}</strong></small></span>
    <div class="menu-botoes" ng-if="!carregandoDetalhados && dadosDetalhados.length != 0">
      <button class="btn-exportar-excel-detalhado" ng-click="exportaXLSXDetalhado($event)">Exportar Excel</button>
      <button class="btn-exportar-csv-detalhado" ng-click="exportaCSVDetalhado($event)">Exportar CSV</button>
    </div>
  </div>

  <div class="modal-body">
    <div ng-if="carregandoDetalhados">
      <h5>Carregando...</h5>
    </div>
    <div ng-if="!carregandoDetalhados && dadosDetalhados.length == 0">
      <h5>Não há dados</h5>
    </div>
    <div ng-grid="gridDadosDetalhados" class="grid modal-grid"
      ng-if="!carregandoDetalhados && dadosDetalhados.length != 0"></div>
  </div>
</div>

<!-- FIM MODAL DE DETALHAMENTO -->


<script>
  // dropdown hover
  $(document).ready(function () {

    //Alex exibir notificação 29/03/2014
    $('div.logoCliente').mouseover(function () {
      $('div.notification').fadeIn(500);
    });

    // Gilberto Ocultar a notificação 02/04/2014
    $('button.close').click(function () {
      $('div.notification').fadeOut(500);
    });

    $('.js-activated').dropdownHover().dropdown();

    $('.js-activated').mouseover(function () {
      $("div.data-inicio.input-append.date").data("datetimepicker").hide();
      $("div.data-fim.input-append.date").data("datetimepicker").hide();
    });


    // GILBERTO 18/02/2014 - 11/03/2014

    // EXIBIR CALENDARIO AO PASSAR O MOUSE
    $('div.data-inicio > span.add-on').mouseover(function () {
      $("div.data-inicio.input-append.date").data("datetimepicker").show();
      $("div.data-fim.input-append.date").data("datetimepicker").hide();

      // OCULTAR O CALENDÁRIO

      $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
        $(this).hide();

      });

      $("#topLine").mouseover(function () {
        $("div.data-inicio.input-append.date").data("datetimepicker").hide();
        $("div.data-fim.input-append.date").data("datetimepicker").hide();

      });

      $("#bottomLine").mouseover(function () {
        $("div.data-inicio.input-append.date").data("datetimepicker").hide();
        $("div.data-fim.input-append.date").data("datetimepicker").hide();

      });

    });

    //EXIBIR CALENDARIO AO PASSAR O MOUSE
    $('div.data-fim > span.add-on').mouseover(function () {
      $("div.data-inicio.input-append.date").data("datetimepicker").hide();
      $("div.data-fim.input-append.date").data("datetimepicker").show();
    });

  });
</script>