<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Item de Controle -->
<div id="pag-resumo-ic" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-site></filtro-site>
			<filtro-segmento></filtro-segmento>
			<filtro-regioes></filtro-regioes>
			<filtro-ddds></filtro-ddds>
			<filtro-empresas></filtro-empresas>

			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<chk-box-incluir-iit></chk-box-incluir-iit>
					<chk-box-incluir-tlv></chk-box-incluir-tlv>
				</div>

				<!-- Botoes -->
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->

				<!--<btn-exportar-csv></btn-exportar-csv>-->
				<btn-exportar-csv-interface></btn-exportar-csv-interface>
				<btn-ajuda ng-init="link=4"></btn-ajuda>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<!-- <div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				{{status_progress_bar}}
			</div>
		</div> -->
		<!-- <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div> -->
		<div ag-grid="gridDados" class="ag-theme-balham" style="height: 500px;"></div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>


<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		//Oculta msg de datas nas aplicações
		$('button.btn-gerar').click(function () {
			//document.getElementById("infoDt").style.display = "none";
		});

		$('.js-activated').dropdownHover().dropdown();
	});
</script>