<!-- Resumo de Tempos Legado -->
<div id="pag-resumo-legado" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


          <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form">

              <div class="data-inicio input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
              <div class="hora-inicio input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>
             <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>
          <!-- Filtro: data final -->
          <li style="padding-left:5px;">
            <form class="navbar-form">

              <div class="data-fim input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>

              <div class="hora-fim input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

          </ul>


          <!--li class="divider-vertical"></li
          <li style="padding-left:8px;">
            <select class="filtro-regiao selectpicker span1_2" multiple="" title="RegiÃµes"></select>
          </li>-->

          <ul class="nav aba1">
              <!-- Filtro: aplicação -->
              <li style="padding-left:0px;">
                 <form class="navbar-form">
                     <div class="datahora-fim input-append date">
                         <a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                         <select class="filtro-aplicacao selectpicker span1_3" multiple="" title="Aplicações"></select>
                     </div>
                  </form>
              </li>

              <!-- Filtro: segmento -->
              <li style="padding-left: 5px;">
                  <form class="navbar-form">
                      <div class="input-append">
                          <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                          <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""></select>
                      </div>
                  </form>
              </li>
         </ul>



        <ul class="nav aba3">
          <!-- Filtro: legados -->
          <li style="padding-left:0px;">
             <form class="navbar-form">
                 <div class="datahora-fim input-append date">
                     <a class="btn btn-small checkAll2" id="alinkProd" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-legado selectpicker span1_3" multiple="" title="Variáveis"></select>

                 </div>
              </form>
         </li>


          </ul>

          <ul class="nav aba5">
              <li style="padding-left:0px; margin-top:3px;color:white">
                  <form class="navbar-form">


                    <input id="chkDia" type="checkbox" ng-model="porDia" title="Agrupar por Dia"> Dia</input>

                  </form>
               </li>

          </ul>



        <ul class="nav botoes">

          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-agora" data-loading-text="Hora atual..." title="Recuperar hora atual">Agora</button>
              </form>
            </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="Limpando filtros..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
              </form>
            </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="Carregando..." title="Carregar">Carregar<!--<div class="icon-large icon-filter"></div>--></button>
              </form>
            </li>
            <li style="padding-left: 5px;">
                <form class="navbar-form">
                    <button class="btn btn-exportar" data-loading-text="Exportando..." title="Exportar" disabled="">Exportar<!--<div class="icon-large icon-list"></div>--></button>
                </form>
            </li>

          </ul>

      </div>

    </div>
  </div>

   <div class="container-fluid">
        <div class="row-fluid">

    <div class="notification">
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>

    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc"><!--{{status_progress_bar}}--></div>
    </div>

    <div ng-grid="gridDados" id="grid" class ="grid"></div>


  </div>
    <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
  </div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });
  </script>
