<estilo-responsivo></estilo-responsivo>
<!-- Ura Ativa -->
<div id="pag-resumo-transferencia-por-tag" data-role="page" class="pag-container">
	
	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-site></filtro-site>
			<filtro-segmento></filtro-segmento>
			<filtro-ddds></filtro-ddds>

			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<chk-box-por-dia></chk-box-por-dia>
				</div>

				<!-- Botoes -->
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				<btn-exportar-relatorio></btn-exportar-relatorio>
				<!-- <btn-exportar-csv></btn-exportar-csv> -->
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div class="row" ng-show='QtdChamadasTotal>0' style="text-align: center;">
			<div class="well" ng-show='QtdChamadasTotal>0' style="min-height: 35px;margin: 0px 20px 20px 20px;">
				<div class="span3" style="position: relative;bottom: 3px;">
					<span class="label"> Chamadas</span>
					<br>
					<strong style="font-size: 21px;position: relative;top: 4px;">{{QtdChamadasTotal}}</strong>
				</div>
				<div class="span3" style="position: relative;bottom: 3px;">
					<span class="label"> Não atendidas</span>
					<br>
					<strong style="font-size: 21px;position: relative;top: 4px;">{{naoDerivadas}}%</strong>
				</div>
				<div class="span3" style="position: relative;bottom: 3px;">
					<span class="label"> Com uma operação</span>
					<br>
					<strong style="font-size: 21px;position: relative;top: 4px;">{{Derivadas}}%</strong>
				</div>
				<div class="span3" style="position: relative;bottom: 3px;">
					<span class="label"> Com duas ou mais operações</span>
					<br>
					<strong style="font-size: 21px;position: relative;top: 4px;">{{Transferidas}}%</strong>
				</div>
			</div>
		</div>

		<!-- <div ui-grid="gridDados" class="grid" ui-grid-resize-columns ui-grid-pinning ui-grid-exporter ui-grid-selection ui-grid-grouping></div> -->
		<div ag-grid="gridOptions" class="ag-theme-fresh" style="height:520px;"></div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>

<script>
	// dropdown hover
	$(document).ready(function () {
		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});
		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});
		$('.js-activated').dropdownHover().dropdown();
	});
</script>