<estilo-responsivo></estilo-responsivo>
<!--Resumo por falhas na URA-->
<div id="pag-resumo-falhas" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-falhas></filtro-falhas>
			<filtro-site></filtro-site>
			<filtro-segmento></filtro-segmento>
			<div class="hora-inicio input-append" style="margin-left: -3px;visibility:hidden">
				<input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off" />
				<span class="add-on">
					<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				</span>
			</div>

			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
				</div>

				<!-- Botoes -->
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				
				<!-- <btn-exportar-csv></btn-exportar-csv> -->
				<btn-exportar-csv></btn-exportar-csv>
				<btn-ajuda ng-init="link=2"></btn-ajuda>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>

<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

		$('.js-activated').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();
		});


		// GILBERTO 18/02/2014 - 11/03/2014

		// EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-inicio > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").show();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();

			// OCULTAR O CALENDÁRIO

			$("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
				$(this).hide();

			});

			$("#topLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();

			});

			$("#bottomLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();

			});

		});

		//EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-fim > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").show();
		});

	});
</script>