<!-- Resumo Erros Pre Routing -->
<div id="pag-resumo-ErrosPreRouting" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

               
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 

		   	
           <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form">
              <div class="data-inicio input-append date">
                <input id ="dtIni" type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy" autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
              <div class="hora-inicio input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

             <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>
          <!-- Filtro: data final -->
          <li style="padding-left:8px;">
            <form class="navbar-form" >

              <div class="data-fim input-append date">
                <input id="dtFim"  type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>

              <div class="hora-fim input-append" style="margin-left:-3px;">
                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off"  />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

          </ul>

          <ul class="nav aba1">
          
		  <!--Filtro: aplicação -->
          <li style="padding-left: 0px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-aplicacao selectpicker span2" multiple="" title="Aplicações"></select>
             </div>
           </form>
          </li>
		  
		   <li style="padding-left:8px;">

             <form class="navbar-form">

                 <div class="input-append">
             
                     <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-site selectpicker span1_1" multiple="" title="Sites/POPs"></select>

                 </div>
              </form>

            </li>

      
          <!-- Filtro: segmento -->
          <li style="padding-left:8px;">
           <form class="navbar-form">
                     
                 <div class="input-append">
                     <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                     <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""> </select>
                 </div>
            </form>

          </li>
		  
		   <!-- Filtro: coderros -->
          <li style="padding-left:8px;">
           <form class="navbar-form">

                 <div class="input-append">

                     <a class="btn btn-small checkAll2" id="alinkErro" data-var="0" title="Clique para marcar todos" ><i class="icon-ok"></i></a>
                     <select class="filtro-errosRouting selectpicker span1_3" multiple="" title="CodErros" > </select>
                 </div>
            </form>

          </li>
		 


        </ul>

                    

        <ul class="nav botoes" style="position:fixed; left:53px; right:auto; margin-top:35px;">
		    <!--Checkbox por erro-->
			   <li style="padding-left: 8px; padding-right: 0px; " >
					<form class="navbar-form">
						<div class="checkbox navbar-btn filtro-check">
							 <input type="checkbox" id="porerro" ng-model="filtros.porErro" value="porerro" class="pordia"> Por Erro
						 </div>
					</form>
				</li>
			  
			  <!--Checkbox por dia-->
			  <li style="padding-left:0px; margin-top:3px;margin-left:6px">
				<form class="navbar-form">

					<input type="radio" id ="porMes" name="pordia" ng-model="filtros.mes" value="mes"><span class = "pordia">Mês</span>
					<input type="radio" id ="porDia" name="pordia" ng-model="filtros.dia"  value="dia" ng-checked="true"><span class = "pordia">Dia</span>
					<input type="radio" id ="porHora" name="pordia" ng-model="filtros.hora" value="hora"><span class = "pordia">Hora</span>
				</form>
			  </li>	
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-agora" data-loading-text="Hora atual..." title="Recuperar hora atual">Agora</button>
            </form>
          </li>


          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
            </form>
          </li>
          <!--<li style="padding-left: 5px;">
            <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button>
          </li>-->
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <!-- ng-click="listaChamadas()" -->
              <button class="btn btn-exportar" data-loading-text="..." disabled="">
                Exportar</button>
            </form>
          </li>
        </ul>



      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

    <div class = "notification">
        <div class="alert alert-info">
         <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
    </div>

    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc"><!--{{status_progress_bar}}--></div>
    </div>

      <div ng-grid="gridDados" class="grid" ng-if="dados.length != 0"></div>

      <div class="downhover" ng-show="dados.length > numRegistrosExibidos">
    </div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>

<script>
    // dropdown hover
    $(document).ready(function() {

      //Alex exibir notificação 29/03/2014
      $('div.logoCliente').mouseover(function(){
           $('div.notification').fadeIn(500);
        });

       // Gilberto Ocultar a notificação 02/04/2014
       $('button.close').click(function () {
           $('div.notification').fadeOut(500);
       });

      $('.js-activated').dropdownHover().dropdown();

      $('.js-activated').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();
      });


      // GILBERTO 18/02/2014 - 11/03/2014

      // EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-inicio > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").show();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();
			
          // OCULTAR O CALENDÁRIO

          $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
              $(this).hide();

          });

          $("#topLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

          $("#bottomLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

      });

      //EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-fim > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").show();
      });

    });
</script>


