<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Estado de Diálogo -->
<div id="pag-resumo-tag" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-segmento></filtro-segmento>
			<filtro-regioes></filtro-regioes>
			<filtro-ddds></filtro-ddds>
			<filtro-site></filtro-site>
			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<!-- <chk-box-eds-zerados></chk-box-eds-zerados> -->
					<chk-box-tag></chk-box-tag>
					<chk-box-incluir-iit></chk-box-incluir-iit>
					<chk-box-incluir-tlv></chk-box-incluir-tlv>
					
				</div>

				<!-- Botoes -->
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				
				<!-- <btn-exportar-csv></btn-exportar-csv> -->
				<btn-exportar-csv></btn-exportar-csv>
				<btn-ajuda ng-init="link=2"></btn-ajuda>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>

	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ng-grid="gridDados" id="grid" class="grid" ng-show="dados.length != 0"></div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>

<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

	});
</script>