<!-- Resumo de transferências por transferID e operação 1 -->
<div id="pag-resumo-transf-transferid-oper1" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="logoCliente"><div class="versao">{{versao}}</div></div>

    <!-- para ocultar o calendário -->
    <div class="topLine" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0;"></div>

    <div class="navbar-inner" style="height: 70px;">
      <div class="container" style="width: auto;">
        <ul class="nav">
            
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


          <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form">
              <div class="datahora-inicio input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

          <!-- para ocultar o calendário -->
          <div class="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0; padding: 0;"></div>

          <!-- Filtro: data final -->
          <li style="padding-left: 8px;">
            <form class="navbar-form">
              <div class="datahora-fim input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>
        </ul>

        <ul class="nav aba1">
          <!-- Filtro: aplicação -->
          <li style="padding-left: 0;">
            <form class="navbar-form">
              <div class="input-append">
                <a class="btn btn-small checkAll2 alinkApl" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro filtro-aplicacao selectpicker span2" multiple="" title="Aplicações"></select>
              </div>
            </form>
          </li>
		  
		  <!-- Filtro: site -->
          <li style="padding-left:8px;">
             <form class="navbar-form">
                 <div class="input-append">
                     <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro filtro-site selectpicker span1_1" multiple="" title="Sites/POPs"></select>

                 </div>
              </form>
          </li>

          <!-- Filtro: segmento -->
          <li style="padding-left: 8px;">
            <form class="navbar-form">
              <div class="input-append">
                <!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
                <!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" class="inputSeg" data-var="0"></input>-->
                <a class="btn btn-small checkAll2 alinkSeg" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                <select class="filtro filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""></select>
              </div>
            </form>
          </li>
          
          
          
          	<!-- Filtro: segmento -->
					<!-- <li style="padding-left: 10px;"> -->
						<!-- <form class="navbar-form"> -->
							<!--<input type="button" class="selectpicker" value="X" />-->
							<!-- <div class="input-append"> -->
								<!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
								<!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" id="inputSeg" data-var="0"></input>-->
								<!-- <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a> -->
								<!-- <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""></select> -->
							<!-- </div> -->
						<!-- </form> -->
					<!-- </li> -->
          
          
          

          <!-- Filtro: transferID -->
          <li style="padding-left: 8px;">
            <form class="navbar-form">
              <div class="input-append">
                <a class="btn btn-small checkAll2 alinkTid" id="alinkTid" data-var="0" title="Clique para marcar todos" disabled><i class="icon-ok"></i></a>
                <select class="filtro filtro-transferid selectpicker span1_3" multiple="" title="TransferIDs"></select>
              </div>
            </form>
          </li>
		  
		  </ul>
		  
		  <ul class="nav aba2">
		  
		   <!--Filtro: regioes -->
                    <li style="padding-left:0px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkReg" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-regiao selectpicker span1_2" multiple="" title="Regiões"></select>
                            </div>
                        </form>
                    </li>
					
		
					
					   <!-- Filtro: ddd -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <a class="btn btn-small checkAll2" id="alinkDDD" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-ddd selectpicker span1_2" multiple="" title="DDDs"></select>
                            </div>
                        </form>
                    </li>
					
		
					<!-- Filtro: resultados -->
					<li style="padding-left: 8px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkRes" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-resultado selectpicker span2" multiple="" title="Resultados"></select>
                            </div>
                        </form>
                    </li>
					
					<li style="padding-left: 5px; margin-top:1px;">
            <form class="navbar-form">
              <div class="checkbox navbar-btn filtro-check">
                <input type="checkbox" ng-model="filtros.porDia" class="por-dia">Por dia
              </div>
            </form>
          </li>

          <li style="padding-left: 5px; margin-top:1px;">
            <form class="navbar-form">
              <div class="checkbox navbar-btn filtro-check">
                <input type="checkbox" ng-model="filtros.porOper2" class="por-oper2">Por operação 2
              </div>
            </form>
          </li>	
		  
					

      </ul>
        

        <!--ul class="nav botoes" style="position: fixed; left: 53px; right: auto; margin-top: 35px;"-->
        <ul class="nav botoes" style="position: fixed; left: auto; right: 25px; margin-top: 35px;">
		      
		  
		  
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-exportar" data-loading-text="..." disabled="">Exportar</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class = "notification">
        <div class="alert alert-info">
          <button type="button" class="close">&times;</button>
          <span ng-bind-html='info_status'></span>
        </div>
      </div>
      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc"><!--{{status_progress_bar}}--></div>
      </div>
      
   
      
    <!-- <div ui-grid="gridOptions" class="grid" ui-grid-pinning style="width: 100%; max-height: 500px; top: 0; bottom: 42px;"></div> -->


<div ui-grid="gridDados"  style="width: 100%; height : 550px; top: 0; bottom: 42px; padding-top : 80px" ng-if="gridDados.data.length>0"  ui-grid-resize-columns ui-grid-pinning ui-grid-exporter ui-grid-selection></div>

      
      <!-- <div class="grid-dados" style="margin-top: 80px; width: 100%; min-height: 400px; top: 0; bottom: 42px;" ng-show="dados.length != 0"> -->
        <!-- <table class="table table-header-rotated"> -->
          <!-- <thead> -->
            <!-- <tr> -->
              <!-- <th ng-show="listarPorData"><span>Data</span></th> -->
              <!-- <th><span>TransferID</span></th> -->
              <!-- <th><span>Operação 1</span></th> -->
              <!-- <th class="rotate" style="width:40px;"><span>Qtd Operação 1</span></th> -->
              <!-- <th class="rotate" style="width:40px;"><span>Qtd Operação 2</span></th> -->
              <!-- <th class="rotate" style="width:40px;"><span>% Transferências</span></th> -->
              <!-- <th class="rotate" ng-show="listarPorDestino" ng-repeat="col in extra" style="width:40px;"><span>{{col}}</span></th> -->
            <!-- </tr> -->
          <!-- </thead> -->
          <!-- <tbody> -->
            <!-- <tr ng-repeat="d in dados"> -->
              <!-- <td ng-show="listarPorData">{{d.datahoraBR}}</td> -->
              <!-- <td>{{d.transferID}}</td> -->
              <!-- <td>{{d.operacao1}}</td> -->
              <!-- <td style="width:40px;">{{d.qtdOper1}}</td> -->
              <!-- <td style="width:40px;">{{d.qtdOper2}}</td> -->
              <!-- <td style="width:40px;">{{d.percentTransf}}</td> -->
              <!-- <td ng-if="listarPorDestino" ng-repeat="col in extra" style="width:40px;">{{d["qtdOper2_" + col]}}</td> -->
            <!-- </tr> -->
          <!-- </tbody> -->
        <!-- </table> -->
      <!-- </div> -->
      
    </div>

    <!-- Exportação para XLSX -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
  </div>
</div>
<script>$('.js-activated').dropdownHover().dropdown();</script>
