<!-- Resumo por Item de Controle -->
<div id="pag-resumo-tabs" data-role="page">
<!-- INICIO TABS -->
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="row-fluid" style="padding-top: 10px;">
            <div class="span1" style="text-align: left;padding-top: 10px;">
                <ul class="nav">
                    <li lista-relatorios></li>
                </ul>
            </div>
            <div class="span8" style="    padding-top: 5px;">
                <ul id="myTab" class="nav nav-tabs" style="text-align : center;">
                    <li class="active" style="width: 170.75px;"><a href="#periodo" target="_self" data-toggle="tab"><i class="icon-calendar"></i> Período</a>
                    </li>
                    <li class="" style="width: 170.75px;"><a href="#geral" target="_self" data-toggle="tab"><i class="icon-star"></i> Geral</a>
                    </li>
                    <li class="" style="width: 170.75px;"><a href="#EDsICs" target="_self" data-toggle="tab"><i class="icon-flag"></i> EDs e ICs</a>
                    </li>
                    <li class="" style="width: 170.75px;"><a href="#clientes" target="_self" data-toggle="tab"><i class="icon-user"></i> Clientes</a>
                    </li>
                    <li class="" style="width: 170.75px;"><a href="#avancado" target="_self" data-toggle="tab"><i class="icon-asterisk"></i> Avançado</a>
                    </li>
                </ul>
            </div>
            <div class="span3" style="text-align: right; padding-right: 10px;">
                <btn-botoes></btn-botoes>
            </div>
            <div class="row-fluid" style="padding-top: 10px;">
                <div class="span1"></div>
                <div class="span10" style="max-height: 45px;min-height: 45px;">
                    <div id="TabContent" class="tab-content" style="overflow: visible;">
                        <div class="tab-pane active" id="periodo">
                            <ul class="nav">
                                <filtro-data-inicial></filtro-data-inicial>
                                <filtro-data-final></filtro-data-final>
                            </ul>
                        </div>
                        <div class="tab-pane" id="geral">
                            <!-- TODO BOTOES GERAL -->
                        </div>
                        <div class="tab-pane" id="EDsICs">
                            <ul class="nav">
                                <!-- EDS E ICS -->
                          <li filtro-itens-de-controle style="padding-left:8px;"></li>
                          <li filtro-estado-dialogo style="padding-left:8px;"></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="clientes">
                            <ul class="nav">
                                <li filtro-site style="padding-left:8px;"></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="avancado">
                            <ul class="nav">
                                <li filtro-segmento style="padding-left : 8px;"></li>
                                <li filtro-regioes style="padding-left : 8px;"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span1"></div>
            </div>
        </div>
    </div>
</div>
<!-- FIM TABS -->
  <div class="container-fluid">
    <div class="row-fluid">

    <div dir-notification class="notification"></div>
    
    <!-- <div class = "notification" style="z-index:2;"> -->
        <!-- <div class="alert alert-info"> -->
         <!-- <button type="button" class="close">&times;</button> -->
            <!-- <span ng-bind-html='info_status'></span> -->
        <!-- </div> -->
    <!-- </div> -->

    <div class="ampulheta">
      <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
      <div class="perc"><!--{{status_progress_bar}}--></div>
    </div>

 <!-- <div class="row" ng-show='QtdChamadasTotal>0' style=" -->
    <!-- text-align: center; -->
<!-- "> -->
<!-- <div class="well" ng-show='QtdChamadasTotal>0' style="min-height: 35px;margin: 0px 20px 20px 20px;"> -->

    <!-- <div class="span3" style="position: relative; -->
<!-- bottom: 3px;"> <span class="label"> Chamadas</span><br><strong style="font-size: 21px;position: relative;top: 4px;" >{{QtdChamadasTotal}} </strong> -->
   <!-- </div> -->
    <!-- <div class="span3" style="position: relative; -->
<!-- bottom: 3px;"> <span class="label"> Não atendidas</span><br><strong style="font-size: 21px;position: relative;top: 4px;">{{naoDerivadas}}%</strong> -->
   <!-- </div> -->
   <!-- <div class="span3" style="position: relative; -->
<!-- bottom: 3px;"> <span class="label"> Com uma operação</span> <br><strong style="font-size: 21px;position: relative;top: 4px;" >{{Derivadas}}%  </strong> -->
   <!-- </div>   -->
   <!-- <div class="span3" style="position: relative; -->
<!-- bottom: 3px;">  <span class="label"> Com duas ou mais operações</span> <br><strong style="font-size: 21px;position: relative;top: 4px;">{{Transferidas}}% </strong> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

      <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>


      <div class="downhover" ng-show="dados.length > numRegistrosExibidos">
    </div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>

<script>
    // dropdown hover
    $(document).ready(function() {

      //Alex exibir notificação 29/03/2014
      $('div.logoCliente').mouseover(function(){
           $('div.notification').fadeIn(500);
        });

       // Gilberto Ocultar a notificação 02/04/2014
       $('button.close').click(function () {
           $('div.notification').fadeOut(500);
       });

      <!-- $('.js-activated').dropdownHover().dropdown(); -->

      $('.js-activated').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();
      });


      // GILBERTO 18/02/2014 - 11/03/2014

      // EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-inicio > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").show();
          $("div.data-fim.input-append.date").data("datetimepicker").hide();

          // OCULTAR O CALENDÁRIO

          $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
              $(this).hide();

          });

          $("#topLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

          $("#bottomLine").mouseover(function () {
              $("div.data-inicio.input-append.date").data("datetimepicker").hide();
              $("div.data-fim.input-append.date").data("datetimepicker").hide();

          });

      });

      //EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.data-fim > span.add-on').mouseover(function () {
          $("div.data-inicio.input-append.date").data("datetimepicker").hide();
          $("div.data-fim.input-append.date").data("datetimepicker").show();
      });

       //{PROJETO TABS
    $('#myTab a').mouseenter(function () {
  $(this).tab('show');
});
var tabResolucaoTemp = ((window.innerWidth/1.65)/5);
$(".nav-tabs li").css("width",tabResolucaoTemp);
$("#myTab li:last-child a").tab('show');
$("#myTab li:first-child a").tab('show');
$(".nav-tabs li a").hover(function() {
$("select").selectpicker('refresh');
  <!-- $(this).css("background-color","#e6e6e6;"); -->
});
var tempReso = $(".row-fluid").outerHeight() + 20;
$('.grid').css("margin-top",tempReso);
$( window ).resize(function() {
var tempReso = $(".row-fluid").outerHeight() + 20;
 $('.grid').css("margin-top",tempReso);
});
//}

});



