<!--Resumo 880x144 -->
<!--data role: -->
<estilo-responsivo></estilo-responsivo>
<div id="pag-resumo-880x144" data-role="page" class="pag-container">
    <div class="menu-barra">

        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-regioes></filtro-regioes>
            <filtro-segmento></filtro-segmento>
            <filtro-ddds></filtro-ddds>
            <filtro-digito-final></filtro-digito-final>
            <filtro-intervalo-minutos class="input-number" ></filtro-intervalo-minutos>

            

            <div class="menu-botoes">
                <div class="menu-checkbox">
                    <chk-box-por-dia></chk-box-por-dia>
                    <chk-box-tres-mil></chk-box-tres-mil>
                    <chk-box-oito-oito></chk-box-oito-oito>
                </div>
                <btn-agr></btn-agr>
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                
                <btn-exportar-csv></btn-exportar-csv>
                <!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
            </div>

        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc">
                <!--{{status_progress_bar}}-->
            </div>
        </div>
        <div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>

    <!-- <div class="container-fluid">
            <div class="row-fluid">
    
    
                <div class="notification">
                    <div class="alert alert-info">
                        <button type="button" class="close">&times;</button>
                        <span ng-bind-html='info_status'></span>
                    </div>
                </div>
    
                <div class="ampulheta">
                    <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                    <div class="perc">
                        @{{status_progress_bar}}
                    </div>
                </div>
    
                <div ng-grid="gridDados" id="grid" class="grid" ng-show="dados.length != 0"></div>
    
                <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>
            </div>
            @Exportação XLS
            <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
        </div> -->
</div>
<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });


        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });
</script>