<!-- Resumo RACO -->
<div id="pag-resumo-raco" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>
        <!-- Linha Superior para esconder o calendário chato-->
        <div id="Div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>

        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <!--a class="brand" href="#">Estalo</a-->
                <ul class="nav">
                    <!--li><a href="#/">Menu</a></li-->

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


                    <!-- Filtro: data inicial -->
                    <li>
                        <form class="navbar-form" style="padding-right: 5px">
                            <div class="datahora-inicio input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>

                    <!-- Filtro: data final -->
                    <li>
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>
                  </ul>

              <ul class="nav aba1">

                    <!--Filtro: aplicação -->
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-aplicacao selectpicker span3" multiple="" title="Aplicações"></select>
                            </div>
                        </form>
                    </li>
                </ul>

              <ul class="nav aba2">

                    <!-- Filtro: site -->
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-site selectpicker span2" multiple="" title="Sites/POPs"></select>

                            </div>
                        </form>

                    </li>

                    <!-- Filtro: segmento -->
                    <li style="padding-left: 5px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                                <select class="filtro-segmento selectpicker span2" multiple="" title="Segmentos" disabled=""></select>
                            </div>
                        </form>

                    </li>

            




                <ul class="nav aba3">
                  <!-- Chamadas iit -->
                  <li style="padding-left: 5px; margin-top:5px;">
                    <div class="checkbox navbar-btn filtro-check">
                      <input type="checkbox" id ="iit"  value="iit" ng-model="iit" title="Incluir chamadas IIT">IIT</input>
                  </div>
                  </li>



                </ul>

                 
                    <!-- Fechar o calendario-->
                    <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
                    </form>

          <!-- alternando menus -->
        <!--<ul class="nav aba0" style="margin-top: -2px; float: right; margin-right: 53px; margin-left: -14px;">
        <a class="icon-chevron-left" id="alinkAnt" style="background-color:white;"></a>
        </ul>

        <ul class="nav abaX" style="margin-top: 19px; margin-right: 0px; margin-left: -24px; float: right;">
        <a class="icon-chevron-right" id="alinkPro" style="background-color:white;"></a>
        </ul>-->

        <ul class="nav botoes">
          <!-- <li style="padding-left: 5px;"> -->
            <!-- <form class="navbar-form"> -->
              <!-- <button class="btn btn-agora" data-loading-text="..." title="Recuperar hora atual">Agora</button> -->
            <!-- </form> -->
          <!-- </li> -->
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <!-- ng-click="listaChamadas()" -->
              <button class="btn btn-exportar" data-loading-text="..." disabled="">
                Exportar</button>
            </form>
          </li>

        </ul>

          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>

            <div class="ampulheta">
                <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
                <div class="perc">
                    <!--{{status_progress_bar}}-->
                </div>
            </div>

            <div ng-grid="gridDados" class ="grid" ng-show="dados.length > 1"></div>

        </div>
    </div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>


<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });

        //Oculta msg de datas nas aplicações
        $('button.btn-gerar').click(function () {
            //document.getElementById("infoDt").style.display = "none";
        });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
        });

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-inicio > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
            $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
                $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.datahora-fim > span.add-on').mouseover(function () {
            $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
            $("div.datahora-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>






