<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/graph.css">
<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/detail.css">
<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/legend.css">
<script src="http://www.versatec.com.br/oi2/js/venn.js"></script>

<!-- Resumo por Hora -->
<div id="pag-cluster" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
  <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
        <div id="topLine" style="width=100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>

    <div class="navbar-inner">
      <div class="container" style="width:auto;">
        <!--a class="brand" href="#">Estalo</a-->
        <ul class="nav">
          <!--li><a href="#/">Menu</a></li-->

         <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


                    </li>

          <!-- Filtro: data inicial -->
          <li>
            <form class="navbar-form" style="padding-right:5px">
              <div class="datahora-inicio input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>

          <!-- Filtro: data final -->
          <li>
            <form class="navbar-form">
              <div class="datahora-fim input-append date">
                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy hh:mm" autocomplete="off" />
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </form>
          </li>
          </ul>

         <ul class="nav aba1">
          <!--Filtro: cluster -->
          <li style="padding-left: 0px;">
          <form class="navbar-form">
            <div class="input-append">
                <a class="btn btn-small checkAll2" id="alinkCluster" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                <select class="filtro-cluster selectpicker span2" multiple="" title="Clusters"></select>
             </div>
           </form>
          </li>





          <!-- Filtro: segmento -->
          <li style="padding-left:8px;">
           <form class="navbar-form">
                        <!--<input type="button" class="selectpicker" value="X" />-->
                 <div class="input-append">
                        <!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
                     <!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" id="inputSeg" data-var="0"></input>-->
                     <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-segmento selectpicker span2" multiple="" title="Segmentos"> </select>
                 </div>
            </form>

          </li>




                    <!--Filtro: regioes -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">
                            <div class="input-append">
                                <a class="btn btn-small checkAll2" id="alinkReg" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-regiao selectpicker span1_2" multiple="" title="Regiões"></select>
                            </div>
                        </form>
                    </li>


                    <!-- Filtro: ddd -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <a class="btn btn-small checkAll2" id="alinkDDD" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                                <select class="filtro-ddd selectpicker span1_2" multiple="" title="DDDs" disabled=""></select>
                            </div>
                        </form>
                    </li>


               <li style="padding-left: 8px; margin-top:5px;">
            <div class="checkbox navbar-btn filtro-check">
              <input class="chkMensal" type="checkbox" ng-model="chkMensal" title="Agrupar por Mês">Mensal</input>
          </div>
      </li>
        </ul>

      <ul class="nav aba4">






          <!-- GILBERTO Fechar o calendario-->
             <div id="bottomLine" style="height:10px;width:400px;background-color:rgb(22,22,22);position:fixed;left:54px;top:50px;margin:0px;padding:0px;"></div>


        <!-- alternando menus -->
        <!--<ul class="nav aba0" style="margin-top: -2px; float: right; margin-right: 53px; margin-left: -14px;">
        <a class="icon-chevron-left" id="alinkAnt" style="background-color:white;"></a>
        </ul>

        <ul class="nav abaX" style="margin-top: 19px; margin-right: 0px; margin-left: -24px; float: right;">
        <a class="icon-chevron-right" id="alinkPro" style="background-color:white;"></a>
        </ul>-->

        <ul class="nav botoes">

          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-agora" data-loading-text="Hora atual..." title="Recuperar hora atual">Agora</button>
            </form>
          </li>


          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
            </form>
          </li>
          <li style="padding-left: 5px;">
            <form class="navbar-form">
              <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
            </form>
          </li>
      <li style="padding-left: 5px;">
            <form class="navbar-form">

              <button class="btn btn-exportar" data-loading-text="..." disabled="">
                Exportar</button>
            </form>
          </li>
          <!--
          <li style="padding-left: 5px;">
            <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button>
          </li>

          -->
        </ul>




      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class = "notification">
        <div class="alert alert-info">
        <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
        </div>
      </div>

      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc"><!--{{status_progress_bar}}--></div>
      </div>

      <div id="venn"></div>

      <div id ="legenda" ng-show="dados.length != 0">
        <TABLE>
          <tr><td colspan="2"><b>{{diaFoco}}</b></td></tr>
          <TR><TD class = "laranja"></TD><TD><b>*144</b></TD></TR>
          <TR><TD class = "azul"></TD><TD><b>*880</b></TD></TR>
          <TR><TD class = "verde"></TD><TD><b>USSD</b></TD></TR>
        </TABLE>
      </div>

<!--
      <div id="venn2"></div>

      <div id ="legenda2" ng-show="dados.length != 0">
        <TABLE>
          <tr><td colspan="2"><b>{{diaFoco2}}</b></td></tr>
          <TR><TD class = "laranja"></TD><TD><b>*144</b></TD></TR>
          <TR><TD class = "azul"></TD><TD><b>*880</b></TD></TR>
          <TR><TD class = "verde"></TD><TD><b>USSD</b></TD></TR>
        </TABLE>
      </div>
-->

      <div ng-grid="gridDados" id="grid" style="width: 100%; height: 300px; bottom: 42px;" ng-show="dados.length != 0"></div>



      <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>
  </div>

  <!-- Exportação XLS -->
  <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>


<script>
    // dropdown hover
    $(document).ready(function() {

      //Alex exibir notificação 29/03/2014
      $('div.logoCliente').mouseover(function(){
           $('div.notification').fadeIn(500);
       });

       // Gilberto Ocultar a notificação 02/04/2014
       $('button.close').click(function () {
           $('div.notification').fadeOut(500);
       });

      $('.js-activated').dropdownHover().dropdown();

      $('.js-activated').mouseover(function () {
          $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
          $("div.datahora-fim.input-append.date").data("datetimepicker").hide();
      });


      // GILBERTO 18/02/2014 - 11/03/2014

      // EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.datahora-inicio > span.add-on').mouseover(function () {
          $("div.datahora-inicio.input-append.date").data("datetimepicker").show();
          $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

          // OCULTAR O CALENDÁRIO

          $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
              $(this).hide();

          });

          $("#topLine").mouseover(function () {
              $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
              $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

          });

          $("#bottomLine").mouseover(function () {
              $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
              $("div.datahora-fim.input-append.date").data("datetimepicker").hide();

          });

      });

      //EXIBIR CALENDARIO AO PASSAR O MOUSE
      $('div.datahora-fim > span.add-on').mouseover(function () {
          $("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
          $("div.datahora-fim.input-append.date").data("datetimepicker").show();
      });
    });




</script>





<style type="text/css">

    #legenda table tr td{
    padding: 5px;
    }

    #legenda table tr .laranja{
    background-color:#ff7f0e;
      width: 50px;
    }

    #legenda table tr .azul{
    background-color:#1f77b4;
      width: 50px;
    }

    #legenda table tr .verde{
    background-color:#2ca02c;
      width: 50px;
    }

    #legenda2 table tr td{
    padding: 5px;
    }

    #legenda2 table tr .laranja{
    background-color:#ff7f0e;
      width: 50px;
    }

    #legenda2 table tr .azul{
    background-color:#1f77b4;
      width: 50px;
    }

    #legenda2 table tr .verde{
    background-color:#2ca02c;
      width: 50px;
    }
</style>

