<!-- Resumo por Item de Controle -->
<div id="pag-resumo-fontes" data-role="page">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="logoCliente">
			<div class="versao">{{versao}}</div>
		</div>
    <!--Linhas para esconder o calendário-->
    <div id="Div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>
    <div id="bottomLine" style="height: 3px; width: 230px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 42px; z-index: 99999; margin: 0px; padding: 0px;"></div>
    <div id="linhaDireita"style="width:3px; background-color: rgb(22,22,22); height:37px; position:fixed; left: 285px;"></div>
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<ul class="nav">
					<li lista-relatorios></li>
					<li style="padding-right: 5px">
						<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
					</li>
					<li>
						<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
					</li>
				</ul>

				<ul class="nav aba1">
          <li style="padding-left: 0px;">
            <filtro-aplicacao></filtro-aplicacao>
          </li>
        </ul>

        <ul class="nav aba2">
          <li style="padding-left: 0px;">
            <filtro-site></filtro-site>
          </li>
          <li style="padding-left:10px">
            <filtro-segmento></filtro-segmento>
          </li>
          <li style="padding-left: 10px;">
            <filtro-regioes></filtro-regioes>
          </li>

					 <!-- Filtro: fontes -->
          <li style="padding-left: 10px;">
            <filtro-fonte></filtro-fonte>
          </li>
        </ul>

        <ul class="nav aba3">
				  <!-- Visao detalhada -->
          <li style="padding-left: 5px; margin-top:5px;">
            <chk-box-visao-detalhada></chk-box-visao-detalhada>
          </li>	
        </ul>

        <ul class="nav botoes">
          <li style="padding-left: 5px;">
            <btn-agr></btn-agr>
          </li>
          <li style="padding-left: 5px;">
            <btn-limpar></btn-limpar>
          </li>
          <li style="padding-left: 5px;">
            <btn-gerar-relatorio></btn-gerar-relatorio>
          </li>
          <li style="padding-left: 5px;">
            <btn-exportar-relatorio></btn-exportar-relatorio>
          </li>
          <li>
            <btn-ajuda></btn-ajuda>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="notification">
        <div class="alert alert-info">
          <button type="button" class="close">&times;</button>
          <span ng-bind-html='info_status'></span>
        </div>
      </div>
      <div class="ampulheta">
        <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
        <div class="perc">
          <!--{{status_progress_bar}}-->
        </div>
      </div>
      <div ng-grid="gridDados" class ="grid" ng-show="dados.length != 0"></div>
    </div>
  </div>
  <!-- Exportação XLS -->
  <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>

<script>
    // dropdown hover
    $(document).ready(function () {
        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
          $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
          $('div.notification').fadeOut(500);
        });

        //Oculta msg de datas nas aplicações
        $('button.btn-gerar').click(function () {
          //document.getElementById("infoDt").style.display = "none";
        });

        $('.js-activated').dropdownHover().dropdown();
    });
</script>






