<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/graph.css">
<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/detail.css">
<link type="text/css" rel="stylesheet" href="http://www.versatec.com.br/oi2/css/legend.css">
<script src="http://www.versatec.com.br/oi2/js/venn.js"></script>

<estilo-responsivo></estilo-responsivo>
<!-- Resumo por Hora -->
<div id="pag-cluster" data-role="page" class="pag-container">
	<div class="menu-barra">
		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">
			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
			<filtro-clusters></filtro-clusters>
			<filtro-segmento></filtro-segmento>
			<filtro-regioes></filtro-regioes>
			<filtro-ddds></filtro-ddds>

			<div class="menu-botoes">
				<div class="menu-checkbox">
					<chk-box-mensal></chk-box-mensal>
				</div>

				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				<btn-exportar-relatorio></btn-exportar-relatorio>
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>
		</div>

		<div class="menu-versao">
			{{versao}}
		</div>
	</div>
	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
		<!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
		<div id="venn"></div>

		<div id="legenda" ng-show="dados.length != 0">
			<TABLE>
				<tr><td colspan="2"><b>{{diaFoco}}</b></td></tr>
				<tr><td class="laranja"></td><td><b>*144</b></td></tr>
				<tr><td class="azul"></td><td><b>*880</b></td></tr>
				<tr><td class="verde"></td><td><b>USSD</b></td></tr>
			</TABLE>
		</div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>

<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();

	});
</script>

<style type="text/css">
	#legenda table tr td {
		padding: 5px;
	}

	#legenda table tr .laranja {
		background-color: #ff7f0e;
		width: 50px;
	}

	#legenda table tr .azul {
		background-color: #1f77b4;
		width: 50px;
	}

	#legenda table tr .verde {
		background-color: #2ca02c;
		width: 50px;
	}

	#legenda2 table tr td {
		padding: 5px;
	}

	#legenda2 table tr .laranja {
		background-color: #ff7f0e;
		width: 50px;
	}

	#legenda2 table tr .azul {
		background-color: #1f77b4;
		width: 50px;
	}

	#legenda2 table tr .verde {
		background-color: #2ca02c;
		width: 50px;
	}
</style>