<!-- Resumo por Ponto de Derivação -->
<div id="pag-pontoDerivacao" data-role="page">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="logoCliente">
            <div class="versao">{{versao}}</div>
        </div>

        <div id="topLine" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <ul class="nav">

          
          <!-- Lista de relatórios -->
          <li lista-relatorios></li> 


                    <!-- Filtro: data inicial -->
                    <li>
                        <form class="navbar-form">

                            <div class="data-inicio input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>
                            <div class="hora-inicio input-append" style="margin-left: -3px;">
                                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>

                    <!-- Fechar o calendario-->
                    <div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
                    <!-- Filtro: data final -->
                    <li style="padding-left: 8px;">
                        <form class="navbar-form">

                            <div class="data-fim input-append date">
                                <input type="text" disabled="disabled" class="span1_1" data-format="dd/MM/yyyy " autocomplete="off" />
                                <span class="add-on"><i data-date-icon="icon-calendar"></i></span>
                            </div>

                            <div class="hora-fim input-append" style="margin-left: -3px;">
                                <input type="text" class="span1_0" data-format="hh:mm:ss" autocomplete="off" />
                                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </form>
                    </li>
                  </ul>

                    <ul class="nav aba1">
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                        <div class="input-append">
                        <a class="btn btn-small checkAll2" id="alinkApl" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                        <select class="filtro-aplicacao selectpicker span1_3" multiple="" title="Aplicações">
                        </select>
                        </div>
                        </form>
                    </li>
                </ul>

              <ul class="nav aba2">

          <!-- Filtro: site -->
          <li style="padding-left:0px;">
             <form class="navbar-form">
                 <div class="input-append">
                    <a class="btn btn-small checkAll2" id="alinkSite" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                     <select class="filtro-site selectpicker span1_2" multiple="" title="Sites/POPs"></select>
                 </div>
              </form>
         </li>


             <!-- Filtro: segmento -->
          <li style="padding-left:5px;">
           <form class="navbar-form">
                        <!--<input type="button" class="selectpicker" value="X" />-->
                 <div class="input-append">
        <!--<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span> -->
        <!--<input type="button" class="check-Segmentos checkAll" value="X" disabled="" id="inputSeg" data-var="0"></input>-->
                     <a class="btn btn-small checkAll2" id="alinkSeg" data-var="0" title="Clique para marcar todos" disabled=""><i class="icon-ok"></i></a>
                     <select class="filtro-segmento selectpicker span1_3" multiple="" title="Segmentos" disabled=""> </select>
                 </div>
            </form>
          </li>

                </ul>

                  <ul class="nav aba3">

                    <!-- Filtro: ddd -->
                    <li style="padding-left: 0px;">
                        <form class="navbar-form">
                            <div class="datahora-fim input-append date">
                                <a class="btn btn-small checkAll2" id="alinkDDD" data-var="0" title="Clique para marcar todos"><i class="icon-ok"></i></a>
                                <select class="filtro-ddd selectpicker span1_2" multiple="" title="DDDs"></select>
                            </div>
                        </form>
                    </li>
                    </ul>

                  <ul class="nav aba4">

                    <!--Checkbox DDD-->
                    <li style="padding-left: 8px; padding-right: 0px; " >
                        <form class="navbar-form">
                            <div class="checkbox navbar-btn filtro-check">
                                <input type="checkbox" ng-model="filtros.porDdd" value="porddd" class="porddd"> DDD
                            </div>
                        </form>
                    </li>

                    <!--Checkbox IIT-->
                    <li style="padding-left: 8px; padding-right: 0px; " >
                        <form class="navbar-form">
                            <div class="checkbox navbar-btn filtro-check">
                                <input type="checkbox" ng-model="filtros.porIit" value="iit" class="iit"> IIT
                            </div>
                        </form>
                    </li>

                    <!--Checkbox por dia-->
                    <li style="padding-left: 8px; padding-right: 0px; " >
                        <form class="navbar-form">
                            <div class="checkbox navbar-btn filtro-check">
                                <input type="checkbox" ng-model="filtros.porDia" value="pordia" class="pordia"> Por dia
                          </div>
                        </form>
                    </li>

>

                </ul>

                  <!-- alternando menus -->
              <!--<ul class="nav aba0" style="margin-top: -2px; float: right; margin-right: 53px; margin-left: -14px;">
              <a class="icon-chevron-left" id="alinkAnt" style="background-color:white;"></a>
              </ul>

              <ul class="nav abaX" style="margin-top: 19px; margin-right: 0px; margin-left: -24px; float: right;">
              <a class="icon-chevron-right" id="alinkPro" style="background-color:white;"></a>
              </ul>-->



<!-- Botões -->
<ul class="nav botoes" style="position:fixed; left:46px; right:auto; margin-top:35px;">


            <ul class="nav botoes">
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-agora" data-loading-text="..." title="Recuperar hora atual">Agora</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <button class="btn btn-gerar" data-loading-text="...">Carregar</button>
              </form>
            </li>
            <li style="padding-left: 5px;">
              <form class="navbar-form">
                <!-- ng-click="listaChamadas()" -->
                <button class="btn btn-exportar" data-loading-text="..." disabled="">
                  Exportar</button>
              </form>
            </li>
      <li>
                        <form class="navbar-form" id="btnAjuda" style="position: absolute; right: -30px;">
                            <!-- ng-click="listaChamadas()" -->
                       </form>
                    </li>
            </ul>



                    </ul>


            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="notification">
                <div class="alert alert-info">
                    <button type="button" class="close">&times;</button>
                    <span ng-bind-html='info_status'></span>
                </div>
            </div>

            <div class="ampulheta">
              <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
              <div class="perc"><!--{{status_progress_bar}}--></div>
            </div>

            <div ng-grid="gridDados" class ="grid" ng-show="dados.length != 0"></div>

            <div class="downhover" ng-show="dados.length > numRegistrosExibidos"></div>

        </div>
    </div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
</div>

<script>
    // dropdown hover
    $(document).ready(function () {

        //Alex exibir notificação 29/03/2014
      $('div.logoCliente').mouseover(function(){
           $('div.notification').fadeIn(500);
       });

       // Gilberto Ocultar a notificação 02/04/2014
       $('button.close').click(function () {
           $('div.notification').fadeOut(500);
       });

        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });

    });
</script>



