<!-- Resumo de automações -->
<div id="pag-resumo-automacoes" data-role="page">
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="logoCliente">
				<div class="versao">{{versao}}</div>
			</div>
	
			<div id="div1" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>
	
			<div class="navbar-inner">
				<div class="container" style="width: auto;">
					<ul class="nav">
	
						<!-- Lista de relatórios -->
						<li lista-relatorios></li>
	
						<!-- Filtro: data inicial -->
						<li><filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora></li>
	
						<!-- Filtro: data final -->
						<li style="padding-left: 5px"><filtro-data-final-sem-hora></filtro-data-final-sem-hora></li>
					</ul>
	
					<ul class="nav aba1">
						<!--Filtro: aplicação -->
						<li filtro-aplicacao class="dirFiltro"></li>
					</ul>
	
					<ul class="nav aba2">
						<!-- Filtro: site -->
						<li filtro-site></li>
						
						<!-- Filtro: segmento -->
						<!-- <li style="padding-left: 10px" filtro-segmento></li>
							
						<li style="padding-left: 5px; margin-top:5px;">
							<div class="checkbox navbar-btn filtro-check">
								<input type="checkbox" id="iit" value="agrupa" ng-model="exibirIC" title="Exibir IC" class="ng-valid ng-dirty">Exibir IC
							</div>
						</li> -->
					</ul>
	
					<!--ul class="nav aba3"-->
					<!-- Chamadas IIT -->
					<!--li style="padding-left: 5px; margin-top:5px;">
				<div class="checkbox navbar-btn filtro-check">
					<input type="checkbox" id ="iit"  value="iit" ng-model="iit" title="Incluir chamadas IIT">IIT</input>
				</div>
				</li-->
					<!--/ul-->
	
					<ul class="nav botoes">
						<li style="padding-left: 5px;">
							<form class="navbar-form">
								<button class="btn btn-limpar-filtros" data-loading-text="..." title="Limpa todos os filtros selecionados">Limpar filtros</button>
							</form>
						</li>
						<li style="padding-left: 5px;">
							<form class="navbar-form">
								<button class="btn btn-gerar" data-loading-text="...">Carregar</button>
							</form>
						</li>
						<li style="padding-left: 5px;">
							<form class="navbar-form">
								<button class="btn btn-exportar" data-loading-text="..." disabled="">Exportar</button>
							</form>
						</li>
					</ul>
	
				</div>
			</div>
	
			<div id="bottomLine" style="height: 10px; width: 400px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 50px; margin: 0px; padding: 0px;"></div>
		</div>
	
		<div class="container-fluid">
			<div class="row-fluid">
	
				<div class="notification">
					<div class="alert alert-info">
						<button type="button" class="close">&times;</button>
						<span ng-bind-html='info_status'></span>
					</div>
				</div>
	
				<div class="ampulheta">
					<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
					<div class="perc">
						<!--{{status_progress_bar}}-->
					</div>
				</div>
	
				<!-- <div category-header="gridDados" style="margin-top: 85px; width: 100%; top: 0;" ng-show="dados.length != 0"></div> -->
				<!-- <div ng-grid="gridDados" class="gridStyle" style="width: 100%; max-height: 500px; top: 0; bottom: 42px;" ng-show="dados.length != 0"></div> -->
				<div id="grd" ui-i18n="'pt-br'">
					<div ui-grid="gridDados" class="grid" ng-if="gridDados.data.length>0" ui-grid-resize-columns ui-grid-pinning ui-grid-exporter
						ui-grid-selection></div>
				</div>
			</div>
		</div>
	
		<!-- Exportação XLS -->
		<div class="iframe" style="width: 1px; height: 1px; overflow: hidden;"></div>
	</div>
	<script>
		$(document).ready(function () {
			// Exibir a notificação
			$('div.logoCliente').mouseover(function () {
				$('div.notification').fadeIn(500);
			});
	
			// Ocultar a notificação
			$('button.close').click(function () {
				$('div.notification').fadeOut(500);
			});
	
			$('.js-activated').dropdownHover().dropdown();
	
			$('.js-activated').mouseover(function () {
				$("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
				$("div.datahora-fim.input-append.date").data("datetimepicker").hide();
			});
	
			// Exibir calendário
			$('div.datahora-inicio > span.add-on').mouseover(function () {
				$("div.datahora-inicio.input-append.date").data("datetimepicker").show();
				$("div.datahora-fim.input-append.date").data("datetimepicker").hide();
	
				// Ocultar o calendário
				$("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
					$(this).hide();
				});
	
				$("#topLine").mouseover(function () {
					$("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
					$("div.datahora-fim.input-append.date").data("datetimepicker").hide();
				});
	
				$("#bottomLine").mouseover(function () {
					$("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
					$("div.datahora-fim.input-append.date").data("datetimepicker").hide();
				});
			});
	
			// Exibir calendário
			$('div.datahora-fim > span.add-on').mouseover(function () {
				$("div.datahora-inicio.input-append.date").data("datetimepicker").hide();
				$("div.datahora-fim.input-append.date").data("datetimepicker").show();
			});
		});
	</script>