<estilo-responsivo></estilo-responsivo>
<!-- Resumo derivações -->
<div id="pag-resumo-der" data-role="page" class="pag-container">
	<div class="menu-barra">
		<!-- Menu de aplicações -->
		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<!-- Filtros -->
			<filtro-data-inicial-sem-hora></filtro-data-inicial-sem-hora>
			<filtro-data-final-sem-hora></filtro-data-final-sem-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-site></filtro-site>
			<filtro-segmento></filtro-segmento>	
			<filtro-ddds></filtro-ddds>
			<div class="menu-botoes">

				<!-- Checkboxes -->
				<div class="menu-checkbox">
					<!--<chk-box-mensal></chk-box-mensal>-->
					<radio-ata-hora></data-hora>
					<!--<chk-box-por-dia></chk-box-por-dia>-->									
				</div>

				<!-- Botoes -->
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				<!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
				
				<btn-exportar-relatorio-interface></btn-exportar-relatorio-interface>
				<!-- <btn-ajuda ng-init="link=2"></btn-ajuda> -->
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>
	</div>
	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ag-grid="gridDados" class="ag-theme-balham" style="height: 500px;"></div>
		<!--<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>-->
		<!-- <div ng-grid="gridDados" id="grid" class="grid" ng-if="gridDados.data.length > 0"></div> -->
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>
</div>


<script>
  // dropdown hover
  $(document).ready(function () {
    //Alex exibir notificação 29/03/2014
    $('div.logoCliente').mouseover(function () {
        $('div.notification').fadeIn(500);
    });

    // Gilberto Ocultar a notificação 02/04/2014
    $('button.close').click(function () {
        $('div.notification').fadeOut(500);
    });

    $('.js-activated').dropdownHover().dropdown();
  });
</script>