<style type="text/css">
    .ultMes:hover {
        cursor: wait;
    }

    .gridStyle {
        border: 1px solid rgb(212, 212, 212);
        width: 600px;
        height: 300px;
    }

    .ngHeaderContainer,
    .ngHeaderScroller {
        height: 60px !important;
    }

    .address {
        padding: 4px;
        position: absolute;
        left: 193px;
        width: 406px;
        border-left: 1px solid #ccc;
        bottom: 0;
        top: 0;

        text-align: center;
    }
</style>
<estilo-responsivo></estilo-responsivo>
<!-- Resumo de Derivações Repetidas por retenção líquida -->
<div id="pag-retencao-liquida" data-role="page" class="pag-container">

    <div class="menu-barra">

        <div class="menu-aplicacoes">
            <lista-relatorios></lista-relatorios>
        </div>

        <div class="menu-filtros">

            <!-- Filtros -->
            <filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
            <filtro-data-final-com-hora></filtro-data-final-com-hora>
            <filtro-aplicacao></filtro-aplicacao>
            <filtro-dois-digitos></filtro-dois-digitos>
            <filtro-motivos></filtro-motivos>
            <filtro-entradas></filtro-entradas>

            <div class="menu-botoes">

                <!-- Checkboxes -->
                <div class="menu-checkbox">
                    <radio-generico ngm="valor" l="24h, 48h, 72h" v="24h, 48h, 72h"></radio-generico>
                </div>

                <!-- Botoes -->
                <!-- <btn-agr></btn-agr> -->
                <btn-limpar></btn-limpar>
                <btn-gerar-relatorio></btn-gerar-relatorio>
                <!-- <button class="btn btn-pivot" data-loading-text="Carregando..." disabled="">Transpor</button> -->
                <btn-exportar-csv-interface></btn-exportar-csv-interface>
                <btn-ajuda ng-init="link=2"></btn-ajuda>
            </div>

        </div>

        <div class="menu-versao">
            {{versao}}
        </div>

    </div>

    <div class="grid-container">
        <div class="ampulheta">
            <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
            <div class="perc">
                <!--{{status_progress_bar}}-->
            </div>
        </div>
        <div class="span11">
            <ul class="nav nav-tabs" style="text-align : center;">
                <li class="active" style="width: 170.75px;">
                    <a href="#visaoDDD" target="_self" data-toggle="tab">
                        <i></i> DDD</a>
                </li>
                <li class="" style="width: 170.75px;">
                    <a href="#visaoUF" target="_self" data-toggle="tab">
                        <i></i> UF</a>
                </li>
                <li class="" style="width: 170.75px;">
                    <a href="#visaoRegiao" target="_self" data-toggle="tab">
                        <i></i> Região</a>
                </li>
                <li class="" style="width: 170.75px;">
                    <a href="#visaoEntreURAS" target="_self" data-toggle="tab">
                        <i></i> URA</a>
                </li>
            </ul>
        </div>

        <div class="span11" style="max-height: 45px;min-height: 45px;">
            <div id="TabContent" class="tab-content" style="overflow: visible;">

                <div class="tab-pane" id="visaoDDD">
                    <div ui-grid="gridDados" class="gridRepetida" ng-if="gridDados.data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
                <div class="tab-pane" id="visaoUF">
                    <div ui-grid="gridDados2" class="gridRepetida" ng-if="gridDados2.data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
                <div class="tab-pane" id="visaoRegiao">
                    <div ui-grid="gridDados3" class="gridRepetida" ng-if="gridDados3.data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>
                <div class="tab-pane" id="visaoEntreURAS">
                    <div ui-grid="gridDados4" class="gridRepetida" ng-if="gridDados4.data.length > 0" ui-grid-auto-resize ui-grid-pinning ui-grid-exporter
                        ui-grid-selection></div>
                </div>

            </div>
        </div>
        <!-- Exportação XLS -->
        <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
    </div>
    <div class="alert-container">
        <div class="notification" style="width: 100% !important">
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <span ng-bind-html='info_status'></span>
            </div>
        </div>
    </div>
</div>

<script>
    // dropdown hover
    $(document).ready(function () {



        //Alex exibir notificação 29/03/2014
        $('div.logoCliente').mouseover(function () {
            $('div.notification').fadeIn(500);
        });

        // Gilberto Ocultar a notificação 02/04/2014
        $('button.close').click(function () {
            $('div.notification').fadeOut(500);
        });


        $('.js-activated').dropdownHover().dropdown();

        $('.js-activated').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();
        });


        // GILBERTO 18/02/2014 - 11/03/2014

        // EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-inicio > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").show();
            $("div.data-fim.input-append.date").data("datetimepicker").hide();

            // OCULTAR O CALENDÁRIO

            $("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
                $(this).hide();

            });

            $("#topLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

            $("#bottomLine").mouseover(function () {
                $("div.data-inicio.input-append.date").data("datetimepicker").hide();
                $("div.data-fim.input-append.date").data("datetimepicker").hide();

            });

        });

        //EXIBIR CALENDARIO AO PASSAR O MOUSE
        $('div.data-fim > span.add-on').mouseover(function () {
            $("div.data-inicio.input-append.date").data("datetimepicker").hide();
            $("div.data-fim.input-append.date").data("datetimepicker").show();
        });
    });
</script>