<style type="text/css">
	/*.rowDetalhes{
		white-space: normal !important;
		height: auto;
		min-height: 40px;
		max-height: 80px;
		word-wrap:break-word;
		vertical-align: center;
	}
	.modal-body{
		max-height: 600px;

	}*/

	body {
		overflow: hidden !important;
	}
</style>
<!-- Estalo analise -->
<div id="pag-registerRequest" data-role="page">
	<!--<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="logoCliente"><div class="versao">{{versao}}</div></div>
		<div id="topLine" style="width:100%;height:7px;background-color:rgb(22,22,22);border:0px"></div>
	<div class="navbar-inner">
	  <div class="container" style="width:auto;">
		<!--a class="brand" href="#">Estalo</a-
		<ul class="nav">		  
          <li lista-relatorios></li> 
		</ul>
	  </div>
	</div>
  </div>-->



	<div class="container-fluid">

		<div class="container step1">
			<div class="row bs-wizard" style="border-bottom:0;">

				<div class="span4 bs-wizard-step" ng-class="step1">
					<!-- complete / active / disabled -->

					<div class="text-center bs-wizard-stepnum">Solicitar Cadastro</div>

					<div class="progress" ng-show="step1!='completed'">
						<div class="bar"></div>
					</div>
					<div class="progress" ng-show="step1=='completed'">
						<div class="bar" style="width:100%"></div>
					</div>
					<span class="bs-wizard-dot"></span>

				</div>

				<div class="span4 bs-wizard-step disabled" ng-class="step2">
					<!-- complete -->
					<div class="text-center bs-wizard-stepnum">Preencher Dados</div>
					<div class="progress" ng-show="step2!='completed'">
						<div class="bar"></div>
					</div>
					<div class="progress" ng-show="step2=='completed'">
						<div class="bar" style="width:100%"></div>
					</div>
					<span class="bs-wizard-dot"></span>

				</div>

				<div class="span4 bs-wizard-step" ng-class="step3">
					<!-- complete -->
					<div class="text-center bs-wizard-stepnum">Solicitar Permissões</div>
					<div class="progress" ng-show="step3!='completed'">
						<div class="bar"></div>
					</div>
					<div class="progress" ng-show="step3=='completed'">
						<div class="bar" style="width:100%"></div>
					</div>
					<span class="bs-wizard-dot"></span>
					<span class="bs-wizard-dot"></span>
				</div>
			</div>

			<div class="RequestAlert">
				<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
				<strong>Atenção!</strong> seu nome de usuário e domínio não estão registrados. <br />Para utilizar a
				ferramenta preencha a solicitação de cadastro ou entre em contato com
				<strong>suporte@versatec.com.br</strong>.
				<!-- <a href='http://www.versatec.com.br/downloads/bases/TemplateIC.xlsx'><i class="icon-download-alt"></i></a> -->
			</div>


		</div>

		<div class="row step1" ng-show="step1!='completed'&&step2!='completed'&&step3!='completed'">
			<div class="span6"></div>
			<div class="span4">
				<ul class="nav">


					<li style="padding-left: 5px;display: inline-block; float: right; margin-top:3px;">
						<button class="btn btn-primary confirmBtn" data-loading-text="..."
							title="Iniciar formulário de solicitação" ng-model="startButton"
							ng-click="startRequest()">Preencher solicitação de cadastro</button>
					</li>

					<li style="padding-left: 5px;margin-top: 5px;" ng-show="">
					</li>
				</ul>
			</div>
			<div class="span2"></div>
		</div>

		<div class="row step4" ng-show="step1=='completed'&&step2=='completed'&&step3=='completed'">
			<div class="span6"></div>
			<div class="span4">
				<ul class="nav">


					<li style="padding-left: 5px;display: inline-block; float: right; margin-top:3px;">
						<button class="btn btn-primary editBtn" data-loading-text="..."
							title="Iniciar formulário de solicitação" ng-model="editButton"
							ng-click="changeRequest()">Alterar requisição de permissões.</button>
					</li>

					<li style="padding-left: 5px;margin-top: 5px;" ng-show="">
					</li>
				</ul>
			</div>
			<div class="span2"></div>
		</div>


		<div class="row step2 clearfix" ng-show="step1=='completed'&&step2!='completed'&&step3!='completed'">
			<form name="UserController" class="form-horizontal navbar-form">
				<div class="span4"></div>
				<div class="span6">
					<label class="form-label" for="Login">Login</label>
					<div class="form-controls">
						<input name="Login" class="input-xlarge registerLogin" ng-model="login" placeholder="OI-XXY"
							pattern="[A-Za-z0-9._]+" maxlength="30" type="text">
						<!--pattern="[a-zA-Z0-9]+"-->
					</div>

					<label class="form-label" for="Nome">Nome</label>
					<div class="form-controls">
						<input name="Nome" class="input-xlarge" ng-model="Nome" maxlength="80" placeholder="João Silva"
							pattern="[^'\x22]+[a-zA-Z\s]" type="text" required>
					</div>

					<label class="form-label" for="Email">E-mail</label>
					<div class="form-controls">
						<input name="Email" class="input-xlarge registerEmail" ng-model="Email"
							placeholder="exemplo@oi.net.br" maxlength="80" type="email">
					</div>
				</div>

				<div class="span4">

					<label class="form-label" for="Dominio">Domínio</label>
					<div class="form-controls">
						<input name="Dominio" class="input-medium registerDominio" ng-model="dominio" placeholder="Oi"
							maxlength="20" pattern="[a-zA-Z0-9\-\s]+" type="text">
					</div>

					<label class="form-label" for="Telefone">Telefone</label>
					<div class="form-controls">
						<input name="Telefone" class="input-medium registerTelefone" ng-model="Telefone"
							placeholder="(21) 99999-9999" pattern="[\(]\d{2}[\)]\s?\d{4,5}[\-]\d{4}" maxlength="15"
							type="tel">
						<!-- pattern="^(?:0|\(?\+[0-9]{2}\)?\s?|[0-9]{2}\s?)[1-79](?:[\.\-\s]"> -->
					</div>

					<label class="form-label" for="Empresa">Empresa</label>
					<div class="form-controls">
						<input name="Empresa" class="input-medium registerEmpresa" ng-model="Empresa" placeholder="Oi"
							maxlength="20" pattern="[a-zA-Z0-9\s]+" list="Empresas" type="text" required>
						<datalist id="Empresas">
							<option ng-repeat="Empresa in Empresas" value="{{Empresa}}">
						</datalist>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="row step3 clearfix" ng-show="step1=='completed'&&step2=='completed'&&step3=='active'">

		<div ng-grid="gridPerms" class="grid clearfix"></div>

	</div>

	<div class="notification"">
      
		<ul class=" pager clearfix" ng-show="step1=='completed'&&step2!='completed'">
		<li class="previous">
			<button class="btn btn-danger cancelBtn" data-loading-text="..." ng-model="prevButton"
				ng-click="emptyRequest()" title="Cancelar solicitação">
				&larr; Cancelar
			</button>
		</li>
		<li class="next">
			<button class="btn btn-info confirmBtn" data-loading-text="..." ng-model="nextButton"
				ng-click="saveRequest()" title="Confirmar solicitação">Confirmar &rarr;
			</button>
		</li>
		</ul>

		<ul class="pager clearfix" ng-show="step2=='completed'&&step3=='active'">
			<li class="previous">
				<button class="btn btn-primary confirmBtn" data-loading-text="..." title="Concluir solicitação"
					ng-model="cfmButton" ng-click="confirmRequest()">Confirmar solicitação.</button>
			</li>
		</ul>

	</div>

	<div class="ampulheta">
		<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
		<div class="perc">
			<!--{{status_progress_bar}}-->
		</div>
	</div>
</div>

<!-- Exportação XLS -->
<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>
</div>