<!-- Ura Ativa -->
<div id="pag-ura-ativa" data-role="page">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="logoCliente"><div class="versao">{{versao}}</div></div>
    <!-- GILBERTO 10/03/2014 Linha Superior para esconder o calendário chato-->
    <!--Linhas para fechar calendário-->
    <div id="topLine" style="width: 100%; height: 7px; background-color: rgb(22,22,22); border: 0px"></div>
    <!-- <div id="bottomLine" style="height: 3px; width: 440px; background-color: rgb(22,22,22); position: fixed; left: 54px; top: 42px; z-index: 99999; margin: 0px; padding: 0px;"></div>
    <div id="linhaDireita"style="width:3px; background-color: rgb(22,22,22); height:37px; position:fixed; left: 490px;"></div> -->
      <div class="navbar-inner">
        <div class="container" style="width:auto;">
          <ul class="nav">
            <li lista-relatorios></li> 
            <li>
              <filtro-data-inicial-sem-hora/>
            </li>
            <li style="padding-left:8px;">
              <filtro-data-final-sem-hora/>
            </li>
            <li style="padding-left: 8px;">
              <filtro-grupos></filtro-grupos>
            </li>
            <li style="padding-left: 8px;">
              <chk-box-mensal></chk-box-mensal>
            </li>
            <!-- <li style="padding-left: 8px;">
              <filtro-aplicacao class="dirFiltro"/>
            </li>
            <li style="padding-left:8px;">
              <filtro-site/>
            </li>
            <li style="padding-left:8px;">
              <filtro-segmento/>
            </li>
            <li style="padding-left:8px;">
              <filtro-empresas class="dirFiltro"/>
            </li> -->
          </ul>

          <!-- <ul style="position:fixed; left:25px; top:25px">
            <li>
              <chk-box-por-dia/>
            </li>
          </ul>

          <ul class="nav aba2">
            <li style="padding-left:8px;">
              <operacao/>
            </li>
            <li style="padding-left:8px;">
              <filtro-transfer-id/>
            </li>
            <li style="padding-left:8px;">
              <filtro-eds-transf/>
            </li>
          </ul> -->

          <ul class="nav botoes">
            <li style="padding-left: 5px;">
              <btn-agr></btn-agr>
            </li>
            <li style="padding-left: 5px;">
              <btn-limpar></btn-limpar>
            </li>
            <li style="padding-left: 5px;">
              <btn-gerar-relatorio></btn-gerar-relatorio>
            </li>
            <li style="padding-left: 5px;">
              <!-- <btn-exportar-relatorio></btn-exportar-relatorio> -->
              <btn-exportar-csv-interface></btn-exportar-csv-interface>
            </li>
            <li>
              <btn-ajuda></btn-help>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class = "notification" style="z-index:2;">
          <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <span ng-bind-html='info_status'></span>
          </div>
        </div>
        <div class="ampulheta">
          <button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
          <div class="perc"><!--{{status_progress_bar}}--></div>
        </div>

        <div class="row" ng-show='QtdChamadasTotal>0' style="text-align: center;">
          <div class="well" ng-show='QtdChamadasTotal>0' style="min-height: 35px;margin: 0px 20px 20px 20px;">
            <div class="span3" style="position: relative;bottom: 3px;">
              <span class="label"> Chamadas</span><br>
              <strong style="font-size: 21px;position: relative;top: 4px;" >{{QtdChamadasTotal}}</strong>
            </div>
            <div class="span3" style="position: relative;bottom: 3px;">
              <span class="label"> Não atendidas</span><br>
              <strong style="font-size: 21px;position: relative;top: 4px;">{{naoDerivadas}}%</strong>
            </div>
            <div class="span3" style="position: relative;bottom: 3px;">
              <span class="label"> Com uma operação</span><br>
              <strong style="font-size: 21px;position: relative;top: 4px;" >{{Derivadas}}%</strong>
            </div>
            <div class="span3" style="position: relative;bottom: 3px;">
              <span class="label"> Com duas ou mais operações</span><br>
              <strong style="font-size: 21px;position: relative;top: 4px;">{{Transferidas}}%</strong>
            </div>
          </div>
        </div>

        <!-- <div ui-grid="gridDados" class="grid" ui-grid-resize-columns ui-grid-pinning ui-grid-exporter ui-grid-selection ui-grid-grouping></div> -->
        <div ag-grid="gridOptions" class="ag-theme-fresh" style="height:520px; margin-top:90px;"></div>
        <!-- <div ng-grid="gridDados2" class="grid" ng-show="dados.length != 0"></div> -->
        <div class="downhover" ng-show="dados.length > numRegistrosExibidos">
      </div>
    </div>

    <!-- Exportação XLS -->
    <div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
  </div>
</div>

<script>
  // dropdown hover
  $(document).ready(function() {
    //Alex exibir notificação 29/03/2014
    $('div.logoCliente').mouseover(function(){
        $('div.notification').fadeIn(500);
      });
      // Gilberto Ocultar a notificação 02/04/2014
      $('button.close').click(function () {
        $('div.notification').fadeOut(500);
      });
    $('.js-activated').dropdownHover().dropdown();
  });
</script>