<estilo-responsivo></estilo-responsivo>
<!-- Detalhamento de Vendas -->
<div id="pag-vendas" data-role="page" class="pag-container">

	<div class="menu-barra">

		<div class="menu-aplicacoes">
			<lista-relatorios></lista-relatorios>
		</div>

		<div class="menu-filtros">

			<filtro-data-inicial-com-hora></filtro-data-inicial-com-hora>
			<filtro-data-final-com-hora></filtro-data-final-com-hora>
			<filtro-aplicacao></filtro-aplicacao>
			<filtro-segmento></filtro-segmento>
			<filtro-grupos-produtos></filtro-grupos-produtos>
			<filtro-produtos></filtro-produtos>
			<filtro-resultado></filtro-resultado>
			<filtro-erros></filtro-erros>
			<filtro-parceiros></filtro-parceiros>
			<filtro-nao-abordados></filtro-nao-abordados>

			<div class="menu-botoes">
				<div class="menu-checkbox">
					<chk-box-nao-abordados></chk-box-nao-abordados>					
					<div class="checkbox navbar-btn filtro-check">
						<input type="checkbox" ng-model="filtros.atualizacao" title ="Atualização de Status de venda após batimento com planilha da M4U" class="filtro-atualizacao ng-pristine ng-valid">Atualizado em</input>
					</div>			
				</div>
				<btn-agr></btn-agr>
				<btn-limpar></btn-limpar>
				<btn-gerar-relatorio></btn-gerar-relatorio>
				
				<btn-exportar-csv-interface></btn-exportar-csv-interface>
			</div>

		</div>

		<div class="menu-versao">
			{{versao}}
		</div>

	</div>
	<div class="grid-container">
		<div class="ampulheta">
			<button class="abortar" data-loading-text="Parando..." title="Parar operação">Parar</button>
			<div class="perc">
				<!--{{status_progress_bar}}-->
			</div>
		</div>
		<div ng-grid="gridDados" class="grid" ng-show="dados.length != 0"></div>
		<!-- Exportação XLS -->
		<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
	</div>
	<div class="alert-container">
		<div class="notification" style="width: 100% !important">
			<div class="alert alert-info">
				<button type="button" class="close">&times;</button>
				<span ng-bind-html='info_status'></span>
			</div>
		</div>
	</div>

	<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:3100">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×</button>
			<h3 id="myModalLabel">Log da chamada</h3>
		</div>
		<div class="modal-body">

			<div id="headerLock" style="position: fixed; background-color: #ffffff; width: 67%; margin-top: -15px;">
				<ul class="nav nav-pills">
					<li ng-class="{'active':!ocultar.log_formatado}">
						<a href="#" class="btn-log-formatado changeSearchLog">Formatado</a>
					</li>
					<li ng-class="{'active':!ocultar.log_original}">
						<a href="#" class="btn-log-original changeSearchLog">Original</a>
					</li>
					<!--<li ng-class="{'active':!ocultar.log_prerouting}"><a href="#" class="btn-log-prerouting changeSearchLog">Pré Routing</a>
						</li>
						<li ng-class="{'active':!ocultar.log_preroutingret}"><a href="#" class="btn-log-preroutingret changeSearchLog">Pré Routing Retorno</a>
						</li>-->
					<li class="SearchTool input-append pull-right">
						<input type="text" class="span2 searchtool_text" placeholder="Buscar...">
						<input class="ghost" style="display:none">
						<!-- <button class="btn btn-small searchtool_button"><i class="icon-search"></i></a>  <i class="icon-search"></i>-->
						<button class="btn searchtool_next" title="Ir até o próximo">
							<i class="icon-arrow-down"></i>
						</button>
						<button class="btn searchtool_prev" title="Ir até o anterior">
							<i class="icon-arrow-up"></i>
						</button>
						<button class="btn muted search_button" disabled>
							<span class="muted search_results"></span>
						</button>
					</li>
					<li id="search_result_button" class="pull-right" style="max-width:15%; display:none;">

					</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div class="log-original" ng-hide="ocultar.log_original">
				<!-- <pre>{{callLog}}</pre> -->
				<pre ng-bind-html="callLog" class="callLogValue"></pre>
			</div>



			<div class="log-formatado" ng-hide="ocultar.log_formatado">

				<!--<div class="checkbox navbar-btn filtro-check enxugar">
						<input type="checkbox" id="edEnx" ng-model="estadoEnx" title="ED" class="btn-log-formatadoEdEnx"><span class="black">Remover EDs irrelevantes</span>
						</input>
					</div>
					<div class="checkbox navbar-btn filtro-check enxugar2">
						<input type="checkbox" id="icEnx" ng-model="itemEnx" title="IC" class="btn-log-formatadoIcEnx"><span class="black">Remover ICs irrelevantes</span>
						</input>
					</div>
					<div class="checkbox navbar-btn filtro-check enxugar3">
						<input type="checkbox" id="icEnxAll" ng-model="itemEnxAll" title="IC" class="btn-log-formatadoAllIcEnx"><span class="black">Remover ICs</span>
						</input>
					</div>
					<br>-->


				<ul>
					<li ng-repeat="info in logxml.infos_iniciais">
						<b>{{info.nome}}:</b> {{info.valor}}
					</li>
				</ul>

				<div ng-repeat="filho in logxml.prompts_iniciais" ng-class="filho.codigo">
					<i ng-class="filho.icone"></i>
					<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
					<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
					<span ng-repeat="texto in filho.valor">
						<i>{{texto}}</i>&nbsp;</span>
				</div>

				<div ng-repeat="node in logxml" ng-class="node.codigo">
					<header>
						<span class="nome">{{node.valor}}</span>
						<span class="time">
							<i class="icon-time"></i>
							{{node.inicio | date:'dd-MM-yyyy HH:mm:ss'}} </span>
						<!-- Colocar em formato de data -->
					</header>
					<div ng-repeat="filho in node.filhos" ng-class="filho.codigo">
						<i ng-class="filho.icone"></i>
						<input type="hidden" class="hPrompt" value="{{filho.codPrompt}}">
						<input type="hidden" class="hAplicacao" value="{{filho.codAplicacao}}">
						<span ng-bind-html="filho.valor"></span>
					</div>
				</div>
			</div>




			<div class="log-prerouting" ng-hide="ocultar.log_prerouting">
				<pre>{{prerouting}}</pre>
			</div>
			<div class="log-preroutingret" ng-hide="ocultar.log_preroutingret">
				<pre>{{preroutingret}}</pre>
			</div>
		</div>
		<!--div class="modal-footer">
	  <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
	</div-->
	</div>

	<div class="iframe" style="width:1px;height:1px;overflow:hidden;"></div>
</div>

<script>
	// dropdown hover
	$(document).ready(function () {

		//Alex exibir notificação 29/03/2014
		$('div.logoCliente').mouseover(function () {
			$('div.notification').fadeIn(500);
		});

		// Gilberto Ocultar a notificação 02/04/2014
		$('button.close').click(function () {
			$('div.notification').fadeOut(500);
		});

		$('.js-activated').dropdownHover().dropdown();
		// GILBERTO 18/02/2014 - 07/03/2014

		$('.js-activated').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();
		});


		// GILBERTO 18/02/2014 - 11/03/2014

		// EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-inicio > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").show();
			$("div.data-fim.input-append.date").data("datetimepicker").hide();

			// OCULTAR O CALENDÁRIO

			$("div.bootstrap-datetimepicker-widget.dropdown-menu[style^=d]").mouseleave(function () {
				$(this).hide();
			});

			$("#topLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();
			});

			$("#bottomLine").mouseover(function () {
				$("div.data-inicio.input-append.date").data("datetimepicker").hide();
				$("div.data-fim.input-append.date").data("datetimepicker").hide();
			});
		});

		//EXIBIR CALENDARIO AO PASSAR O MOUSE
		$('div.data-fim > span.add-on').mouseover(function () {
			$("div.data-inicio.input-append.date").data("datetimepicker").hide();
			$("div.data-fim.input-append.date").data("datetimepicker").show();
		});
	});
</script>